[2018-02-05 18:14] #449 closed

[2018-02-06 04:35] jessicagood commented on #459
@UASTeam Added with commit 31c9d69. Please download the latest development version of the app to see how you like it. The interval widths DO NOT yet correspond to where the labels are positioned. I'll fix this if you're all sure this way of displaying the x-axis works for you.

[2018-02-07 21:52] jessicagood commented on #459
Interval widths correspond correctly since commit 02d59d71608dcf8f1e4cf416b5afe19dc73abb87

[2018-02-08 21:34] jessicagood commented on #324
Added with commit  d0f1d4c in the Sed branch.

Long press (or double click if on the WEB) on the line or polygon to change to freeform.

[2018-02-08 21:34] #324 closed

[2018-02-17 22:04] panamint55 opened #463 "Text for magnetic declination in the Project description"
The current text is not clear enough.  Replace it with:

Enter declination based on whether magnetic north is east or west of geographic north.  If magnetic north is west, enter declination as a negative number; if it is east enter declination as a positive number.

[2018-02-17 22:07] panamint55 opened #464 "GPS Datum under project description"
Should say "default value is WGS84, enter to change"

[2018-02-17 22:52] panamint55 commented on #463
Better:

Enter declination based on whether magnetic north is east or west of geographic north. If magnetic north is west of geographic north, enter declination as a negative number; if it is east enter declination as a positive number.

[2018-03-02 20:13] jasonash opened #465 "New Spot-Level attribute "Datasource""
Per Doug, we need to add a new spot-level attribute "datasource" that will be used to specify where the spot originated. Values could be: app, shapefile, stereonet, faultkin, etc...

[2018-03-02 20:14] jasonash opened #466 "New Spot-Level attribute "Geologist""
Per Doug and Rick, we need a new spot-level attribute "Geologist" for storing the name of the geologist responsible for generating the spot.

[2018-03-02 20:15] jasonash opened #467 "Add citation info to data model"
Per Doug, we need to allow for the inclusion of citation data in Strabo. This information could likely be stored at the dataset level. I will investigate the correct ISO field names for storing this data.

[2018-03-08 17:16] jessicagood opened #468 "Sed: Lat & Long for each interval"
Per @btikoff & @UASTeam: Need to automatically record the current lat & long for each interval.

[2018-03-08 17:17] #371 closed

[2018-03-08 17:38] jessicagood commented on #468
Since a strat section is similar to a image basemap (both plotted in pixels and nested within a geographically located Spot) this is actually a bigger question than just for Sed.

Do we want the ability to have individual geographic lat & longs for a Spot on an image basemap or strat section that is not just the geographic lat & long inherited from the "parent" Spot? It sounds like the answer is '

[2018-03-08 17:44] jessicagood opened #469 "Sed: Setting mode & tabs in preferences"
In Preferences we need a toggle for Strat Mode which makes the main menu item for the Strat Sections visible.

Then we also need a section in Preferences for Sed Tabs to turn them on or off. Being able to turn these tabs on or off is not related to whether the Strat Mode is toggle on or not. Also these tabs can appear for any type of Spot, not just Interval Spots as it is now.

[2018-03-08 23:11] jessicagood opened #470 "Sed: Need Interval Type in Basics Form"
@UASTeam We need the Interval Type field (that's in the Add Interval form) to also show up in the Basics form. Can you move it in there in the order you want it or let me know where you want it?

[2018-03-09 19:41] UASTeam commented on #470
Added the Interval type just below interval thickness to the Basics subtab form.

[2018-03-09 20:32] jessicagood commented on #470
@UASTeam There is a problem with the logic here. For example, you have Primary Lithology not visible until the bed or package field is answered. But the Primary Lithology might already be filled out from the Add Interval dialogue. Also, logic (matching the logic from the Add Interval dialogue) needs to be applied to Interval Type which you just moved in to this form too.

[2018-03-09 23:01] jessicagood commented on #469
Fixed in commit 9b2c83c3743afc9a0077931b67e66a3b562d2cf0

[2018-03-09 23:01] #469 closed

[2018-03-09 23:28] jessicagood commented on #448
@UASTeam What if no weathering profile has been specified for an interval? I don't think you'd want to just not display the interval, right? Does this field need to have another option in the drop-down that is the default option which says "not specified?"

[2018-03-12 20:25] jessicagood commented on #448
Showing the combined option gets pretty complicated. An interval can only have one geometry but being able to show a weathering and grain size together means two different geometries. I haven't been able to come up with a clever solution yet. Any other ways this can be visualized?

[2018-03-20 04:27] jessicagood commented on #468
Talked to @panamint55 and since this would be a Spot property we should add it to the main Spot tab.

[2018-03-20 04:29] jessicagood commented on #468
Added with commit 183bd8e0d80645d94222d2efe1cdb92c428d0b0e

Lat and Long still show up like normal for regular geographic point Spots but now if the Spot is mapped in pixel coordinates the pixels coordinates are shown AND lat and long fields. In this case the lat and long are just stored in spot.properties since the geometry must contain the pixel coordinates.

[2018-03-20 04:31] jessicagood commented on #468
With 3030eb8e5672dd4b0a609649e9f36822a1989836 the current real-world location is added to a Spot when a Spot mapped on a strat section is created.

[2018-04-02 18:13] UASTeam opened #471 "Sed lithologies subtab order"
Could we rearrange the Sed Lithologies subtabs to be (left to right): Basics | Texture | Composition | Stratification?

[2018-04-02 18:21] UASTeam opened #472 "GPS Issue"
When used in the field, spot locations were either plotted 1) on top of each other for spots close by, or 2) miles away from where they should be. Error of this magnitude will make plotting the measured section path impossible. I did let the iPad sit with Strabo open for several minutes before updating spot location with no improvement in accuracy.

[2018-04-02 18:27] UASTeam opened #473 "No appearance of interval"
When a new strat column is started, the first interval is not displayed unless you exit then reload the column. Additionally, if a second interval is added before reloading the column (to get it to display), it is plotted over the first (i.e. the first and second column share the same lower left coordinates). This requires deleting and re-adding the second interval in order for it to plot correctl

[2018-04-02 18:33] UASTeam commented on #470
Logic issues fixed by getting rid of the interval type heading, and matching the add interval dialogue to the basics subtab with the 'is this a bed or package (succession of beds) or covered?'.

[2018-04-02 18:35] UASTeam commented on #462
With the new interpretations subtabs are these still issues that need addressed?

[2018-04-02 18:54] jessicagood commented on #471
Fixed with commit ae6c1005b817b8ba70872bb17d8f7c2324b16058

[2018-04-02 18:54] #471 closed

[2018-04-02 21:05] jessicagood commented on #473
Fixed with commit 4ad3d0c6230a41e01dd5949dcc0126a4a63bca80

[2018-04-02 21:05] #473 closed

[2018-04-02 21:18] jessicagood commented on #472
@UASTeam What type of iPad are you using? It is WiFi only or does it have a cellular radio as well? Apple doesn't put GPS receivers in the WiFi only iPads so the reading it gives isn't as good.

There's not much I can do about the accuracy of the GPS receiver. The app just records whatever number it receives from the device. But we can figure out how to make an external iPad GPS work if we need.

[2018-04-05 23:15] jessicagood commented on #462
Yes the bulleted items still apply and apply to all Sed forms. They just need to be cleaned up.

[2018-04-09 19:01] jessicagood commented on #472
If rounding is one of the issues per @panamint55 I have the app set to round lat and long from getCurrentPosition() to 6 decimal places with commit 9fb8cd4e72719221d81e914418b825758ef4911f

[2018-04-09 20:39] panamint55 opened #474 "Patterns for rock units"
This is probably the easiest path to get patterns for rock units.  It have the USGS data easily usable.

https://blogs.otago.ac.nz/si-geology/resources/illustrationgraphics-resources/usgs-ai-pack-instructions-and-download-link/

These can then be modified as needed for StraboSpot.

[2018-04-09 21:59] jessicagood commented on #453
SVGs work as well but we need to have files for each pattern with all the possible color options for that pattern. I haven't figured out how to get the colors to work independently of the fill pattern since the patterns are brought in as images.

Here are some samples of the same pattern given to me by @UASTeam as svgs with sizes 1"x1", 2"x2" and 4"x4". The 1"x1" looks to be a clearer pattern.

![

[2018-04-09 22:04] jessicagood commented on #474
Are these the same patterns used as the interval fill patterns for a strat section? If so this issue needs to be linked to https://github.com/StraboSpot/strabo-mobile/issues/453. And would we want to use the patterns anywhere else within the app besides on the graphic for a start section?

[2018-04-13 19:20] panamint55 opened #475 "Image origin in strat section needs to be able to be a negative number"
You can only set the lower left corner or an image overlay in a strat section to "0."  This need to be a negative number as well if the strat section starts somewhere in the image.

[2018-04-13 22:28] panamint55 opened #476 "Tab vs. Page"
I have gone thru the help document to change tab to page.  We need to do this in the app as well.  For example, on the preferences page it is called "tab control" and this should be changed.

I hope this is easy.  It will make our lives easier once done.

Doug

[2018-04-16 16:15] UASTeam commented on #474
Those are the same patterns that I've been incorporating into the strat section thus far.

[2018-04-16 16:50] jessicagood commented on #476
Does the StraboSpot website have the latest documentation? Looks like there are still some uses of "tab" in help documentation @NathanNovak downloaded today.

From the perspective of what the users sees this is easy to change. If I want to maintain consistency between what the user sees and the code itself then it is a much bigger task since I use the word "tab" in 158 different parts of the code.

[2018-04-16 17:51] jessicagood commented on #475
@panamint55 Do you have one of your video of this not working or more detail? I can set the "Image Origin X Value" (which is the lower left corner) to a negative number. Maybe calling it "Lower Left Corner X Value" instead of "Image Origin X Value" is better?

[2018-04-16 17:56] panamint55 commented on #475
On my android tablet there was no “-“ sign on the keyboard.  It only popped up numbers.

Doug

***********************************************
J. Douglas Walker
Isotope Geochemistry Laboratories
Nichols Hall
2335 Irving Hill Drive
Lawrence, KS  66045
***********************************************
From: Jessica Good <notifications@github.com>
Reply-To: StraboSpot/strabo-mobile <reply@reply.github.

[2018-04-16 17:57] panamint55 commented on #476
I have prepared a new version.  I will send that out this afternoon.

Doug

***********************************************
J. Douglas Walker
Isotope Geochemistry Laboratories
Nichols Hall
2335 Irving Hill Drive
Lawrence, KS  66045
***********************************************
From: Jessica Good <notifications@github.com>
Reply-To: StraboSpot/strabo-mobile <reply@reply.github.com>
Date: Monday,

[2018-04-16 18:15] jessicagood commented on #475
My Android shows the following and works fine for that field. Which Android are you using? I'll need to figure out why some Androids don't show the "-" sign then.
![screenshot_20180416-111055](https://user-images.githubusercontent.com/1493985/38827287-4682023e-4167-11e8-9764-82667c07a3d7.png)

[2018-04-16 18:30] jessicagood commented on #475
@panamint55 I've been reading about this issue with older Samsung keyboards and the solution many found was to install the Google keyboard.

[2018-04-16 18:58] jessicagood commented on #475
Ok good. Closing this.

[2018-04-16 18:58] #475 closed

[2018-04-16 19:06] jessicagood commented on #476
We have two "pages" for some things now. For example, we have the Spot Tags page and the Project Tags page. Likewise with Relationships, Images and Samples. So we're just going to have be careful to differentiate whether we're talking about a page at Spot level or at the Project level.

[2018-04-16 22:13] UASTeam commented on #462
I've edited the xls files to resolve the above issues. Please review and let me know if I missed anything.

[2018-04-16 22:52] jessicagood commented on #462
I found a few choice values where it still said option_19 or something similar and a couple that were more than 14 characters but I fixed these so I think it looks good now. I pulled the new forms into the code with commit c34ba0168111f549957598bcb21fc0e646c18892 and updated the development version of the app.

[2018-04-16 22:52] #462 closed

[2018-04-17 15:11] panamint55 opened #477 "Select for stereonet"
We need to get this option into the online version.  This way, folks can select data in the way that they do on the mobile version.

We should also have an option for downloading filtered spot lists.  This would help as well.

[2018-04-17 16:05] NathanNovak opened #478 "Sed: Swipe from left side of screen crashes app"
On the "Strat Sections" page, after a strat section is selected, if user swipes right on left edge  to expose menu the screen displays nothing but header for the selected "Strat Section."  Also crashes app and app needs to be restarted.

[2018-04-17 16:54] NathanNovak opened #479 "Sed: Unit conversion on Strat Sections graph"
When creating an interval and changing the unit measurements in the Strat Sections Settings from one unit to the other (e.g. m -> cm) the thickness of the interval does not change on the graphic to the new unit.  Only when you change the unit thickness of an individual interval (not in the Strat Section Settings) does it change the units of the graphic and the interval which was changed.  All othe

[2018-04-18 14:16] UASTeam opened #480 "Sed: Units Change Warning"
The ‘Units change!’ warning seems to pop up with any drop-down selection in the latest 'strat section' page. That warning should only come up in association with the column y-axis units selection.

[2018-04-18 14:19] UASTeam opened #481 "Sed: Misc. Lithology Labels Missing"
With the latest update the misc. lithology labels a) don't show up when adding in a misc. lithology interval (e.g. coal), and b) the 'add misc. lithology labels' button on the 'strat section' page is now missing.

[2018-04-18 14:20] UASTeam opened #482 "Sed: Selections not propagating into subsequent pages"
Relative resistance in the add interval dialogue isn’t propagating into the basics subpage.
Principal structures from the basics subpage are not propagating into the sed structures- physical subpage.

[2018-04-18 15:29] jessicagood commented on #480
Fixed with commit a544d2fd0b66e1a60a427c57dfcc0f0661815d90

[2018-04-18 15:29] #480 closed

[2018-04-18 15:30] jessicagood commented on #481
Fixed with commit 697812282e2e0221094582450f0598bc3fe1bf84

[2018-04-18 15:30] #481 closed

[2018-04-18 18:25] jessicagood commented on #482
Fixed with commit 639e8b5e7ff20f3bd862dec9bc8d1bfa91ffb969
Fixed with commit 00b7fb333ff79349d6281a2868b0d5e7d909b257

[2018-04-18 18:25] #482 closed

[2018-04-18 18:34] jessicagood commented on #477
Stereonet in web version with commit 24555c0c9f179337db3a533c03d076c401d6a588

[2018-04-18 23:46] jessicagood commented on #460
This wasn't working correctly. See https://github.com/StraboSpot/strabo-mobile/issues/479 so commit 18ab85a38e04d51799795d968b75fcc7a4f53baf prevents changing units once there are already intervals in a section. Start a new section or delete the intervals in a section to be able to change the units in the Strat Section settings.

[2018-04-18 23:50] jessicagood commented on #460
Actually see commit 617bad98875bf291f55037b584d99f5645350bdf

[2018-04-25 00:43] egbunse commented on #312
@jessicagood This weekend on the sedimentology trip, I was adding color to my geologic unit Tags and noticed a bug: when a point Spot is assigned a Tag with color, that point will no longer be visible on the main map (map won't load) or an image basemap (just the photo is visible). When the color is cleared from the Tag the Spot is again visible on maps.

[2018-04-25 00:58] egbunse opened #483 "Sed: Change color of section interval"
From sed field trip: There needs to be a way of controlling the color of the strat intervals. This could use the geologic unit Tag or be a separate color. Right now it appears to assign color based on lithology, but this was confusing when we added two shale-y layers that were adjacent.

[2018-04-25 01:10] egbunse opened #484 "Sed: Pages Not Saving"
From Sed Field Trip: certain pages weren't saving data (they'd be filled out completely but then were blank upon returning to the page again)- 'Sed Lithologies- Basics' and 'Sed Interpretations- Environmental Interpretation.' This happened on my Android phone and the iPad Mini.

[2018-04-25 15:46] jessicagood commented on #484
@egbunse This sounds pretty bad but I can't figure out how to recreate this. Every time I try, including on Android and iPad, it always saves the data. Any other help you can give me or the exact steps to reproducing this error?

[2018-04-25 15:53] jessicagood commented on #312
@egbunse Good catch! Fixed with commit 358b5aa8ff4401854d7e057fa259d87d954b6b34 and the testing app has been updated.

[2018-04-25 16:02] #359 closed

[2018-04-25 16:11] jessicagood commented on #483
Yes, the colors are set according to a list given to me by @UASTeam. See below. It looks like they are USGS set colors. If they're standard colors I wouldn't think we'd want to give the user the option to change the colors. Maybe once we add the patterns that would help differentiate similar intervals? @UASTeam what is your thought on this?

![image](https://user-images.githubusercontent.com/14939

[2018-04-25 21:03] egbunse commented on #483
@jessicagood OK, I wasn't aware of how the color was chosen for this and I went back and checked my Strat Columns and the intervals appear to follow these colors. I wrote this based off a team on the field trip who asked me this question since they had two black adjacent intervals which made it hard to distinguish the two. I should have written down their lithologies for these intervals. Let's tab

[2018-04-25 21:33] egbunse commented on #484
@jessicagood I just realized on the 'Sed Lithologies-Basics' page that I was trying to add an interval to the Spot holding an entire Strat Section, so no wonder it wasn't saving (i.e.- I set a Spot on the MapView and toggled on 'Add Stratigraphic Section' then went over to Sed Lithologies-Basics instead of adding the interval with the '+' on 'View Stratigraphic Section'- just wasn't thinking).
To

[2018-04-25 21:51] jessicagood commented on #484
@egbunse I actually had it that way initially, where you could only see the 'Sed Lithologies,' 'Sed Structures,' and 'Sed Interpretations' pages if you were in an Interval, but I was asked to change it so the user could see those pages if they're toggled on no matter what type of Spot they're in. It sounded like they wanted the option for someone to still record this information for a Spot even if

[2018-04-25 22:33] egbunse commented on #484
@jessicagood I've been trying to add info to these pages in normal spots and the interface either freezes up (clicking to go to other pages or the map doesn't work) and/or when revisiting the info entered isn't saved.
Also, maybe to avoid confusion on the 'Sed Lithologies' page, the basics page should have a note or message box to only use this page in association with an interval spot?

[2018-04-26 00:35] jessicagood commented on #484
@egbunse Ok, that helped me find a few related bugs for the freezing or not saving, hopefully fixed with 2b9a41828f6dcc0d297af3f1e0b11608dffcf468. I updated the testing app. Can you check it out?

The problem with a note on the Basics page that this page is only to be used in association with an interval spot is that they want to be able to use the page with ANY Spot. If a user doesn't want to cre

[2018-04-26 01:31] egbunse commented on #484
@jessicagood Great! I just was able to successfully add the Sed Interpretations- Environment data that I had taken a screenshot of in the field. Was able to go back to the Spots list and see that the 'Images' and 'Sed Interpretations' pages were filled out for that Spot. Then I made a new Spot and filled out 'Sed Lithologies,' 'Sed Structures,' and 'Sed Interpretations' and they all saved, so I'm

[2018-04-26 01:31] #484 closed

[2018-04-26 01:42] UASTeam commented on #483
The above list isn't standardized USGS colors, but rather a list that I put together simply based on lithology and approved (either explicitly or implicitly) by the other sed folks. I'm open to changing color options, though that is something that will need to be done before I make the color/pattern tiles for the column.

[2018-04-26 15:51] #483 closed

[2018-04-26 16:00] jessicagood commented on #448
Until we figure this out I think I'm going to change this so that when a user sets up the strat column they can choose any of the types of column profile, including weathering, but as soon as they have added intervals to the column the profile *cannot* be changed to weathering.

If the column profile is set to weathering the interval boxes can be drawn based on the weathering field but otherwise t

[2018-04-26 16:00] #470 closed

[2018-04-26 16:00] #468 closed

[2018-04-26 16:02] #461 closed

[2018-04-26 16:02] jessicagood commented on #459
@UASTeam You're good with this now right? Can we close this issue?

[2018-04-26 19:11] UASTeam commented on #459
I'm happy with the x-axis as it is now. I'd be okay with closing this issue.

[2018-04-26 19:14] UASTeam commented on #448
In the future it will be necessary to be able to display the column by either grain size or by weathering profile and have the option to select display between the two. However, for now I would be okay with what you suggest in the first paragraph.

[2018-05-01 04:26] jessicagood commented on #448
@UASTeam Actually I think I have it so you can covert the column between grain and weathering (though not show both yet because that is immensely more complicated) but how should intervals be displayed if there is no weathering data entered? Weathering is not a required field. Do we make it required or should there be a possible choice option before "1 - least resistant" that is "0 - unknown" (or

[2018-05-01 17:52] UASTeam commented on #448
I would vote for making the weathering a required field.

[2018-05-01 17:53] jessicagood commented on #448
@UASTeam I was writing the following when you commented:

I pushed an update that allows you to change to between grain size and weathering (but not show both yet). Until I know how you want weathering to be shown for intervals where no weathering has been specified the intervals will just appear as with a very narrow width (so at the very least you can still see the intervals).

![image](https://

[2018-05-01 17:55] jessicagood commented on #448
@UASTeam Do you still want weathering required or to keep the solution I did above?

[2018-05-01 17:56] UASTeam commented on #448
Let's just go ahead and make weathering required.

[2018-05-01 18:05] jessicagood commented on #448
@UASTeam Ok, it's a required field with commit c1556f9e0902292d509fc9a9ec910d0010acab2d. Old data will still display as above but any new data will require the weathering field. I updated the app so you can test it out.

[2018-05-01 23:11] jessicagood commented on #453
Added code for patterns with commit a4d1082eceb6742b34b3c565fb98b2267f093bcf and the pattern files with commit 6ce5a276b1ea6e03de8d9c5b0cc7737731d30f0e.

[2018-05-02 15:55] jessicagood commented on #448
Per @UASTeam weathering should not be a required field. Updated with commit 5ec04816e36288c552ec553b4a76da72d2839edd

[2018-05-02 23:25] jessicagood commented on #483
Colors updated by @UASTeam to:

![image](https://user-images.githubusercontent.com/1493985/39554038-6a235dee-4e25-11e8-83a8-03962ee24827.png)

[2018-05-03 13:30] jasonash opened #485 "Feature Request: Allow importing of GeoTiff/GeoPDF data in the field."
Vanessa Bennett at Geomantia has requested that we add the option of importing GeoTiff/GeoPDF data directly into the app in the field with no internet access. She uses drone imagery in remote locations and often does not have internet access in the field. Of course this is a tall order for future development.

[2018-05-03 19:24] NathanNovak opened #486 "Sed: 3D structures Validation Error for no selection"
Selecting "Adding a Fabric", "Adding a Tensor", or "Adding Other", then not making a selection, and closing out of the field in 3D structures page causes the a Validation Error modal to come up.  With this you are unable to navigate to other pages unless a required field is filled out.  There si a work around if you go into the "Add a Fold" section and then close out of there.

[2018-05-07 17:26] jessicagood commented on #486
Fixed with commit 5512811d7eb3c4641f19d349712224db9457754e

[2018-05-07 17:26] #486 closed

[2018-05-07 20:48] NathanNovak commented on #464
Made the change.  Was not able to add the comma because it separates the fields.

[2018-05-07 21:40] NathanNovak commented on #464
fixed with commit ad1ea713274cd515e9472b4a563fc4a567beb1e3

[2018-05-07 21:40] #464 closed

[2018-05-07 21:40] NathanNovak commented on #463
fixed with commit ad1ea713274cd515e9472b4a563fc4a567beb1e3

[2018-05-07 21:40] #463 closed

[2018-05-07 22:05] NathanNovak commented on #476
fixed with commit dc894ec827f4104cb378ea24da86711236dc3dbc

[2018-05-07 22:05] #476 closed

[2018-05-07 22:07] #459 closed

[2018-05-07 23:32] jessicagood commented on #466
@panamint55 I wonder if we need another Spot page titled Sources? For one or more geologists associated with a Spot & for the data source(s) (in issue https://github.com/StraboSpot/strabo-mobile/issues/465)

 Geologist should pull from a list of profiles so it'll be easy to search the db for all Spots associated with a particular geologist instead of people writing a name however they want.

[2018-05-07 23:33] jessicagood commented on #465
What do we want this list of values to be exactly? And should it be on a new Sources Spot page? See referenced issue #466 too.

[2018-05-07 23:33] jessicagood commented on #434
@panamint55 Do you want this is in the new build?

[2018-05-07 23:33] jessicagood commented on #433
@panamint55 Do you want this is in the new build?

[2018-05-07 23:33] jessicagood commented on #432
@panamint55 Do you want this is in the new build?

[2018-05-07 23:33] jessicagood commented on #431
@panamint55 Do you want this is in the new build?

[2018-05-07 23:34] jessicagood commented on #430
@panamint55 Do you want this is in the new build?

[2018-05-07 23:34] jessicagood commented on #429
@panamint55 Do you want this is in the new build?

[2018-05-08 02:10] panamint55 commented on #432
Yes.

***********************************************
J. Douglas Walker
Isotope Geochemistry Laboratories
Nichols Hall
2335 Irving Hill Drive
Lawrence, KS  66045
***********************************************
From: Jessica Good <notifications@github.com>
Reply-To: StraboSpot/strabo-mobile <reply@reply.github.com>
Date: Monday, May 7, 2018 at 6:33 PM
To: StraboSpot/strabo-mobile <strabo-mobile@nor

[2018-05-08 03:01] jessicagood commented on #431
Is the following supposed to go with a feature type of fold axial surface? Or there are a few linear folds?I'm not sure what feature type the original comment is referring to and what is correct the image to use? I need the image as a .png file.

![image](https://user-images.githubusercontent.com/1493985/39735601-20ded4e6-5231-11e8-92c6-5de5f9edf498.png)

[2018-05-08 14:10] panamint55 commented on #431
This is a plunging minor fold.  I will have to talk with you about the rest of the symbology.

Doug

***********************************************
J. Douglas Walker
Isotope Geochemistry Laboratories
Nichols Hall
2335 Irving Hill Drive
Lawrence, KS  66045
***********************************************
From: Jessica Good <notifications@github.com>
Reply-To: StraboSpot/strabo-mobile <reply@reply.g

[2018-05-08 14:11] panamint55 commented on #429
Yes it should include bedding and be in the new build.

[2018-05-08 14:11] panamint55 commented on #429
Yes

[2018-05-08 14:12] panamint55 commented on #430
Yes, if it has been corrected in Kobo.

[2018-05-08 14:15] panamint55 commented on #433
Can you send me the form this is on?  I cannot find it.

[2018-05-08 15:37] jessicagood commented on #433
@panamint55 This is on the Fabric Form. Only tectonites has has a few fields after it. The others do not.

[2018-05-08 15:44] panamint55 commented on #433
This is fine for now.  We can add more to the others eventually.

I changed this to Not Mandatory, so folks could just put in a label and a desription.

[2018-05-08 15:49] NathanNovak commented on #432
@panamint55 I fixed the first part with symmetrical and the movement.  It now only displays movement if asymmetrical is selected.  With the second part, which one would you like to use?  Wavelength or scale?

[2018-05-08 15:54] jessicagood commented on #430
@panamint55 It has not been fixed in Kobo Forms. I can do first and fourth bullet, if you want, but I wouldn't know what you want for the middle bullets.

[2018-05-08 16:33] NathanNovak commented on #434
fixed with commit 537ecaaa29f29ce21efe810b171a5bda68f77ca9

[2018-05-08 16:33] #434 closed

[2018-05-08 17:01] panamint55 commented on #430
Fixed.  I do not know what the third/irrelevant stuff comment is about.

[2018-05-08 17:05] panamint55 commented on #432
It looks like the skip logic is correct for the symmetrical - says only show if asymmetrical.

I removed the scale option.

[2018-05-08 17:28] NathanNovak commented on #429
fixed with commit 2db181cdf446f52020717c491aef8cc320c8a1ae

[2018-05-08 17:28] #429 closed

[2018-05-08 17:30] #374 closed

[2018-05-08 18:38] NathanNovak commented on #432
fixed with commit 5f1cf04780aa1f1f585d85d53a5111886a9c5d46

[2018-05-08 18:38] #432 closed

[2018-05-08 19:01] NathanNovak commented on #430
fixed with commit 2b116cad9e004209790d83804c14c4ac17ef201b

[2018-05-08 19:01] #430 closed

[2018-05-08 19:57] NathanNovak commented on #433
fixed with commit 5d835194ae5cccd87f62db2c92cd1459466bd744

[2018-05-08 19:57] #433 closed

[2018-05-08 21:08] #477 closed

[2018-05-08 21:08] #472 closed

[2018-05-11 22:09] NathanNovak opened #488 "Sed: Strat Sections page loading"
give error of:
TypeError: Cannot read property 'title' of undefined
    at StratSectionTabController.getImageLabel (strat-section-tab.controller.js:205)
    at fn (eval at compile (ionic.bundle.js:27643), <anonymous>:4:370)
    at expressionInputWatch (ionic.bundle.js:28696)
    at Scope.$digest (ionic.bundle.js:30235)
    at Scope.$apply (ionic.bundle.js:30508)
    at ionic.bundle.js:32337
    at

[2018-05-14 20:19] jessicagood commented on #488
Fixed with commit 7a365fb

[2018-05-14 20:19] #488 closed

[2018-05-14 20:26] jessicagood commented on #287
Duplicate with #485

[2018-05-14 20:26] jessicagood commented on #485
Duplicate with #287

[2018-05-16 13:04] jasonash opened #489 "Camera broken on iTunes version"
App version 1.1.0 crashes when taking a picture with iOS 11.3.1

[2018-05-16 14:50] NathanNovak commented on #489
Jason,
I downloaded the app a couple different ways and the camera crashes the app only in a couple (listed below):
download developer version from PhoneGap  w/o Straabo on device previously- works fine
 1. download app directly from store w/o Strabo being on the device previously - crashes
2. download from store and installs over developer version - works fine
3. download Testflight version over

[2018-05-16 14:53] NathanNovak commented on #489
I did not update the iOS to 11.3.1.

[2018-05-16 15:25] jasonash commented on #489
I also updated the camera plugin to version 3.0.0 based on forum comments. It seems to work well.

[2018-05-17 13:48] jasonash commented on #489
Fixed with 2c0bb3ac29df02dc8c8e5aed3f8f8e90a5a50f69

[2018-05-17 13:48] #489 closed

[2018-05-17 13:49] jasonash opened #490 "Offline Tiles from Mapbox not Working"
Saving tiles for offline use from Mapbox satellite or topo results in blank white tiles being served. The same is true of custom maps from Mapbox. OSM tiles seem to be working correctly. This issue exists on both iOS and Android versions.

[2018-05-17 15:19] jessicagood commented on #490
@jasonash Neither @NathanNovak can recreate this with fresh installs on Android and iOS.  Downloaded tiles for Mapbox Satellite and Topo seem to be working when offline. Any more info?

[2018-05-17 15:31] jasonash commented on #490
@panamint55 Are you able to do a fresh install to test whether if works for you?

[2018-05-17 15:31] jessicagood commented on #490
Yea, on 3 different devices (Android and iOS) we uninstalled all versions of StraboSpot and did fresh installs from the stores and it works fine.

[2018-05-17 15:39] jasonash commented on #490
@jessicagood  One thing I noticed is that the map is pulling from one URL:

http://api.tiles.mapbox.com/v4/mapbox.satellite/4/4/5.png?access_token=pk.eyJ1Ijoic3RyYWJvLWdlb2xvZ3kiLCJhIjoiY2lpYzdhbzEwMDA1ZnZhbTEzcTV3Z3ZnOSJ9.myyChr6lmmHfP8LYwhH5Sg

While the tile downloader is pulling from a different url:

http://a.tiles.mapbox.com/v4/mapbox.satellite/4/4/5.jpg?access_token=pk.eyJ1Ijoic3RyYWJvLWdlb

[2018-05-17 15:43] jasonash commented on #490
Here is a screenshot from a fresh install of phonegap Android:
![screenshot_20180517-104040](https://user-images.githubusercontent.com/7904402/40188231-19910566-59bf-11e8-9931-69d7a290ff42.png)

[2018-05-17 15:43] jessicagood commented on #490
Yes, the urls should be slightly different. I thought the problem was with the store builds? Btw, both the Android store builds and phonegap build say 1.1.0 but iOS Store says 1.1.1.

[2018-05-17 15:44] jessicagood commented on #490
Updating the phonegap build right now

[2018-05-17 15:45] jasonash commented on #490
Yes, I had to upload a new binary to iTunes because of the camera crashing. I haven’t uploaded a new binary to Android Yet.

[2018-05-17 15:45] panamint55 commented on #490
Works with fresh install.

***********************************************
J. Douglas Walker
Isotope Geochemistry Laboratories
Nichols Hall
2335 Irving Hill Drive
Lawrence, KS  66045
***********************************************
From: Jason Ash <notifications@github.com>
Reply-To: StraboSpot/strabo-mobile <reply@reply.github.com>
Date: Thursday, May 17, 2018 at 10:31 AM
To: StraboSpot/strabo-mob

[2018-05-17 16:07] jasonash commented on #490
@jessicagood Here is a video of my complete process:

https://youtu.be/2kka0-QbWoc

[2018-05-17 16:08] jasonash commented on #490
@jessicagood Yes, after downloading offline tiles I completely close the app.

[2018-05-17 16:12] jasonash commented on #490
@jessicagood Ah, I see the workaround where you can press the map symbol on the other basemaps page. I'll pass this along to the end-users who were reporting the issue just in case this helps them out today. Thanks.

[2018-05-17 16:15] jessicagood commented on #490
We can get it working on iOS when you go to any other page actually too actually.

And I thought I was recreating the issue on Android but I just didn't have the correct map selected. So Android still looks fine to me.

[2018-05-17 18:19] NathanNovak commented on #490
I think I was able to recreate it on android.

[2018-05-17 18:27] jasonash commented on #490
I can duplicate the issue on Android by doing the following:
1. While online, download map for use offline
2. Completely close out Strabo App
3. Turn off all radios on device (wifi and cellular)
4. Start Strabo App, at which time maps are gone (white)

I can then click on the "other basemaps" menu item and click on the map icon to "activate" the map, just like the workaround mentioned above by Jes

[2018-05-17 20:38] jasonash opened #491 "Mapbox Doesn't Support Higher Zoom Levels with Custom Styles"
In working with Vanessa Bennett on her Drone photography, I realized that Mapbox is no longer supporting zoom levels greater than 20 for custom style tile services. StraboSpot is calling URLs like this:

https://api.mapbox.com/styles/v1/jasonash/cjhay0zkd03ff2sp8v0nzyiuq/tiles/256/24/9590603/4065335?access_token=pk.eyJ1IjoiamFzb25hc2giLCJhIjoiY2l2dTUycmNyMDBrZjJ5bzBhaHgxaGQ1diJ9.O2UUsedIcg1U7w473A

[2018-05-17 22:18] NathanNovak commented on #490
We rolled back the version to three prior commits:
7f584a9 (Nov 7 ,2017) ,  6284265 (Sept 26, 2017), and ed4410 (Sept 7, 2017 -v 1.0.0)

The offline map in every version the map did the same thing.

Jason if you found a version where it was working would you let us know?

[2018-05-17 23:14] jessicagood commented on #485
I was working on this the other day a little to see where I could get. I got two methods partly working, both with problems though so it needs more work. See the links for two examples I tried below and this webpage is helpful as well: https://eox.at/2018/01/visualizing-geotiff-tiles-with-openlayers/. I'm still not sure if this is really possible as there is not even an example to follow that work

[2018-05-17 23:18] jasonash commented on #485
@jessicagood Here is one that I found the other night:

https://pbabik.github.io/webraster/

I haven't investigated it much beyond perusing the code, but it also looks promising.

[2018-05-18 15:54] jasonash opened #492 "Inconsistent Offline Tiles"
I received a report from Allen Glazner this morning reporting more issues with offline tiles. He states that sometimes the offline tiles appear on the map, while other times a white screen appears with only a few tiles displaying. He says that closing the app and restarting will sometimes remedy the issue, but then when scrolling/zooming in the map interface the display will again display only a w

[2018-05-18 17:37] NathanNovak commented on #492
I have tried to replicate the problem with the tiles in offline mode but everything is loading fine with the exception of the previous issue.  I have noticed that easiest way , once starting the app, is for the user to go directly to the Offline Basemaps and presses the map icon on the offline map needed . From there the map will load.  I did this a number of times and everything loaded correctly

[2018-05-18 18:06] NathanNovak commented on #491
@jasonash are these error messages and black tiles occurring when online or offline?

[2018-05-18 18:16] jasonash commented on #491
@NathanNovak The errors are coming from Mapbox, so this only happens when online. It is preventing tiles from zoom levels greater than 20 from being downloaded though, so offline maps are also affected. I think for now, the Strabo app shouldn't attempt to gather tiles from custom styles at > 20 zoom level.

[2018-05-18 19:16] NathanNovak commented on #491
@jasonash I downloaded a custom style map on a Pixel 2 and tested it in offline and online modes.   Zoomed in past 20 but did not see any black tiles. I did see the error messages in the debugger but no error messages on the device screen that the user would see.  We will work on limiting the tiles gathered > 20 zoom lever.

[2018-05-18 19:28] jasonash commented on #491
@NathanNovak Honestly, I don't think there is much to be done here. It won't affect most people, and we probably shouldn't spend too much time on this. The real issue is that tiles are being retrieved beyond zoom level 20, but as you said, the user shouldn't ever see this.

[2018-05-18 20:18] NathanNovak commented on #491
@jasonash When I downloaded the map you sent it works fine in every aspect including loading off starting the app, zoom levels in both online and offline modes.

[2018-05-19 14:46] panamint55 commented on #491
Good job everyone.  That was weird.

Doug

***********************************************
J. Douglas Walker
Isotope Geochemistry Laboratories
Nichols Hall
2335 Irving Hill Drive
Lawrence, KS  66045
***********************************************
From: Jason Ash <notifications@github.com>
Reply-To: StraboSpot/strabo-mobile <reply@reply.github.com>
Date: Friday, May 18, 2018 at 3:25 PM
To: StraboSp

[2018-05-21 21:17] jessicagood commented on #219
loading spinner runs while calculating tiles so users can't save a map until loading spinner is doner

[2018-05-21 21:17] #219 closed

[2018-05-21 22:04] jessicagood opened #493 "Offline Map Properties not being saved on crash"
When downloading tiles for an offline map each tile is written to the local db after it is downloaded.
However, the map properties, which among other things, states which downloaded tiles belong to that map, are not written to the local db until all the tiles are downloaded. Thus when the app crashes it may have downloaded (and saved to the local db) a number of tiles already but the map propertie

[2018-05-21 22:07] jasonash commented on #493
@jessicagood Yes, I think @panamint55 suggested trying to download in chunks which might alleviate the crashing issue. Maybe we could start with groups of 200 to see how that works?

[2018-05-21 22:11] jessicagood commented on #493
If I do it from my end we're still making 200 server calls then 400 db calls (to save the tile and then map properties each time). Sometimes (rarely) @panamint55 said he could get the app to crash in less than 200 calls. 200 is pretty arbitrary so I'm not sure if that's a fix that will be consistent.

[2018-05-21 22:21] jasonash commented on #493
@jessicagood So you're making a server call for every tile? I thought there was some way we could chunk them into groups of 200 for asynchronous calls. If we're making separate calls for every tile, maybe we should investigate other options.

[2018-05-21 22:34] jessicagood commented on #493
We're eventually going to need to hit our own tile servers instead of osm and mapbox anyway as we get more users too since they have limits on how many tiles you can download. OSM doesn't even cache tiles at zoom 17 and above, those tiles are rendered on their servers each time a request is made.
https://operations.osmfoundation.org/policies/tiles/
Mapbox's tile ceiling is 6000 tiles https://www.m

[2018-05-21 23:04] jasonash commented on #493
OK, I'll start going over the app code for tile download and see if I can port it to Python for server-side collection/caching. This will have the added benefit of being much faster since we'll only have to download once. Have you experimented at all with .zip archives within Angular? I'm hoping that isn't another roadblock.

[2018-05-21 23:04] jessicagood commented on #493
With commit 72bf5b774734fecb60c134e7976fdc052bf154a0 I am saving the map properties after each tile is download so in case of a crash we still know which downloaded tiles belong to the map. This will make the download process a little slower but will give us a safeguard if there is a crash. We can still restart the app and append the tiles that didn't get downloaded the first time.

[2018-05-21 23:05] jasonash commented on #493
Maybe this will work? https://stuk.github.io/jszip/

[2018-05-21 23:11] jessicagood commented on #493
Was just looking at that one too. I haven't used zip files with Angular before but looks like it is doable. We can also see if we get better performance off of hitting our own tile servers before making the jump to zipping chunks.

[2018-05-22 02:37] aglazner opened #494 "Blank screen where there should be offline tiles"
I am traveling and downloaded a large area at zoom 12 in both satellite and topo forms. I was rarely, if ever, able to load them when in the field. I commonly test this by going to airplane mode on my iPad, and all I get is a blank screen. When in the field without a sufficient signal, same thing. Sometimes some of the tiles come up.

I was using a recent TestFlight build (1.1.0?) and switched to

[2018-05-22 17:44] jessicagood commented on #494
We're working on this to see how we can make the app run better given the errors you're getting. But yes, the offline maps should load automatically as long as the correct baselayer is selected in the layer switcher. This works fine when we test except after the app is restarted (though this only happens the first time an offline map is trying to be viewed after the app is restarted and going to t

[2018-05-22 21:56] jasonash commented on #490
@jessicagood I have set up our own tilecache that is ready for testing. The URL is tiles.strabospot.org

So this old URL:
http://b.tiles.mapbox.com/v4/mapbox.satellite/19/119885/201168.png?access_token=pk.eyJ1Ijoic3RyYWJvLWdlb2xvZ3kiLCJhIjoiY2lpYzdhbzEwMDA1ZnZhbTEzcTV3Z3ZnOSJ9.myyChr6lmmHfP8LYwhH5Sg

Becomes:
http://tiles.strabospot.org/v4/mapbox.satellite/19/119885/201168.png?access_token=pk.eyJ1

[2018-05-22 23:01] aglazner commented on #494
Sorry that I seem to be your worst-case scenario.

10.5” iPad Pro, MPHH2LL/A
iOS 11.3 (15E216)
207.5 GB open at the moment

On May 22, 2018, 11:44 AM -0600, Jessica Good <notifications@github.com>, wrote:

We're working on this to see how we can make the app run better given the errors you're getting. But yes, the offline maps should load automatically as long as the correct baselayer is selected

[2018-05-23 23:21] NathanNovak commented on #490
@jasonash I updated the URL for mapbox.satellite and mapbox.outdoors with commit ea045b6e52ac0d045512dade1f17a9b03b7df89e

[2018-05-23 23:26] jessicagood commented on #492
Some of this may be fixed with commit 8ec5b36312fc24c717be7c3097107b53ced53d43. Hard to test since recreating the problem is difficult but it does load the offline tiles on restart now in the cases we've tried.

[2018-05-23 23:29] jessicagood commented on #494
Thanks @aglazner

We've made some changes to the app so it would be great if you could test it out to see if it's working any better since you're able to find the problems. The latest version is not on the app store or TestFlight yet. It's only available through the PhoneGap build site. I can send you that link if you don't have it any longer.

[2018-05-26 14:07] aglazner commented on #494
What is latest phonegap link/build? I can find 1.1.1

On May 23, 2018, 5:29 PM -0600, Jessica Good <notifications@github.com>, wrote:

Thanks @aglazner<https://github.com/aglazner>

We've made some changes to the app so it would be great if you could test it out to see if it's working any better since you're able to find the problems. The latest version is not on the app store or TestFlight yet. I

[2018-05-26 16:18] jessicagood commented on #494
I didn't update the number. Just uninstall and install fresh from PhoneGap.

On Sat, May 26, 2018, 7:07 AM aglazner <notifications@github.com> wrote:

[2018-05-29 13:50] jasonash opened #495 "Offline Saving of Custom Mapbox Styles Results in download errors."
When saving custom Mapbox styles for offline maps, the user is presented with zoom levels above 20, which will always result in errors from Mapbox.

Mapbox only supports zoom levels 0-20 for custom styles. Anything out of these bounds results in an error message, so these tiles will always fail.

For example:
https://api.mapbox.com/styles/v1/jasonash/cjhay0zkd03ff2sp8v0nzyiuq/tiles/256/21/479645/8

[2018-05-29 16:42] #495 closed

[2018-06-01 18:10] NathanNovak commented on #472
updated with commit c0aafce987eb94cb57221954295073593f040d8c

[2018-06-01 23:24] NathanNovak opened #496 "Current Project name not required"
When starting a new project and within the existing  the name field in the Manage Project page is able to be left empty.

[2018-06-01 23:26] NathanNovak opened #497 "Nesting Name not required"
In the Continuous Nesting page the user is able to leave the name field and the surface feature type empty.

[2018-06-20 19:50] egbunse opened #500 "Add "Joint" to Orientations"
A geologist at the GeoSTEM camp suggested we add "Joint" as an option under Orientations-->Add a Plane--> Planar Feature Type. This can be found by picking Fracture-->Fracture Type but @panamint55 agrees it would be appropriate to be in both places on the form.

[2018-06-20 20:13] egbunse opened #501 "Project Wiped, then Re-appears"
This morning at the GeoSTEM camp, the campers were working on a project I had set up on each iPad Mini (not logged-in) and had downloaded the MapBox Topo tiles for offline use. With two of the twelve iPads the project and offline tiles were suddenly gone after the campers collected data at one Spot. We had just arrived at the next stop, and the campers came to me and said they had added a Spot at

[2018-06-21 15:48] NathanNovak commented on #501
@egbunse I will try and reproduce that issue here.  I believe the version is 1.2 on those IPads right?

[2018-06-21 16:56] panamint55 commented on #501
1.3

***********************************************
J. Douglas Walker
Isotope Geochemistry Laboratories
Nichols Hall
2335 Irving Hill Drive
Lawrence, KS  66045
***********************************************

From: Nathan Novak <notifications@github.com>
Reply-To: StraboSpot/strabo-mobile <reply@reply.github.com>
Date: Thursday, June 21, 2018 at 10:48 AM
To: StraboSpot/strabo-mobile <strabo-mobil

[2018-07-16 05:14] egbunse commented on #501
@NathanNovak we had this issue happen several times again today on the Earth Educator's Rendezvous field trip and while I was downloading offline imagery for the trip on Friday. The project can be brought back by exiting/restarting the app twice. @panamint55 and I will try and get more info to you soon.

[2018-07-16 15:05] NathanNovak commented on #501
@panamint55 and @egbunse  is the issue happening on all the tablets? what version are they running? I am pretty sure it is the IPad Minis correct?  Let me know as many specifics as you can so I can try and replicate it here.

[2018-07-16 15:51] NathanNovak commented on #500
Hi @egbunse .  It appears that "Joint" is already in the location you want. Did you want it again in Add a Plane --> Planar Feature Type?

[2018-07-16 16:39] panamint55 commented on #500
I got busy with Earth Educators stuff and forgot.  I will catch up with you all later.

Doug

***********************************************
J. Douglas Walker
Isotope Geochemistry Laboratories
Nichols Hall
2335 Irving Hill Drive
Lawrence, KS  66045
***********************************************

From: Nathan Novak <notifications@github.com>
Reply-To: StraboSpot/strabo-mobile <reply@reply.github.

[2018-07-16 22:16] NathanNovak commented on #496
fixed with commit 85831ad16aef3475a7c5a2807fb108d81bf4f067

[2018-07-16 22:16] #496 closed

[2018-07-19 21:10] NathanNovak commented on #501
@egbunse I put v1.3.0 on the Ipad here and followed your directions to recreate the issue with no luck. I even downloaded maps from Mapbox to see if this was the issue. Below are the steps I did , let me know if I am missing anything.

1. saved 4 maps (MB classic, MB styles, MB sat, and MB topo) for offline use.
2. turned the Ipad's Airplane mode on to simulate out in the field with no signal.
3.

[2018-08-03 16:52] NathanNovak opened #504 "Profile Pic not displaying"
When setting a pic as a profile while logged in the pic is only there for that session.  Profile pic does not remain there if user logs out of app.

[2018-08-10 22:09] jasonash opened #507 "Automatic Login in Web Version No Longer Working"
Doug and I realized that automatic login is no longer working for the web version. When a user clicks on a project from strabospot.org, they are taken to the app to a random (or sometimes no) project selected.

I rolled back through past commits and found that this error was introduced with commit aa237ac18cbc2008512df21d9198b2b6a14309ae where it looks like the autologin functionality has been com

[2018-08-10 22:36] jessicagood commented on #507
Yes, the problem was simply that it was commented out. I need it commented out to work on it for development and forgot to uncomment it. @NathanNovak just took the commenting out of the master branch for me.

[2018-08-10 22:47] jasonash commented on #507
@jessicagood and @NathanNovak OK, I pulled from master and everything seems to be working now. Thanks!

[2018-08-10 22:47] #507 closed

[2018-08-15 13:33] jasonash opened #508 "Feature Request: Ability to turn off labels in map view"
I have received a couple of requests recently for the ability to turn off labels in map view(s). Users with high-density data are having trouble seeing features due to labels obscuring spots. This isn't critical, but rather for future development.

[2018-08-15 13:47] panamint55 commented on #508
Sounds like a good idea at some point.

*****************************
J. Douglas Walker
Department of Geology
Lindley Hall
1475 Jayhawk Blvd, Room 120
Lawrence, KS  66045-7613
*****************************

From: Jason Ash <notifications@github.com>
Reply-To: StraboSpot/strabo-mobile <reply@reply.github.com>
Date: Wednesday, August 15, 2018 at 8:33 AM
To: StraboSpot/strabo-mobile <strabo-mobile@no

[2018-08-23 21:40] aglazner opened #512 "iPad keyboard split"
I can’t split the keyboard either by pulling it apart or tapping and holding the keyboard icon
Using phonegap version 1.4.1

[2018-08-23 22:01] NathanNovak commented on #512
Hi @aglazner ,
Are you using it on your IPad or on an IPhone?  Are you able to do it through another app?  How about with the AppStore version?

[2018-08-23 22:09] NathanNovak commented on #512
@aglazner make sure the toggle for Split Keyboard in Settings --> General --> Keyboard is on.  I downloaded the latest PG version (1.5.0) on the IPad and was able to split, dock, and merge the keyboard.
What version of iOS are you running?

[2018-08-24 01:26] aglazner commented on #512
iPad running latest iOS; toggle in settings was on. I will try it on 1.5.0 (how do I get it)?

On Aug 23, 2018, at 6:01 PM, Nathan Novak <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi @aglazner<https://github.com/aglazner> ,
Are you using it on your IPad or on an IPhone? Are you able to do it through another app? How about with the AppStore version?

—
You are receiving thi

[2018-08-24 01:47] jasonash commented on #512
I just verified that the keyboard split function works as expected on my iOS device (iPad) using both Strabo 1.4.1 from the App Store, as well as 1.5.0 from PhoneGap. My device is running the latest version of iOS (11.4.1).

@aglazner you can download 1.5.0 from PhoneGap here:
https://build.phonegap.com/apps/2865733/share

[2018-09-07 15:41] NathanNovak commented on #512
I am going to close this issue for now.  @aglazner  if it keeps happening then we can start a new issue and go from there.

[2018-09-07 15:41] #512 closed

[2018-09-12 22:51] NathanNovak opened #513 "Reference and Tools Page"
Discussed at annual meeting Sept 1-2.
## Create
### References
- Static images
- Eg. % black particles, color charts, timescale, grain size, things found in back of geologic fieldbook
### Tools
- Calculations
- Harmonic mean calculator

- Want to create a tool but not make it a part of Strabo as a way to show the community that they can create tools to interact with Strabo

### Want to be able to

[2018-09-12 23:00] NathanNovak opened #514 "Get rid of ability to generate random spots"
Discussed at meeting on Sept 1-2.

[2018-09-13 16:07] UASTeam commented on #501
During the KU sequence strat field trip (sept 10, 2018) a group experienced this same issue but unfortunately their data did not reappear, even after restarting the program. I have also experienced this same issue on my own iPad Mini 3 (~1 year old) running StraboSpot v1.4.1 but restarting the program twice usually results in the data coming back.

[2018-09-13 16:19] UASTeam opened #515 "GPS Bug"
When setting location for a spot from the spot page using 'Set to My Location', the locations are not accurate. Accurate locations for the spots are obtained only by going to the main map view and toggling the 'target' icon (not sure what it's called) to show your current location and accuracy, then setting the spot location on the spot page using 'Set to My Location'. The GPS must be reliable wit

[2018-09-13 17:01] NathanNovak commented on #515
@UASTeam what is the model of your IPad Mini?  Reason I ask is because if there it is not "Cellular + WiFi" then there is not a GPS chip in it and won't be as accurate.   Would you mind sending a screen shot of the About page on the IPad?

[2018-09-13 17:41] NathanNovak commented on #501
@UASTeam we have tried to recreate the problem but have not been able to.  Do you know and can you provide some exact steps that were taken to lead to the crash?  Can you encourage the group and students to make sure they back up to the device through Menu => Manage => Export Project to Device (three dot menu)?  We will keep looking at possible causes.

[2018-09-13 18:18] UASTeam commented on #515
It is a 'cellular+wifi' model (I'll send you a screenshot via email). This bug is not restricted to my iPad as others (including KU students during the sequence strat field test last monday) have experienced it as well. Typically, without doing the workaround to update location, spots from different locations get stacked on one another up to several kilometers away from their actual location.

[2018-09-13 23:13] NathanNovak commented on #515
@UASTeam We have the decimal places for the coordinates going to 6, which means it is accurate to within 4 inches.  I did some research about 11.4 iOS updates and there have been some issues there too. I am going to look into it to see if there are some underlying things going on with both ends.  I will look at the screenshot when you send it.

If you can send me screenshots from some of the other

[2018-09-18 17:33] NathanNovak opened #518 "Not all spots loading after force-quit"
From @aglazner in multiple emails.

Below are snippets of the email with the current issue:
"After I force-quit Strabo and restarted it I had 6 spots, not the 12 that I was trying to upload"

"I don’t know why the 12 spots didn’t come back when I restarted the app"

"OK, so while I was writing that previous email I was attempting to upload my 12 spots and multiple photos to the cloud. It got stuck

[2018-09-18 17:44] NathanNovak commented on #518
Issue where he was forced to quite Strabo and of the 12 spots that he was trying to upload, only 6 spots were there.  @aglazner is running Strabo 1.5.0 developer version on an iOS device with mobile connectivity (according to the screenshot).

We will try to recreate and fix the issue.

![image](https://user-images.githubusercontent.com/35514146/45705364-411b5480-bb2e-11e8-98cb-c74ce5f2effe.png)

[2018-09-18 22:13] NathanNovak opened #519 "default import timestamp"
from @aglazner in email.

"If you could change the file renaming to be a little more human-friendly, that would help. As you can see  I made 8 backups during the day, which was a good thing since I had to reload from them twice, but the file name format is pretty inscrutable. I recommend using separators for date and time; at least

2018915-95242

or even better

20180915-095242

or better still

[2018-09-18 22:15] NathanNovak commented on #519
@aglazner We agree that the seconds are not necessary in the default timestamp.  We are working on adding a "0" to the month and time for where it is showing a single digit to make it more readable.

[2018-09-18 22:18] NathanNovak opened #520 ""Couldn't find spot" screen"
email from @aglazner.

"1. Half way through the morning, after I had made several spots, taken notes, and a bunch of photos, I took a photo and got a screen that said that it couldn’t find that spot and I had to reload the spots. Only the first spot was there. I was working offline, but fortunately had saved to the device recently, and was able to recover most things. But that was a weird bug that

[2018-09-19 17:35] NathanNovak opened #521 "iOS Keyboard not spliting"
email from @aglazner on 09/15/18:

"3. Keyboard on my iPad Pro still will not split."

[2018-09-19 17:40] NathanNovak commented on #521
@aglazner- I have tested the keyboard on an IPad with iOS v 11.4 and Strabo v1.5.0.  The keyboard splits and merges by holding down the keyboard icon in the lower right. The options for "Undock" and "Split" should appear.  To select "Split" drag you finger to that option and release.  The keyboard should split and center on the screen.

[2018-09-19 17:41] NathanNovak opened #522 "Offline Maps not showing up when out of service"
from @aglazner in email on 09/15/18:

" I was out of service but the phone was on, and my offline maps would not show up. This was real frustrating, but after awhile I went into airplane mode and they showed up. I guess this is built-in, but I didn’t know it. This needs to be emphasized (or fixed)."

[2018-09-19 17:50] aglazner commented on #521
When I do that the icon blinks white for about 0.2 sec, then goes back to gray. That press works in every other app I’ve tried. Strabo Mobile 1.5.0, iPad Pro 10.5, iOS 11.4.1

Very weird!

On Sep 19, 2018, at 1:40 PM, Nathan Novak <notifications@github.com<mailto:notifications@github.com>> wrote:

@aglazner- I have tested the keyboard on an IPad with iOS v 11.4 and Strabo v1.5.0. The keyboard spli

[2018-09-19 20:09] NathanNovak commented on #521
This issue is also referenced to issue #512

[2018-09-19 20:22] NathanNovak opened #523 "Minerals Tag change"
from @aglazner in email on 9/15/18:

" Current implementation of mineral tags (having to make and name an assemblage) is not very practical. Needs to be changed."

[2018-09-19 21:18] NathanNovak opened #524 "Strabo offline maps not downloading"
@jasonash I am testing the PG version with the changes made to the server and keep getting a message that says "zip download failed"  I tried at zoom 14 and 17.

I tested this on an IPad with version iOS v12 running.

[2018-09-19 21:19] jasonash commented on #524
OK, I'll take a look

[2018-09-19 21:37] jasonash commented on #524
It looks like the file transfer plugin isn't working on Master. I'll see if I can fix this.

[2018-09-19 22:05] jasonash commented on #524
@NathanNovak OK, try it again. It should be fixed now.

[2018-09-19 23:30] NathanNovak commented on #524
@jasonash  everything looks to be working now.  I tested all the maps for offline and the biggest file was 4694 tiles which took less then 10 seconds to download so that was impressive.

[2018-09-20 00:58] aglazner commented on #522
To expand on the above, we were working in an area where cell service was spotty (mostly off). At first (perhaps when I had service) my offline maps showed up, but suddenly I only got white screens on all three of them. I experimented and put the iPad into airplane mode, and suddenly all the offline maps showed up and I had no problems the rest of the day. This may be a documented thing, but it wa

[2018-09-20 12:15] aglazner opened #525 "Issues with downloading offline maps"
I have a project with a geotiff that I added via Strabo. I want to make it available offline so I did this:

- set to download to zoom level 19
- this was 2093 tiles
- loaded 2092 over about 3 minutes, then hung with spinning gear and grayed-out page
- restarted Strabo
- went back to download, it said I needed 2178 tiles (more than original number)
- now I’m stuck on spinning gear and grayed-out “

[2018-09-20 12:19] aglazner opened #526 "Loss of map functionality working with offline maps"
I was experimenting with airplane mode and offline maps. Had a project open with a dozen spots and several offline maps. I was connected, wifi and cell. Maps were visible, but all were also online (Mapbox and Mapwarper). Went to airplane mode, maps were still there. Had to turn off wifi as well. Then online versions disappeared. I had the offline for a bit, did something (can’t remember what), and

[2018-09-20 12:27] aglazner commented on #525
Update. Had project open with OSM layer. Hit geotiff layer, it showed up. Went to airplane mode and turned off wifi, disappeared. Checked offline map name in map layers (the one that never fully loaded as above), and it showed up. Tried another layer (online), blank map. Toggled offline map again, blank map. Went to main menu, Offline Basemaps, clicked folded map icon, it showed up again (although

[2018-09-20 14:14] NathanNovak commented on #524
@jasonash  did you do a commit for the change?  I didn't see one in the list.

[2018-09-20 14:15] jasonash commented on #524
@NathanNovak No, the problem was server-side. No change to strabo code necessary.

[2018-09-20 15:41] NathanNovak commented on #524
ok I am going to close this then

[2018-09-20 15:41] #524 closed

[2018-09-20 15:45] NathanNovak commented on #522
@aglazner  it sounds like it could be an issue with one of the plugins that checks to see if the device is online or off.  I'll see what I can find out.

[2018-09-20 16:30] panamint55 opened #527 "Icon"
We should put the strabo icon on the main strabospot webpage somewhere.

https://strabospot.wordpress.com/

[2018-09-20 17:59] aglazner commented on #520
It’s only happened that one time, and the alert disappeared so I couldn’t save it. As I remember I was taking a second photo at a spot, so I was on the images page for that spot.

On Sep 18, 2018, at 6:21 PM, Nathan Novak <notifications@github.com<mailto:notifications@github.com>> wrote:

@aglazner<https://github.com/aglazner> can you provide smoe more information so we can recreate the problem, l

[2018-09-20 18:06] jasonash commented on #527
I added the Strabo icon to the front page and header.

[2018-09-20 18:44] panamint55 commented on #527
thank

*****************************
J. Douglas Walker
Department of Geology
Ritchie Hall
1414 Naismith Dr., Room 254
Lawrence, KS 66045-3106
*****************************

From: Jason Ash <notifications@github.com>
Reply-To: StraboSpot/strabo-mobile <reply@reply.github.com>
Date: Thursday, September 20, 2018 at 1:06 PM
To: StraboSpot/strabo-mobile <strabo-mobile@noreply.github.com>
Cc: Doug Walke

[2018-09-20 18:50] #527 closed

[2018-09-21 20:56] aglazner opened #528 "Feature request: ad hoc tables"
It is common in the field to write down a table of data on the spot--something that you didn't plan in advance. For example, you might decide to collect data on the length and width of a bunch of somethings. This is easy in a field notebook. It would be nice to add this functionality to Strabo: name a table, set up a given number of columns with column names, fill the table, and finally download i

[2018-09-25 17:25] jessicagood opened #529 "Samples Page - Hide buttons when not Testing"
Hide all buttons except 'Add Field Sample Data to this Spot' unless Testing mode enabled.

[2018-09-25 17:27] jessicagood opened #530 "Data Page - Testing mode"
The Data page should probably be in testing mode until we've finalized the best way to store imported csv files.

[2018-09-25 22:08] NathanNovak commented on #530
finished with commit 8209674d2bc43ca6b558ff4e0f471f892d7ec51c

[2018-09-25 22:08] #530 closed

[2018-09-26 17:06] NathanNovak commented on #529
finished with commit 1e9463b9e793a2bba5f063229851eb639151a445

[2018-09-26 17:06] #529 closed

[2018-09-26 22:25] NathanNovak opened #531 "Offline maps not showing up when placed in airplane mode."
when you save tiles for offline use then go into the map the page is blank with only the spots showing, but when you go out of the map and back in the offline maps reload.

[2018-09-26 22:37] jasonash commented on #531
@NathanNovak I can't seem to duplicate this one. Are you using a version from PhoneGap?

[2018-09-27 00:43] jasonash commented on #531
@NathanNovak I just did a fresh PhoneGap install on both of my devices (Android and iOS) and I don't see the behavior you describe above. Can you elaborate on what steps you took? What OS are you seeing this issue on? Can you make a video so we can see what is happening?

[2018-09-27 16:21] NathanNovak commented on #531
@jasonash Here are the steps I took on an IPad running iOS 12:
1) From Main Map I downloaded the tiles for Topo for offline use and named a new map and set the zoom to max (19 in this case 1385 tiles...works great).  Every Baselayer is displayed as it should be too.

2)I put the IPad in airplane mode and went back and Topo shows up. I switched over to a different offline map (Satellite) and there

[2018-09-27 16:33] NathanNovak commented on #531
I tried to take a video with my phone (can't get the IPad on the Mac here and show) but have been having issues with the focusing on video mode.

[2018-09-27 16:34] jasonash commented on #531
I'm updating to iOS 12 now. I'll see what happens.

[2018-09-27 16:35] NathanNovak commented on #531
ok

[2018-09-27 17:02] NathanNovak commented on #531
@jasonash I tested it on my Android phone and it works fine.  Then I deleted the PG version of the app and reinstalled it and now it works fine so maybe it was something about installing a PG version on top of a different PG version

Jess found the issue related (#492)

[2018-09-27 17:59] jasonash commented on #531
@NathanNovak Yes, we've had issues with trying to install over old PG installs. I just tried a fresh install from PG on my updated (iOS12) device and it is working as expected.

[2018-09-28 21:33] NathanNovak opened #532 "Samples: Cannot remove a spot after removing sub-sample data"
If you create a sub-sample Spot B from Spot A and then remove the sample data in Spot B you are unable to delete Spot A.  Since there is no longer any sample data in Spot B, Spot B does not show up on the samples page in Spot A as a nested sample spot.

Temporary Workaround: Add sample data back into Spot B and then Spot A on the Samples Page un-link Spot B.  Spot A can then be deleted.

[2018-10-02 15:38] NathanNovak commented on #531
I did a fresh install and things seem to be working.  I am closing this issue

[2018-10-02 15:38] #531 closed

[2018-10-02 16:11] panamint55 commented on #531
v. 1.6 seems to work well for me.

*****************************
J. Douglas Walker
Department of Geology
Ritchie Hall
1414 Naismith Dr., Room 254
Lawrence, KS 66045-3106
*****************************

From: Nathan Novak <notifications@github.com>
Reply-To: StraboSpot/strabo-mobile <reply@reply.github.com>
Date: Tuesday, October 2, 2018 at 10:38 AM
To: StraboSpot/strabo-mobile <strabo-mobile@norepl

[2018-10-02 18:56] NathanNovak commented on #521
@aglazner Did you download iOS 12 and see if the keyboard split was fixed?

[2018-10-02 19:05] NathanNovak opened #533 "Mapbox Classic and Styles unable to be saved for offline use"
I pulled two basemaps from Mapbox (1 styles, 1 Classic) and I get the following message from each:

Mapbox Classic: "Invalid Map Specified"
MB Styles: "Invalid ID"

both wouldn't download for offline use.  Each so show up in  Offline Maps with 0 tiles downloaded.

[2018-10-02 19:10] aglazner commented on #521
Still doesn’t work

On Oct 2, 2018, at 11:56 AM, Nathan Novak <notifications@github.com<mailto:notifications@github.com>> wrote:

@aglazner<https://github.com/aglazner> Did you download iOS 12 and see if the keyboard split was fixed?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/StraboSpot/strabo-mobile/issues/521#issuecomm

[2018-10-02 19:27] jasonash commented on #533
@NathanNovak I just created three custom Mapbox styles and installed each as other basemaps in Strabo. I downloaded each successfully for offline use.

I will work on fixing the mapbox classic links.

[2018-10-02 19:29] jasonash commented on #533
@NathanNovak Can you try downloading your Mapbox Style again? I can't seem to replicate this issue.

[2018-10-02 20:12] NathanNovak commented on #533
I will try again with Styles

[2018-10-02 20:40] jasonash commented on #533
@NathanNovak Can you provide me a map id and access token of a map that won't work? I can't seem to duplicate the problem.

[2018-10-03 17:33] jasonash opened #534 "Remove Mapbox Classic as Other Basemap Option"
Doug has requested that we remove Mapbox Classic as an Other Basemap option due to its deprecation at Mapbox.

[2018-10-03 17:52] NathanNovak commented on #534
@jasonash ok sounds good.  Did you want it removed for this version?

[2018-10-03 17:56] jasonash commented on #534
@NathanNovak No, nothing can be changed for this version. It takes around three days for the app store to approve things, so we're locked in now. I will take care of this one for the next release.

[2018-10-03 18:00] NathanNovak commented on #534
ok

[2018-10-04 18:35] jasonash commented on #504
Hi Nathan,

Try your upload again. I found a type in the profile images controller that might have been causing your issue.

Jason

From: Nathan Novak <notifications@github.com>
Reply-To: StraboSpot/strabo-mobile <reply@reply.github.com>
Date: Thursday, October 4, 2018 at 1:25 PM
To: StraboSpot/strabo-mobile <strabo-mobile@noreply.github.com>
Cc: "Ash, Jason" <jasonash@ku.edu>, Mention <mention@no

[2018-10-04 21:50] NathanNovak commented on #504
@jasonash looks like that was it thanks!

[2018-10-04 21:50] #504 closed

[2018-10-05 03:42] aglazner opened #535 "No zoom levels when trying to save map offline, 1.6.0"
I loaded a map from My Maps (5b944c651de4f). When I tried to save it offline, I was able to name it, but was not given any way to set the max zoom level. Box "Select max zoom..." has a slightly gray "Zoom level...", but that's it. Same is true with topo map.

[2018-10-05 13:54] aglazner commented on #535
Found the problem--I did not notice the disclosure triangle, which is way out of the field of view off on the right side.

[2018-10-05 13:54] #535 closed

[2018-10-05 13:55] aglazner opened #536 "Request: move disclosure triangles from far right margin to left where the user will notice them"

[2018-10-05 18:40] NathanNovak commented on #536
@aglazner I change the Select Map and the Zoom click area to span the entire length of the dropdown box.  If you want to back-up your data and do another Phone Gap install it is ready for you.

[2018-10-05 18:40] NathanNovak commented on #536
fixed with commit 0315bd174b2be740f1b158cb49335d9333e74084

[2018-10-05 18:40] #536 closed

[2018-10-11 13:35] aglazner opened #539 "offline maps have disappeared"
Using App Store 1.6.0. I was using offline topo and satellite maps for two areas yesterday, with success. Last night I added a new area to this set. Today I went to offline maps and hit the folded-map icon for one of them and just got the spinning gear. Had to force-quit. Tried several times. Now all offline maps are gone, whether online or in airplane mode.

Now all maps have disappeared from Str

[2018-10-11 13:45] jasonash commented on #539
@aglazner Can you send me the contents of your StraboSpot folder from your iOS device? You'll probably have to use drop box. If this is too much, can you let me know if the folder TileCache under StraboSpot has data in it?

[2018-10-11 13:52] jasonash commented on #539
@aglazner Did you happen to restore a backup during this time?

[2018-10-11 13:56] aglazner commented on #539
Tell me how to do that. But I have since deleted the app and reinstalled it and am currently re-downloading all those offline maps.

No idea what happened, but all of us are sick of seeing white screens. It happens to everyone.

On Oct 11, 2018, at 6:53 AM, Jason Ash <notifications@github.com<mailto:notifications@github.com>> wrote:

@aglazner<https://github.com/aglazner> Can you send me the conte

[2018-10-11 14:18] jasonash commented on #539
@aglazner When you are seeing the white screen, is your device in airplane mode? I'm wondering if the Strabo app thinks that it is still online and trying to get tiles from the network. If you experience the white screen problem again, can you look at the dot in the upper-right part of the screen and tell me if it is green or red? Thanks.

[2018-10-11 15:01] aglazner commented on #539
I did not restore a backup and don’t think that I made one (export to device) as this is a new project.

I was in airplane mode. The real problem was that when I went back online NO maps were visible.

On Oct 11, 2018, at 7:07 AM, Jason Ash <notifications@github.com<mailto:notifications@github.com>> wrote:

@aglazner<https://github.com/aglazner> Did you happen to restore a backup during this time?

[2018-10-12 12:40] aglazner opened #540 "Extremely slow project upload"
I set a project to upload last night. 4 spots and 19 iPad images. Woke up this morning and only 4 spots images had been uploaded; gear was spinning. Force-quit the app and tried again. Took 15 minutes or so to upload 15 images (4 failed, no message as to why or which images failed to upload). Wifi speed tests at 5 Mbps.

Export to device was quick and gave no errors.

[2018-10-12 12:41] aglazner opened #541 "Export-to-device frustration"
Export to device takes 8 clicks. Should be one click: "Save".

[2018-10-12 17:39] NathanNovak commented on #541
Hi @aglazner where are you starting the click count?  I would like to see at what point we may be able to consolidate.

[2018-10-12 17:57] NathanNovak opened #542 "Orientations: original spot does not retain properties after it is copied"
After adding a Plane, a Line , or a Tabular Zone with properties, then making a copy of the spot, the original spot's azimuth, dip, and strike erases.

Original spot should retain the info while the copied spot's azimuth, dip, and strike should not have values in the same fields.

[2018-10-12 18:15] NathanNovak commented on #542
fixed with commit b487d858a22325c62639d31e068c44ccd3d46374

[2018-10-12 20:35] #542 closed

[2018-10-12 22:30] NathanNovak opened #544 "Geologic unit slow load (and possible crash)"
@panamint55,

We figured out what was causing the sluggishness with Geologic Units.  Back in April when there were changes to the Rock Unit forms to include select multiple it put a stress on the app when Geologic Unit is selected.  The amount of skip logic with select multiple combined with the number of choices (281 total) is creating the really slow response.  The best way to correct this is to

[2018-10-12 22:43] NathanNovak commented on #540
@aglazner just to outrule things do you know the size of the photos you were trying to upload? Was it from a drone or the IPad?  Was the 5 Mbps the upload speed or the download speed when you tested?

While 5 Mbps is not incredibly fast if the files were quite large that may have played into the slow speeds and the failures.

I appreciate you letting us know.

[2018-10-12 22:47] panamint55 commented on #544
OK, let’s talk about this next week.  Take a screen shot and show me what you are meaning.

Thanks.

Doug

*****************************
J. Douglas Walker
Department of Geology
Ritchie Hall
1414 Naismith Dr., Room 254
Lawrence, KS 66045-3106
*****************************

From: Nathan Novak <notifications@github.com>
Reply-To: StraboSpot/strabo-mobile <reply@reply.github.com>
Date: Friday, October

[2018-10-13 04:03] aglazner commented on #541
3-dot menu…
Export Project to Device (click)
Select Items to Export
Text Data (click)
Images (click)
OK (click)
Confirm or Change File Name (click)
Success! (click)
Export All Project Images (click)
Success! (click)

Should be
3-dot menu…
Save (click)
done

On Oct 12, 2018, at 10:39 AM, Nathan Novak <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi @aglazner<https://github.com

[2018-10-13 04:06] aglazner commented on #540
These were Strabo-cropped and downsampled images, <1 Mb each.

[2018-10-13 04:09] aglazner opened #545 "Fatal "Spot not found in local database" error"
Spent the day mapping in a remote area with Strabo. Late in the day, with 18 spots and around 34 images, I went to Strabo from Stereonet Mobile and got the "Spot not found in local database" error, which logged me out and left me with no data. I could not reload the project from Export to device because I could not log in because I was out of service. After returning to civilization and logging ba

[2018-10-13 04:16] aglazner opened #546 "Feature request: additions to field book"
Field book is missing information. Each day should begin with the Daily Setup information, and the date should be in the header or footer of each page. Everything recorded (notes, etc.) should be in the field book in chronological order.

[2018-10-15 15:22] NathanNovak commented on #544
@panamint55 I can take a screenshot of the code but it's really just the Kobo forms that should be split into four sections.

[2018-10-16 16:42] NathanNovak commented on #519
@arlazner and @panamint55 ,

I modified the timestamp when exporting files to device to be more readable with separations between the fields and a 12-hour time.  Hope this will work better.

commit 2bda07e9c0c12a130d94b51f58dcf101b8f6b3ff

[2018-10-16 16:42] #519 closed

[2018-10-18 17:41] NathanNovak commented on #544
@panamint55,

Found the issue and was able to fix the lag without separating the Rock Unit forms like we were talking about.  I will merge into master today.

[2018-10-18 17:43] NathanNovak commented on #541
@aglazner we are looking into restructuring to lower the number of clicks.

[2018-11-01 16:51] NathanNovak opened #550 "Crash: taking multiple images in a spot"
App crashes when taking multiple pictures in a spot (4+) without pausing to name images (e.g. Camera comes up after one image is taken and then user takes another image immediately).

When trying to name an image after multiples are taken the keyboard pops up but keys pressed are not displayed and user is unable to exit to another page.   only way to get out is to close app completely.

This is a

[2018-11-02 01:40] panamint55 opened #551 "Reattaching image does not work"
Using 1.6.1 from newest phone gap build.  I cannot reattach a picture, even the one that was originally taken.  I get this error:

![image](https://user-images.githubusercontent.com/9283127/47889136-66ca9780-de16-11e8-8068-caee900f637a.png)

[2018-11-06 17:20] NathanNovak commented on #551
@panamint55  can you try and replicate that again with the error catching from PG?
Use this link:
https://build.phonegap.com/apps/3361635/share

[2018-11-06 17:33] panamint55 commented on #551
Done

Doug

*****************************
J. Douglas Walker
Department of Geology
Ritchie Hall
1414 Naismith Dr., Room 254
Lawrence, KS 66045-3106
*****************************

From: Nathan Novak <notifications@github.com>
Reply-To: StraboSpot/strabo-mobile <reply@reply.github.com>
Date: Tuesday, November 6, 2018 at 11:20 AM
To: StraboSpot/strabo-mobile <strabo-mobile@noreply.github.com>
Cc: Doug

[2018-11-06 21:05] panamint55 opened #552 "Importing project."

[2018-11-06 21:07] panamint55 commented on #552
User should be able to import spots and images with one click.

[2018-11-07 17:29] jasonash opened #553 "Exporting Images to device sporadically unreliable"
When exporting images to device, images are sporadically missed. Upon further inspection, this is being caused by the occasional attempt to create the folder "ImageBackups" even though it already exists. It looks like the function checkDir in localstoragefactory is calling $cordovaFile.checkDir which is falsely reporting that the directory does not exist, and checkDir() is attempting to overwrite

[2018-11-07 17:36] panamint55 commented on #553
I think the big thing is to get the images saved to system and not the SQLite.  What is the timeframe on that?

Doug

*****************************
J. Douglas Walker
Department of Geology
Ritchie Hall
1414 Naismith Dr., Room 254
Lawrence, KS 66045-3106
*****************************

From: Jason Ash <notifications@github.com>
Reply-To: StraboSpot/strabo-mobile <reply@reply.github.com>
Date: Wednesd

[2018-11-07 22:16] jessicagood opened #554 "Minerals: orderBy error"
@NathanNovak The following error received when loading the map on the web is from the Minerals Page:
`Error: [orderBy:notarray] Expected array but received: {}`
(The SidePanel has the ability to show all the Spot Pages, including Minerals, so that page is prepped when the map loads.)

In `minerals-tab.directive.html` in the line:
`ng-repeat='mineral in vm.mineralDisplay | orderBy:"mineral" track b

[2018-11-19 15:38] NathanNovak commented on #551
@panamint55 have you received that same error message?  We combined the Sentry error catching and the master so if you want to download that version from PG and see if it is causing the same error.  I have not received an error on this end.

https://build.phonegap.com/apps/2865733/share

[2018-11-19 15:46] panamint55 commented on #551
Use this link?  I am testing the other one but can switch back to this.

Doug

*****************************
J. Douglas Walker
Department of Geology
Ritchie Hall
1414 Naismith Dr., Room 254
Lawrence, KS 66045-3106
*****************************

From: Nathan Novak <notifications@github.com>
Reply-To: StraboSpot/strabo-mobile <reply@reply.github.com>
Date: Monday, November 19, 2018 at 9:38 AM
To: St

[2018-11-19 15:58] panamint55 commented on #551
Still the same.  Just did it.

Doug

*****************************
J. Douglas Walker
Department of Geology
Ritchie Hall
1414 Naismith Dr., Room 254
Lawrence, KS 66045-3106
*****************************

From: Nathan Novak <notifications@github.com>
Reply-To: StraboSpot/strabo-mobile <reply@reply.github.com>
Date: Monday, November 19, 2018 at 9:38 AM
To: StraboSpot/strabo-mobile <strabo-mobile@nore

[2018-11-21 15:58] NathanNovak commented on #551
fixed with commit 4a6538fe87287f5461a4d8b3a2ad93b855053148

[2018-11-21 15:59] NathanNovak commented on #551
@panamint55 reattaching images should work now.  I am going to close this ticket but if there are anymore issues regarding reattaching we can open a new one.

[2018-11-21 15:59] #551 closed

[2018-11-21 16:34] panamint55 opened #559 "Taking several images in a row causes the app to freeze."

[2018-11-21 16:37] panamint55 commented on #559
If I take several images in a row the app freezes.  I take an image, hit the use image at the bottom, and wait for it to take me back to the camera button.  After 7 images the app froze after taking a picture.  Use photo did nothing, I had to kill the app.  With 7 in I restarted and took 4 until it froze again.  Restart and only got to take 3 images.

The images seem to be working better, but the

[2018-11-21 17:01] panamint55 opened #560 "Importing project has an odd dialog combination displayed"
This shows up toward the end of importing a project from device.
![img_0155](https://user-images.githubusercontent.com/9283127/48856735-d203eb80-ed7c-11e8-8330-7100be3bf74f.PNG)

[2018-11-21 18:17] panamint55 opened #561 "Reattaching image does not work"
Still same issue.

[2018-11-21 18:49] panamint55 opened #562 "Crash with lots of offline images"
Just happened.  Had downloaded 14000 tiles, moved the map, and the app crash and restarted on its own to a street map of my location in lawrence.  I was working in California on my legacy project when this happened.  App says no save offline maps and no spots.

I kill the project and then it restarts where I left off.  then went to offline maps.  It says it has tiles but it will not use the map ic

[2018-11-21 19:21] jessicagood commented on #561
See issue #551

[2018-11-21 19:42] panamint55 commented on #562
I have repeated this several times.  It restarts when I hit the three dot menu and sometimes when I get to the save for offline use choice.

[2018-11-21 22:36] jessicagood commented on #266
Camera plugin now allows `correctOrientation` option. Turned `allowEdit` to `false` and `correctOrientation` to `true` with commit 489d721d106ed1bee0e041bf3fed6354e1b0ca0a.

[2018-11-21 22:37] jessicagood commented on #421
See issue #266

[2018-11-21 22:39] jessicagood commented on #266
See issue #421

[2018-11-21 22:42] NathanNovak opened #563 "Images: back arrow missing when image is in fullscreen view"
After pressing on a thumbnail in the Images Page to expand to a full-screen view the back arrow is missing (or covered by image) on IPad. This happens when image was taken in Portrait mode. Landscape mode reveals the back arrow.

[2018-11-21 22:49] panamint55 commented on #421
I can now see the uncropped image.

[2018-11-26 22:14] jessicagood commented on #559
See issue #550

[2018-11-28 03:16] egbunse opened #564 "Tags Forms Freezing App"
For the past two days, the only Tag form that works (I can input data successfully) is the one that opens from the Spot form (Add/Remove Geologic Units). Going to the Tags Form from Spot tabs or from the hamburger menu displays my Tag list but nothing is clickable. So I can’t add tags from that form or edit existing ones in the list and need to restart the app since nothing (even the hamburger men

[2018-11-28 14:49] NathanNovak commented on #564
Hi @egbunse what version of the app are you using (PhoneGap or AppStore version)?  Can you download the new Phone Gap version and recreate the issue?  Reason being that we installed an error tracking program that will alert us and give us very specific information about the code if there is an error.

[2018-11-28 16:36] NathanNovak opened #565 "Images: Micrograph Name still there after selecting different image type"
When adding an image from file:  After selecting Micrograph Reference from the Select Image Type menu and adding it.  Then adding another image and selecting any other type (e.g. Photo or Sketch) the label is displayed with the Micrograph Reference label.  The image type inside the info modal is the correct type just the label is added.

[2018-11-28 18:44] egbunse commented on #564
Hey, @NathanNovak, sorry about the omission. I am using the latest version in the app stores on both devices- 1.6.0. Could you direct me to the latest phone gap download site? The version I have for that is 1.0.0 from this spring. The iPad probably isn't on the UDID list so I'll just test on the Android phone.

[2018-11-28 20:31] NathanNovak commented on #565
fixed with commit 664e3d4b90518836e87953846afdcb6947741142

[2018-11-28 20:31] #565 closed

[2018-11-28 20:35] NathanNovak commented on #564
Hi @egbunse below is the link for the latest PG version:

https://build.phonegap.com/apps/2865733/share

Let me know if this fixes the issue. That version was working fine on the IPad here and the Android.
Thanks!

[2018-12-04 20:16] egbunse commented on #564
@NathanNovak Tags worked a lot better on the phone gap version on my Android. The only noticeable slowness was 'Show all geologic unit' but it was just a few seconds of loading.

[2018-12-04 20:16] #564 closed

[2018-12-10 17:11] NathanNovak commented on #544
issue resolved . Closing issue

[2018-12-10 17:11] #544 closed

[2018-12-10 17:56] NathanNovak commented on #533
I am closing this issue because I tested and things are working with both Other Maps when importing and then downloading them for offline use.

[2018-12-10 17:56] #533 closed

[2018-12-10 18:08] NathanNovak commented on #560
@panamint55 are you talking about the "Loading Data Models" message?  Also, does your project import successfully?

[2018-12-10 18:30] NathanNovak commented on #552
@jasonash fixed with commit b868f4e229acfa17e0d564d1ba53a63ee5565617

[2018-12-10 18:30] #552 closed

[2018-12-10 19:02] panamint55 commented on #560
It works, but that message appears for some reason.

Doug

*****************************
J. Douglas Walker
Department of Geology
Ritchie Hall
1414 Naismith Dr., Room 254
Lawrence, KS 66045-3106
*****************************

From: Nathan Novak <notifications@github.com>
Reply-To: StraboSpot/strabo-mobile <reply@reply.github.com>
Date: Monday, December 10, 2018 at 1:08 PM
To: StraboSpot/strabo-mobi

[2018-12-11 13:02] panamint55 opened #566 "Restarting while taking pictures"
Downloaded latest version this morning.  I loaded an area in CA with about 6000 tiles.  I added a spot and took a picture.  Hit "use picture" and it went back to camera.  I hit cancel and strabo restarted.  Restart was instantaneous, and I got a message saying "spot not found in local database."  In fact, it was so quick I would not have realized the issue if it had not had the error message.

No

[2018-12-11 13:10] panamint55 commented on #566
I have made a video of the iphone doing this.  It is in the debugging strabo dropbox.

[2018-12-18 00:54] panamint55 opened #568 "Blowing up while adding spots"
This is a long one.

Adding line and polygon spots can get the application to quit and restart on its own.

Restarting sometimes is successful, sometimes it is not.  For example, when it restarts, it goes through the data model screen, or sometimes spot not found message.  It then will display spots with their numeric spot ID, but not the one I gave them.  Quitting and restarting manually restores

[2018-12-18 01:07] panamint55 commented on #568
I got it to blow up by just adding point spots.

SO, IT QUITS while adding spots.

[2018-12-18 01:07] panamint55 commented on #566
I added 25 images with the newest version without issue.

[2018-12-18 01:14] panamint55 commented on #568
For the above, here is what I was doing.
1) go to main map
2) add a spot on the map
3) get the spot dialog page, and immediately do the back arrow back to the map
4) at the map select the spot tool and add a spot on the map
5) use point, line, or poly tool.
6) I don't think it has happened using smooth line or smooth poly option

[2018-12-18 01:49] NathanNovak commented on #568
@panamint55 I noticed that there is an error in Open Layers that says "Total canvas memory use exceeds the maximum limit (256 MB)" and that may be why you are getting the white screen.  So far I have added 59 spots but no crash yet.  I'll keep testing more tonight and tomorrow.

[2018-12-18 14:35] jasonash commented on #568
It looks like the canvas memory problem was introduced with iOS12. There are a few workarounds. One person suggests manually specifying a projection (ESPG:4326) for vector sources (which I don't think we are doing)(https://github.com/openlayers/openlayers/issues/8956#issuecomment-443230474). Another option is to change the tile cache in OpenLayers from 2048 to 256 which would free up lots of memor

[2018-12-18 17:13] NathanNovak commented on #568
Ok. We are looking into that now.

[2018-12-18 18:35] #566 closed

[2018-12-18 18:59] jessicagood commented on #568
So far neither of the workarounds have worked. Still a getting a white screen. But the white screen happens if you leave the map page and then go back to the map page 13-14 times. You don't need to be adding Spots. Still researching it but other people are complaining about this memory issue with the new iOS. Doesn't happen with Chrome or Firefox.

[2018-12-19 23:35] NathanNovak commented on #568
Ok. So I get the random crashing and Cache Exceeded message on the Open Layers website in some of their examples but only when I run it on the IPad.  There is not a lot of information out there except on the issues @jasonash referenced above. One it but one guy said that he was also getting random crashes and the cache exceeded issue as well.

Changing the cacheSize or the projection parameters ha

[2019-01-22 17:05] jeandrew1000 opened #569 "adding image with camera to spot returns to camera afterward"
Using v. 1.6.0 on Samsung galaxy7. When adding an image the process completes and adds the image to the spot but then automatically continues and reopens the camera to add another image.

[2019-01-22 17:06] jasonash commented on #569
@JEAndrew  This is the expected behavior.

[2019-01-22 19:48] #569 closed

[2019-04-27 06:18] aramoanav opened #570 "Low resolution photos"
One issue that is currently frustrating me is that the photos I take from within Strabo are very low resolution. They do copy through to my iPhoto library but even there they are low resolution. Is it possible to change this? I know that my iPhone is capable of better photos and I don’t want to lose information in this way.

[2019-06-27 16:33] jasonash opened #572 "Unable to Download Offline Maps with iPhone SE"
User reported an issue with downloading offline maps using a device with a mall screen (iPhone SE).

According to user:

Here are some images submitted by user demonstrating the issue:

![image001](https://user-images.githubusercontent.com/7904402/60283547-01f50d80-98cf-11e9-9a2f-44df36a3a88d.png)

![image002](https://user-images.githubusercontent.com/7904402/60283556-0a4d4880-98cf-11e9-8ad5-f9e65

[2019-06-27 16:33] jasonash commented on #572
I fixed this issue with fef633349ed168c6bf9f148b8c8329e2ca616066

[2019-07-22 16:43] cashaw-mt opened #573 "Photo upload"
Photos do not upload with project from mobile app to Strabo online. What is the procedure to upload photos while maintaining links to the spots where they belong?

[2019-07-24 16:56] NathanNovak commented on #573
What version are you running? @cashaw-mt

[2019-07-30 16:50] panamint55 commented on #573
Did you get this fixed?  What version are you using?

*****************************
J. Douglas Walker
Department of Geology
Ritchie Hall
1414 Naismith Dr., Room 254
Lawrence, KS 66045-3106
*****************************

From: cashaw-mt <notifications@github.com>
Reply-To: StraboSpot/strabo-mobile <reply@reply.github.com>
Date: Monday, July 22, 2019 at 11:43 AM
To: StraboSpot/strabo-mobile <strabo-

[2019-07-30 17:02] cashaw-mt commented on #573
Hi Doug,
Thanks for the response. I’m using 1.7.8. I haven’t tried to upload pictures again since multiple failures last week. I’ll try again today. I’m back on campus now with relatively fast and reliable internet. I think my connection in Copenhagen last week was OK, but can’t really verify.

Cheers,
Colin

Colin A. Shaw
colin.shaw1@montana.edu<mailto:colin.shaw1@montana.edu>
406.994.6760

From:

[2019-07-30 17:04] panamint55 commented on #573
Version 1.7.8 should work.  It may take a while, but it should eventually go with good internet.  Images are now huge, and can take a lot of time.

Doug

*****************************
J. Douglas Walker
Department of Geology
Ritchie Hall
1414 Naismith Dr., Room 254
Lawrence, KS 66045-3106
*****************************

From: cashaw-mt <notifications@github.com>
Reply-To: StraboSpot/strabo-mobile <r

[2019-08-14 19:02] hannahcunning opened #575 "minerals in pet-mineralogy tab disappearing"
I have found a bug where I will add minerals, go to the main Spot page for that spot, go back to the minerals page and there will be no minerals in it. It seems to happen when I create a new mineral, go from mineralogy to tertiary, add things in ternary,  go back to mineralogy, and then go to the spot tab. I get a blink of a blank mineralogy page before it goes to the spot page. This happens wheth

[2019-08-14 21:13] jessicagood commented on #575
@hannahcunning Was finally able to recreate it. Good find on this bug. Could you get the app again and see if the page still goes blank on you?

[2019-08-22 17:42] #575 closed

[2019-08-22 20:22] hannahcunning opened #577 "alteration,ore minerals being named "unknown"
under Pet Minerals->Mineralogy, When I choose a mineral from the Rock Class "Alteration, Ore" it makes the name of the mineral in the list "Unknown". This only happens when I choose the mineral from the list, and not when I enter the name or abbreviation for the mineral.

![Screenshot_20190822-151605_Strabo Mobile](https://user-images.githubusercontent.com/54119012/63546730-13821c80-c4f0-11e9-9ca0

[2019-08-22 20:28] jessicagood commented on #577
Good catch! Just an extra 's' on the end messing it up. Fixed with commit 1260812658524cb6ea0baac9d0b99ea99eb6b990.

[2019-08-22 20:28] #577 closed

[2019-08-31 17:05] jessicagood commented on #214
Switched to 80 with commit cf39eb86382bcd7ebe8ae0cca5f277217deb69de

[2019-08-31 19:37] aglazner opened #578 "iOS magnifying glass freeze"
When editing a tag name, if I touch the name, get the magnifying glass, and insert text at the start of the tag name, app freezes upon hitting left arrow. It seems to take several taps before I get the cursor to appear before getting the magnifying glass.

[2019-08-31 19:59] aglazner opened #579 "GPS precision field"
It would be nice to record the GPS precision, as shown on the map, with locations.

[2019-08-31 20:01] aglazner commented on #579
Never mind--should have been posted on Strabo2

[2019-08-31 20:01] #579 closed

[2019-08-31 20:30] jasonash opened #580 "Downsample Images from App"
Change image quality to 75% and resize to 2000 pixels on long edge

[2019-08-31 20:39] jasonash commented on #580
This might be of interest:

https://ionicframework.com/docs/native/image-resizer

[2019-08-31 20:43] jessicagood commented on #580
I think we can do in right in the plugin options with `targetHeight` and `targetWidth`

https://github.com/apache/cordova-plugin-camera#cameracameraoptions--object

[2019-08-31 20:45] jasonash commented on #580
Yes, but this would sacrifice the full-res version. If we capture at full-res and then resize after, the full-res version is retained in the camera roll. I think this is what Diane hinted at, to keep a good version on device for possible use later.

[2019-09-03 03:36] aglazner opened #583 "Terms for petrology"
Please:

Add the following to habit: anhedral, subhedral, euhedral

Add “seriate” to Plutonic Textures

Add “hydrothermal veins” to Modification

Make Modification panel show up on both plutonic and volcanic

[2019-09-03 15:27] jessicagood commented on #580
Tested this with commit a24db7b91c8e6b69755cebbf00ffd422d912e4fa. Android actually still keeps a full-res photo in the gallery but, as predicted, iOS does not.

[2019-09-04 03:46] jessicagood commented on #580
Fixed with commit 64aa9b44b3409583155f60d16d3bf95e462d889b. Images resized to max height and width of 2000 on upload, when converting image to a blob.

[2019-09-04 03:52] jessicagood commented on #583
@hannahcunning Can you add these when you make your other KoBo forms changes?

[2019-09-04 15:52] hannahcunning commented on #583
Will do.

[2019-09-04 16:30] hannahcunning opened #584 "Minerals in "Mineral Glossary" and "Full Mineral List" do not match up."
There are a number of minerals on the "Full Minerals List" in the Mineralogy tab that are not in the Mineral Glossary, and vice versa. Some of these make sense, as the "Full Minerals List" is not including sedimentary minerals, such as gypsum or halite.

I can do the work to make the lists match by adding the missing minerals from each list to where they are missing. I am currently working on clas

[2019-09-04 16:45] hannahcunning commented on #584
[Mineral lists.docx](https://github.com/StraboSpot/strabo-mobile/files/3575619/Mineral.lists.docx)

[2019-09-04 17:10] jessicagood commented on #584
@hannahcunning Ah, yes, started looking at this but then got headed down another rabbit hole. I copied the glossary from a minerals sections that Nathan had worked with Allen on last summer. That included sedimentary minerals apparently. Should the sedimentary minerals (and any other types of minerals) be included in the Pet Minerals/Mineralogy page? Up to you all.

[2019-09-04 17:16] jessicagood commented on #584
@hannahcunning In case it helps, if you log into the main Strabo KoBo forms account (let me know if you need the pw) you'll see all the minerals from the old mineral section (that was never used except testing and I was asked to remove).  There are forms for for All and Most Common for Heavy Minerals, Igneous, Metamorphic and Sedimentary.

[2019-09-04 17:41] jessicagood opened #585 "Petrology Pages (Names & Organization)"
@hannahcunning @aglazner @btikoff

At the meeting someone suggested changing the name of the `Pet Basics` page to `Ig/Met`. Is that what you want? Should it be `Pet Ig/Met` to make it more similar to `Pet Minerals`?

Or do you want `Basics`, `Mineralogy`, `Reactions`, `Ternary` all under one `Petrology` page? To me this makes more sense but I'm not a geologist. **The data structure I'm using is mo

[2019-09-04 17:46] hannahcunning commented on #584
I have the list and will begin editing the kobo forms to add the minerals and make changes. Other than the updated list of minerals, is there anything you need to update the Mineral glossary?

[2019-09-04 17:50] jessicagood commented on #584
If you want to add any minerals to the glossary or take away minerals (because you don't want sedimentary minerals here or some other reason) I need to know which ones. And for add minerals I need all the info that the other minerals in the glossary have.

Just make sure you don't remove or change the names of any of the minerals that are coming from  Rock Unit. If you want minerals from Rock Unit

[2019-09-04 18:07] jessicagood commented on #584
Here is the data I'm using for the glossary if you want to add to it. The abbreviations should also be added to this. Note somehow it looks like melilite lost some info.

[MineralGlossary.xlsx](https://github.com/StraboSpot/strabo-mobile/files/3575893/MineralGlossary.xlsx)

[2019-09-04 18:31] jessicagood commented on #584
@hannahcunning I edited the file above to include the abbreviations you had so if you've downloaded it make sure you download it again. I need the abbreviations in this file to start fixing some of the code but there is still missing info for the glossary.

[2019-09-04 19:16] hannahcunning commented on #584
So do you mean that the minerals from the old Minerals section cannot be changed and must be on the new "Full Mineral List" and in the Mineral Glossary? There are several instances where this would not be appropriate, as I have outlined in the following document.

I will work on adding the information to for the new minerals in the glossary.

[Mineral conflicts.xlsx](https://github.com/StraboSpot/

[2019-09-04 19:53] jessicagood commented on #584
We have 4 places (I think) where there are minerals. Rock Unit, Pet Minerals, the Minerals Tag (Nathan did last summer and I'm deleting) and in Sed (??). The current glossary I pulled from the Minerals Tag. Anything in that came from Minerals Tag you can choose to include or not.

The thing we have to think about is what happens when someone selects a volcanic, plutonic or metamorphic mineral in t

[2019-09-05 12:52] aglazner commented on #585
My druthers are a main tab that is either Pet or Ig/Met (Pet being as opposed to Sed, I think that’s clear enough to people), and the 4 tabs you mention below under that.

I think Doug needs to weigh in regarding the bold and later stuff below.

So my suggestion would be

Pet
Rock, Minerals, Reactions, Ternary

and then

Sed
[all the stuff they need]

I will be back in Gunnison tonight but then in

[2019-09-05 14:16] panamint55 commented on #585
The main concern here is whether Basics, Mineralogy, Reactions, Ternary will be widely applied to non-petrology spots.  For example, Orientation and Sample are separate tabs so that they are obvious for all spots.  For sedimentology, it is so specific and verbose that most of the descriptions are no general, and only apply to this.

I would say that IG-MET-PET would be good as a tab with the other

[2019-09-05 15:07] aglazner commented on #585
What he said, but I would suggest, now that I’ve read his comment, that Ternary is applicable to a lot of subfields, since it is used widely in classification in sed rocks, volcaniclastic rocks, etc. So maybe Ternary should be a first-level tab that people can turn on or off, rather than a sub-tab under Ig/Met. It would need to be able to access various data fields for its plots (duh).

Hannah, if

[2019-09-05 16:26] hannahcunning commented on #585
Alan,
Since we all have been '@-ed' in this thread we are all getting notifications whenever someone replies. I have gotten email updates each time someone replies even though they don't '@' me in every reply.

[2019-09-05 16:47] hannahcunning commented on #584
I am having trouble finding minerals anywhere except for in Sed, the Minerals tag, and the Pet Minerals. I don't see any minerals in Rock Unit (where you create a rock unit tag). If you are referring to something else I have overlooked then I will add those to the list.

[2019-09-05 17:09] panamint55 commented on #584
No, that is probably it.  My only point is that in both sed and ig it is still just minerals.

The minerals tag is going away.

Doug

*****************************
J. Douglas Walker
Department of Geology
Ritchie Hall
1414 Naismith Dr., Room 254
Lawrence, KS 66045-3106
*****************************

From: hannahcunning <notifications@github.com>
Reply-To: StraboSpot/strabo-mobile <reply@reply.githu

[2019-09-05 23:05] aglazner opened #586 "BUG REPORT"
**Describe the bug**
Hang on "Getting Projects from Server..."

**To Reproduce**
Are you able to reproduce the problem in a new project after restarting the app?
Yes

Steps to reproduce the behavior:
1. Go to 'Manage Project'
2. Click on kebab
3. Scroll down to 'Switch Projects"
4. See error

**Expected behavior**
Dialog to choose project

**Screenshots**
If applicable, add screenshots to help exp

[2019-09-05 23:22] jasonash commented on #586
Allen, here are a few thoughts:

Have you been using the offline server? Make sure that under Help -> Miscellaneous that the URL is set to https://strabospot.org/db

Are you logged in as a user with an account at strabospot.org? You might try logging out and logging back in.

I just did a test with your gsaft2019 account and had no issues switching projects using the current PhoneGap version of th

[2019-09-06 00:52] panamint55 commented on #586
That is exactly right.  I have this happen a few times at field camp every year.

Doug

*****************************
J. Douglas Walker
Department of Geology
Ritchie Hall
1414 Naismith Dr., Room 254
Lawrence, KS 66045-3106
*****************************

From: Jason Ash <notifications@github.com>
Reply-To: StraboSpot/strabo-mobile <reply@reply.github.com>
Date: Thursday, September 5, 2019 at 6:22 P

[2019-09-06 04:08] aglazner commented on #586
You called it. I was on the offline server. That is going to be hard to remember.

On Sep 5, 2019, at 6:52 PM, panamint55 <notifications@github.com<mailto:notifications@github.com>> wrote:

That is exactly right. I have this happen a few times at field camp every year.

Doug

*****************************
J. Douglas Walker
Department of Geology
Ritchie Hall
1414 Naismith Dr., Room 254
Lawrence, KS

[2019-09-06 04:15] aglazner commented on #586
at the moment I get an immediate “can’t communicate with server” message. I’ll try again in the morning.

On Sep 5, 2019, at 5:22 PM, Jason Ash <notifications@github.com<mailto:notifications@github.com>> wrote:

Allen, here are a few thoughts:

Have you been using the offline server? Make sure that under Help -> Miscellaneous that the URL is set to https://strabospot.org/db

Are you logged in as a

[2019-09-06 13:45] panamint55 commented on #586
In my experience you do this 20 times or so and then remember.

Doug

*****************************
J. Douglas Walker
Department of Geology
Ritchie Hall
1414 Naismith Dr., Room 254
Lawrence, KS 66045-3106
*****************************

From: aglazner <notifications@github.com>
Reply-To: StraboSpot/strabo-mobile <reply@reply.github.com>
Date: Thursday, September 5, 2019 at 11:08 PM
To: StraboSpot/s

[2019-09-09 13:11] jessicagood commented on #584
@hannahcunning I think I was mixing up rock type with mineral. Rock type is the field in Rock Unit that is copied over to Pet Mineralogy.

[2019-09-09 13:35] jessicagood commented on #585
A simpler name than IG/MET/PET would be better in my opinion but I can certainly make it IG/MET/PET (slashes look better than the dashes I think and take up less room).Then the following secondary level pages:

IG/MET/PET
    Pet Rock
    Minerals
    Reactions
    Ternary

Right now Ternary is only using fields from Pet Minerals -> Mineralogy so maybe we keep it under IG/MET/PET and move it when

[2019-09-09 14:52] hannahcunning commented on #584
Jessica, here is the updated Mineral glossary. I will let you know when I have the kobo forms updated.
[MineralGlossary_hannahupdates.xlsx](https://github.com/StraboSpot/strabo-mobile/files/3591120/MineralGlossary_hannahupdates.xlsx)

[2019-09-09 15:10] panamint55 commented on #585
That is ugly, but not sure what is better.  Ideas?

*****************************
J. Douglas Walker
Department of Geology
Ritchie Hall
1414 Naismith Dr., Room 254
Lawrence, KS 66045-3106
*****************************

From: Jessica Good <notifications@github.com>
Reply-To: StraboSpot/strabo-mobile <reply@reply.github.com>
Date: Monday, September 9, 2019 at 8:35 AM
To: StraboSpot/strabo-mobile <str

[2019-09-09 15:53] aglazner commented on #585
I suggest Ig/Met with tabs for Rock, Minerals, Reactions, Ternary, except that I would still pull Ternary out into its own tab. “Pet” is not needed.

On Sep 9, 2019, at 8:10 AM, panamint55 <notifications@github.com<mailto:notifications@github.com>> wrote:

That is ugly, but not sure what is better. Ideas?

*****************************
J. Douglas Walker
Department of Geology
Ritchie Hall
1414 Nais

[2019-09-09 21:23] aglazner opened #587 "BUG REPORT"
**Describe the bug**
On the website, if I’m editing a spot and click the Notes tab, it gets stuck trying to load the map instead of bringing up the Notes page. See screenshot.

<img width="1206" alt="Untitled" src="https://user-images.githubusercontent.com/25137645/64567577-67bd3700-d30d-11e9-92b3-746574bb0903.png">

[2019-09-09 22:00] jasonash commented on #587
@jessicagood Looks like the minerals tab controller is throwing errors on the map view:

<img width="777" alt="Screenshot 2019-09-09 16 59 44" src="https://user-images.githubusercontent.com/7904402/64569524-541ccb00-d323-11e9-974d-05a93f96e240.png">

[2019-09-09 22:04] hannahcunning commented on #584
Jessica,
I have updated the kobo forms.

[2019-09-10 00:53] aglazner opened #588 "Web Version: Editing Image Properties - BUG REPORT"
I have been trying to edit the field trip project in the web browser, which is a lot more convenient than on a mobile device. However, it seems to be throwing away many changes. I edited a lot of image captions and saved (see pic 1). However, after logging out and back in the changes have been discarded (pic 2).

Note that I originally put in image names, thinking that they would be displayed with

[2019-09-10 15:17] jessicagood commented on #587
Fixed with commit 074e9ee

[2019-09-10 15:17] #587 closed

[2019-09-10 16:40] aglazner opened #589 "BUG REPORT"
Selection on the iPad is skittish; difficult to select what you want. Happens quite often. See attachment.

[IMG_1501.MOV.zip](https://github.com/StraboSpot/strabo-mobile/files/3596809/IMG_1501.MOV.zip)

[2019-09-10 16:50] jessicagood commented on #584
FYI, you have `Cr-diopside` under Mineral but not under one of the classes. Not sure if that's on purpose or not.

[2019-09-10 16:53] jessicagood commented on #584
Same with `spodumene`.

[2019-09-10 16:55] hannahcunning commented on #584
This is on purpose, according to the list I was given.

[2019-09-10 22:13] jessicagood commented on #585
Implemented in commit d422e1f93041ddee6a0822f295d5cbb74bf7e5c9.

@aglazner I left Ternary alone for now since it's only using data from Ig/Met but we can move it later.

[2019-09-10 22:13] #585 closed

[2019-09-10 22:15] jessicagood commented on #584
@hannahcunning Ok, this is in all in the code. Note I changed the names of the 3 forms we're using in KoBo forms to match the names of the subtabs in the app - Rock, Minerals and Reactions. A form for ternary is not needed and can be deleted, along with any other forms you want (except the first 3) so the list is cleaned up.

[2019-09-10 22:15] #584 closed

[2019-09-10 22:16] #583 closed

[2019-09-10 22:16] #580 closed

[2019-09-11 14:57] hannahcunning opened #590 "Duplicated mineral in Mineral GlossaryBUG REPORT"
Hypersthene appears twice in the mineral glossary, as 'Hypersthene' and 'Orthopyroxene (Hypersthene)' . The entry under 'Hypersthene' can be removed.

[2019-09-11 15:11] jessicagood commented on #590
@hannahcunning Sure, I can remove it from the glossary but I do see you use both `orthopyroxene` and `hypersthene` in the Minerals form.

[2019-09-11 15:18] hannahcunning commented on #590
Orthopyroxene is a name for a group of minerals, and hypersthene is one of the minerals in that group.

Also I forgot what I did for the mineral glossary. The entry with the name 'Orthopyroxene (hypersthene)' should be renamed to 'Orthopyroxene', and the entry under 'Hypersthene' should remain the same, as one refers to the group of minerals, and the other refers to the specific mineral.

[2019-09-11 15:36] jessicagood commented on #590
Ok. Fixed with commit 79ea5422cf5f562dc91c2bc8c530033110c08e36 and PhoneGap build updated (but no new version number).

[2019-09-11 15:36] #590 closed

[2019-09-11 17:19] aglazner opened #591 "Web Version: Map hangs - BUG REPORT"
Repeated hangs when trying to access map from various directions (from a spot, by just trying to see the map, etc.), always with {{vm.something}}. See attached.
<img width="1206" alt="Untitled" src="https://user-images.githubusercontent.com/25137645/64719672-9eb25a80-d47d-11e9-9eec-855e719d888b.png">

[2019-09-11 17:30] jessicagood commented on #591
@aglazner I don't have enough information to recreate this. Is is a problem with a specific Spot? What about in a different project? Do you still get the same issue?

[2019-09-11 17:51] jessicagood commented on #588
@jasonash On the web version if you **modify** the value for an image property (title, caption, etc) that already exists then switch the project or log out when you go back to that project the value modified is back to its original value. I can see the correct json being sent to the server in `LiveDBFactory` so there something different about how the server processes the image properties object? O

[2019-09-11 17:53] aglazner commented on #589
This is in the web app. Maybe I put the report in the wrong place. See attached link. It happens with different projects, and whether I get there from the Main Map menu item or click the folded map in a spot description.

https://www.dropbox.com/s/q3g1o5s8pshwgy2/Hang.mov?dl=0

On Sep 11, 2019, at 10:31 AM, Jessica Good <notifications@github.com<mailto:notifications@github.com>> wrote:

Does this

[2019-09-11 18:00] jessicagood commented on #591
The following was posted in a different issue and moved here.

From @aglazner: This is in the web app. Maybe I put the report in the wrong place. See attached link. It happens with different projects, and whether I get there from the Main Map menu item or click the folded map in a spot description.

https://www.dropbox.com/s/q3g1o5s8pshwgy2/Hang.mov?dl=0

[2019-09-11 18:01] #586 closed

[2019-09-11 18:50] jasonash commented on #588
@jessicagood I just logged into the web version and changed an existing image title and it seemed to work correctly. Do you have an example project that I can look at to duplicate the issue?

See here:

https://www.youtube.com/watch?v=jW7BNQHNY6c

[2019-09-11 18:53] jasonash commented on #588
@jessicagood Never mind. I can duplicate with Allens project. I'll take a look.

[2019-09-11 19:14] jasonash commented on #588
@jessicagood  OK, I found a small bug that was causing preexisting values to not be overwritten.

I think this is fixed now. Please verify.

Thanks,

Jason

[2019-09-11 20:15] jessicagood commented on #588
@jasonash Still not working for me. I've tried several different projects, the website itself and the development web version and still the original value returns when coming back to the project after leaving.

[2019-09-11 20:41] aglazner commented on #588
I just verified that it still doesn’t work. Here’s a link to a video showing my version:

https://www.dropbox.com/s/kczafkl6baibpbn/Image%20problem.mov?dl=0

On Sep 11, 2019, at 1:15 PM, Jessica Good <notifications@github.com> wrote:

@jasonash<https://github.com/jasonash> Still not working for me. I've tried several different projects, the website itself and the development web version and still

[2019-09-11 20:41] jasonash commented on #588
@jessicagood OK, I just pushed to production again. Can you try it now?

[2019-09-11 20:44] aglazner commented on #588
I tried one and it worked. Will fix the rest later this aft. Thanks.

On Sep 11, 2019, at 1:41 PM, Jason Ash <notifications@github.com<mailto:notifications@github.com>> wrote:

@jessicagood<https://github.com/jessicagood> OK, I just pushed to production again. Can you try it now?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://gith

[2019-09-11 20:46] jessicagood commented on #588
@jasonash Ok I can confirm that it works now. Thanks.

[2019-09-11 20:46] #588 closed

[2019-09-13 18:33] jasonash commented on #591
@jessicagood I tried upgrading the web version to 1.9.0, but there are still issues with the map sidebar that are causing the app to hang. See this video:

https://www.dropbox.com/s/imgnpsaw0znjkgj/1.9.0.Map_Sidebar_Error.mov?dl=0

I put version 1.8.5 back up, but it also has issues with the map sidebar:

<img width="759" alt="Screenshot 2019-09-13 13 28 37" src="https://user-images.githubusercont

[2019-09-13 21:14] jessicagood commented on #591
When I added the Notes page I didn't add the content of the page to map side panel in the web version. I've added it now with commit f5d58ab902500cb1007cb7bfacc6c83ff302e5c8. Could you see if it works?

Oddly I wasn't getting any errors or hanging, just no content in the Notes in the side panel. Even when I logged into the GSA project.

Obviously no need to update the mobile app since this was onl

[2019-09-13 21:20] jasonash commented on #591
@jessicagood OK, I made 1.9.1 live on the server. It looks like it is working correctly now. Thanks for the quick fix.

[2019-09-17 17:16] aglazner opened #592 "FEATURE REQUEST"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

I just drew a polygon around a large set of points that I wanted to distinguish on the map as “Stop 2 area”. I experimented with different types to find one with either no fill or a faint fill, to no avail. So I went to delete the polygon,

[2019-09-17 17:50] jessicagood commented on #592
Fixed with commit 2dc439c. I added a check to see if any of the "children" Spots are mapped on an image basemap or strat section. If so we don't want to let the user delete the Spot, if not, yes, you should be able to delete the Spot. This is updated in PhoneGap. No new version. I'll look at the images issue.

[2019-09-17 18:03] jessicagood commented on #592
Also, if you draw a polygon and set the Surface Feature Type on the main Spot tab to 'Extent of Mapping' there is no fill.

[2019-09-18 17:04] #591 closed

[2019-09-24 20:54] jessicagood commented on #573
As of Sept 3 images are now downsized to a max of 2000 pixels for the larger of height or width on upload. Original resolution is still retained for the image on device. This will help with uploading when internet is slower.

[2019-09-24 20:54] #573 closed

[2019-09-24 20:56] #540 closed

[2019-09-26 17:09] mikeastearns opened #593 "Unable to import maps (or use any scroll menu) on iPhoneX"
**Describe the bug**
When accessing any feature that has a scrolling, such as adding a map from 'Other Basemaps', you cannot choose an option. The scroll wheel works, but touching/choosing one option doesn't do anything.

A related issue is that this same operation crashes the web-based version.

**To Reproduce**
Are you able to reproduce the problem in a new project after restarting the app?
Yes

[2019-09-27 16:10] NathanNovak commented on #593
@mikeastearns I loaded the app on an IPhone X simulator and I see what you are talking about.  after doing some research, the technology we use to run the app doesn't supply a "done" button on the iOS picker.  To make a highlighted selection you need to touch the "Map Type" dropdown box.  This is only an issue on IPhones.  IPads bring up a separate selection modal that allows the user to select an

[2019-09-27 16:10] #593 closed

[2019-10-29 21:59] #592 closed

[2019-10-29 21:59] #572 closed

[2019-10-29 22:00] jessicagood commented on #563
Fixed with 2c6395cd3908c669b8c996f566345fe361865d76

[2019-10-29 22:00] #563 closed

[2019-11-05 17:45] nicolasmroberts opened #603 "BUG REPORT: drawing over image"
**Describe the bug**
When I go to draw over an image, the screen is filled with the top left corner of the picture.

**To Reproduce**
Are you able to reproduce the problem in a new project after restarting the app?
Yes

Steps to reproduce the behavior:
1. Add new spot
2. Take picture
3. click on 'more' next to the picture
4. hit the pencil button

**Expected behavior**
The whole picture should loa

[2020-02-02 16:05] panamint55 opened #604 "Name of dataset in new project"
Now when you create a new project it makes a dataset named default automatically.  If you add a new dataset then you get a dialog asking for the name of the new project.

Can we make it so that when you add a new project it does not automatically name the dataset but put up the normal dialog for creating the name of a new dataset?

![image](https://user-images.githubusercontent.com/9283127/7361105

[2020-02-02 16:37] panamint55 opened #605 "Change Name of Dataset"
At this point you can rename a project by going to the project description.  Can we do the same thing for dataset.  In the image below the name is editible.  We need the same for the datasets.

![image](https://user-images.githubusercontent.com/9283127/73611502-0d688f80-45a8-11ea-9973-7403e76dd9e0.png)

[2020-04-14 15:49] jasonash opened #608 "Need to keep spot label by station"
Per Basil:
Need to keep spot label by station, even if it has dip amount.  That is, show strike and dip symbol, but don’t show the dip amount.  Rather, keep station identifier by it.

Per Doug, this should be for ONLINE version only.

[2020-04-14 15:49] jasonash opened #609 "Notes on Desktop Version Broken"
According to Basil:

For notes entered in the desktop.  The text in notes has every word capitalized and run together.  This is not the case (as far as I know) for text entered in the app.

[2020-04-14 15:50] jasonash opened #610 ""Set to My Location" causes Browser to Hange"
According to Basil:

Remove “Set to My Location” in desktop version.  This hangs up the program.

[2020-04-14 15:56] jasonash opened #611 "Add Public URL to Image Detail"
Per Basil:

Instructors will want to make sure of photos or sketches entered into STraboSpot, but can’t access them.  Please have a pointer to the URL of the picture (photo, sketch), so they can go get them.

URL would look like:

https://strabospot.org/pi/15851589624125

[2020-04-14 15:57] jasonash opened #612 "Back Button Disappears on Image View on Desktop"
This happens for Basil using Chrome, but not Doug.  For looking at a photo (not a photobasemap), if you go into it and muck about, you will get stuck and can’t get out.  The back arrow disappears if you resize the image sometimes.

[2020-04-14 15:58] jasonash opened #613 "Points on Map are Sometimes Dots, Sometimes Bullseyes"
I have no idea why sometimes a point is a bullseye point versus a dot (look at Baraboo 3 by Baraboo, WI).  They work the same, but it would be better to all be dots.  I think it did this on the app, and it transferred to the desktop version.

[2020-04-14 21:29] jessicagood commented on #609
@btikoff Is this on the main Notes page? I can't recreate the issue. Did anyone else have this issue or know how to recreate it?

[2020-04-14 21:34] jessicagood commented on #613
@btikoff Could it be that your Spots had orientations with a feature type of bedding and a had no dip or plunge or a dip or plunge of 0? The only "bullseye" image file we are using is the one for horizontal bedding. I don't have the log in info for Baraboo 3 by Baraboo, WI so I can't look at that project.

[2020-04-14 21:41] jessicagood commented on #612
@btikoff I can't recreate this when viewing an image in a Spot on the live web version. Tested with Chrome. I need more info about how to consistently get this issue.

[2020-04-15 22:33] jessicagood commented on #611
Added with commit 27f3f468487230906e30ad76350c9e8c82b17e60

[2020-04-15 22:33] #611 closed

[2020-04-15 22:33] jessicagood commented on #610
Fixed (not removed) with commit f1fb3b99d25f00b7fa024b95d45f379f7354be43

[2020-04-15 22:33] #610 closed

[2020-04-16 22:53] jessicagood commented on #608
Fixed with commit addd2d480fe44d2d9f1d470ff2fd5239d6f16f25

[2020-04-16 22:53] #608 closed

[2020-04-27 15:50] alexanderlusk commented on #609
@jessicagood  if Basil makes a station with any formatting (e.g. new paragraph) and I then go and look at the station in strabo search, the formatting doesn't show up for me and Each Word Is Capitalized. I can send a screen shot of what I see, if that would help.

[2020-04-27 15:56] alexanderlusk opened #614 "Toggle spot symbology"
@jessicagood For using strabo as a teaching tool, it would be useful to be able to toggle the spot strike/dip symbols on an off (on an image basemap or the main map) and have them replaced by just a point (i.e. no symbology). How difficult would this be?

[2020-04-27 17:49] jessicagood commented on #609
Yeah, screenshots would really help. You can paste right in your comment. When you say strabo search do you mean https://strabospot.org/search/? Do the words look correct in the app?

[2020-04-27 17:51] jessicagood commented on #614
This wouldn't be too difficult but the student could just go ahead and toggle the symbology back on.Is this something I should work on in SS1 @panamint55?

[2020-04-27 18:15] alexanderlusk commented on #609
<img width="894" alt="Screen Shot 2020-04-03 at 2 59 37 PM" src="https://user-images.githubusercontent.com/25871635/80405599-af320c80-8877-11ea-9afc-3958961d2811.png">
I can't speak for the app. Can I access Basil's points on my app?

[2020-04-27 18:16] alexanderlusk commented on #609
<img width="1146" alt="Screen Shot 2020-04-27 at 11 09 30 AM" src="https://user-images.githubusercontent.com/25871635/80406146-73e40d80-8878-11ea-9089-12cdcb7ac616.png">
I don't know about the app. Can I access Basil's saved spots on the app version?

[2020-04-27 18:21] jessicagood commented on #609
You'd have to have his user name and pw to access it. It'd be helpful to know how it looks through the app, either on the device or web.

[2020-04-27 18:38] alexanderlusk commented on #609
Ah, ok. I believe when Basil looks at it on his account it looks correct... regardless of desktop/app.
@btikoff can you confirm?

[2020-04-27 19:29] jasonash commented on #609
@alexanderlusk This should be fixed now. Please take a look and let me know if your notes appear as expected now.

[2020-04-29 19:34] jessicagood commented on #614
Added with commit ea05f56cc213012d8fd762d9dd37de0de821ae75

[2020-04-29 19:34] #614 closed

[2020-05-01 16:57] jasonash opened #615 "Spots Detail Pane Not Behaving Correctly on Desktop Version"
On the desktop version, the spot details pane on the map view seems to be behaving incorrectly. When you click on a spot, the spot details are shown, but when you click off of the spot on a random point on the map, the typical "No Spot Selected" message appears at the top of the bar, but the spot details are not cleared.

Here is a screenshot
<img width="1458" alt="Screenshot 2020-05-01 11 52 57"

[2020-05-04 17:23] jessicagood commented on #615
Is this happening with every project. I can't recreate it in the dev environment or at https://strabospot.org/. It's especially weird because the lines that show "No Spot Selected" vs Spot info are mutually exclusive.

     <div ng-show='vm.clickedFeatureId === undefined'>
        No Spot Selected
     </div>
     <div ng-hide='vm.clickedFeatureId === undefined'>
        ...
https://github.com/Str

[2020-05-04 17:54] jasonash commented on #615
I just did some more testing and I am also unable to recreate the issue now. I'm wondering if it had something to do with repeatedly clearing my browser cache last week when debugging the desktop issue. I'll close for now.

[2020-05-04 17:54] #615 closed

[2020-05-07 21:14] alexanderlusk opened #616 "BUG REPORT: spots in image basemap offset in "search" vs "desktop""
**Describe the bug**
Spots (orientations, etc) do not appear in the same place on an image basemap in online search vs the desktop app.
Images below:
![Screen Shot 2020-05-07 at 2 05 27 PM](https://user-images.githubusercontent.com/25871635/81345250-f933a300-906c-11ea-852a-43ce2e18e0d9.png)
![Screen Shot 2020-05-07 at 2 05 04 PM](https://user-images.githubusercontent.com/25871635/81345261-fcc72a00

[2020-05-07 21:15] jasonash commented on #616
This appears to be a bug on the search interface. I will look into it.

[2020-05-08 01:41] jasonash commented on #616
@alexanderlusk OK, this issue should be fixed now. Please have another look.

[2020-05-08 13:25] jasonash commented on #616
Fixed.

[2020-05-08 13:25] #616 closed

[2020-05-25 12:24] jasonash opened #617 "Spot Symbol not changing with addition of planar strike and dip"
From Casey Buchanan via Gmail:

I recently downloaded StraboSpot on my phone (iPhone 7) and it seems to work fine for the most part, but I noticed that when I add a strike and dip to a planar feature it doesn’t change the generic black dot symbol to a strike and dip symbol. Is there a setting that a need to turn on first or should it automatically update the symbol. Note it does show the dip in de

[2020-05-25 15:57] panamint55 commented on #617
You have to make sure you classify the planar feature type.  It remains a dot until you do this.  Otherwise, it does not know what symbol to use.

Doug

From: Jason Ash <notifications@github.com>
Reply-To: StraboSpot/strabo-mobile <reply@reply.github.com>
Date: Monday, May 25, 2020 at 7:24 AM
To: StraboSpot/strabo-mobile <strabo-mobile@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.

[2020-06-17 13:23] #617 closed

[2020-06-25 16:10] UASTeam opened #619 "BUG REPORT: Web interval spot images"
**Describe the bug**
Adding images to an interval spot through the side window view of the interval doesn't work, whereas going into the interval spot through the spot list and adding images there works.

**To Reproduce**
Are you able to reproduce the problem in a new project after restarting the app?
Yes

Steps to reproduce the behavior:
1. Go to Strat Section Tab, select 'view stratigraphic sect

[2020-07-08 13:12] #609 closed

[2020-10-21 06:00] ThomasMGeo opened #622 "BUG REPORT"
**Describe the bug**
Looking at the PDF help, I want/need to export the spots as a csv

**To Reproduce**
Are you able to reproduce the problem in a new project after restarting the app?
Yes

Steps to reproduce the behavior:
1. Open app
2. go to project
3. click on spots
4. click on dot icon in the upper right

**Expected behavior**
A clear and concise description of what you expected to happen.

*

[2020-10-21 17:07] jasonash commented on #622
Hi Thomas. Unfortunately, the CSV export option for StraboSpot V1 has been deprecated and removed. We are currently developing StraboSpot V2 and this feature should be included that release.

In the interim, you can still download your data as XLSX by doing the following:

1. Upload your project to the StraboSpot.org database via Project -> Manage -> Three dot menu -> Upload Project
2. Go to Strab

[2020-10-21 17:18] ThomasMGeo commented on #622
Hi Jason,

Thanks! I was scared that it was stuck forever.

Thanks,
Thomas

[2020-10-24 14:08] jasonash opened #623 "MultiPolygons not Represented Correctly"
Rick Allmendinger reports:

A quick question about MultiPolygons: These are commonly used to show holes in closed formations and are especially common when one imports a shp file from a GIS program. My nearly finished update to GMDE Mobile renders these correctly and even has a way of allowing the user to create multipolygons in the app. Winding is correctly defined with the outer polygon CCW (+)

[2020-10-27 17:09] #622 closed

[2021-02-19 20:50] jasonash opened #625 "BUG REPORT"
The following was reported via strabospot@gmail.com:
Hi,

If I try to enter a start or end date for a project in the Basic Info window under the Description menu, the date always resets to mm/dd/yyyy once I attempt to enter the third number. I don't think I am doing anything wrong. Btw, this problem occurs using the web version. I'm using a PC, which I doubt matters anyway. I'm not sure if you can

[2021-03-04 21:58] jessicagood opened #626 "Remove Button to Add New Spot without Location"
On the Spots Lists via the '+' icon button

per @panamint55

[2021-03-05 20:38] jessicagood commented on #626
Removed with commit bfb4cdbb1c129be591af54cd1e9824dbaa15294c

[2021-03-05 20:38] #626 closed

[2021-03-08 20:54] jessicagood commented on #625
Fixed with commit 518b253

[2021-03-08 20:54] #625 closed

[2021-12-08 14:11] NathanNovak opened #638 "Start and end date not working"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Are you able to reproduce the problem in a new project after restarting the app?
Yes

Steps to reproduce the behavior:
Try to enter a start and end date in Project Description

https://user-images.githubusercontent.com/35514146/145222650-6ae43e9f-6190-4bfd-896d-9df216257d60.mp4