[2016-04-18 22:32] JEAndrew commented on #202
Select multiple box?

[2016-04-18 22:43] jessica-azgs commented on #202
I did the start of Fabrics for you. Check that out. You start with a select box and select the type of Fabric you are entering. If you select Tectonite then the Skip Logic opens more fields for tectonites. You can only enter one type of fabric, so no it is not a select-mulitple. I will write to code to handle entering a 2nd type of fabic (or a 2nd type of any 3D structure) - that part won't be in

[2016-04-19 20:08] jessica-azgs opened #243 "Add Resources to GitHub"
When adding the master resources below to the GitHub repository the project size is pushed just over 50MB which throws an error with PhoneGap Build for the repository being too large. For now I removed  these resources from GitHub. When we stop using PhoneGap Build they should be added back in as they are needed to generate the icon and splash screens for various devices when we use Ionic Package.

[2016-04-19 22:10] JEAndrew commented on #202
Ok, I updated these per your example

[2016-04-21 01:23] jessicagood opened #244 "Add Tags"
Add the ability to tag Spots as well as sub-Spot-level features (orientations, 3D structures, samples and other features) with a label. This should be able to be done from a main menu item called Tags and from a tab in each spot called Tags. For sub-Spot-level features need to be able to tag these from within each feature. And even for Spots we need to have a way to tag features without going to t

[2016-04-21 19:17] jessicagood opened #245 "Update to Ionic 1.3"
http://blog.ionic.io/announcing-ionic-1-3/

[2016-04-21 21:49] jessica-azgs commented on #202
@JEAndrew Can we just call the `Boudin-Mullion-3D` form `Other 3D Structures`?

[2016-04-21 23:35] jessica-azgs commented on #202
@JEAndrew I think you need some skip logic in there tied to the new top-level select boxes. Make sure any skip logic is tied to an actual field and doesn't just show because a group is open. For example, the skip logic for **each** field in Ellipsoidal Tensor Data needs to be tied to the top-level Tensor Type field.

[2016-04-22 05:36] jessica-azgs commented on #202
I added a label field to the top of each form so the user can identify each 3D Structure with a personalized label. A default label is filled in in the app if none is given.

I also changed the `data column name` for the top level select box to `feature_type` to make it consistent with all of the orientation forms. Folds does not have a top level select box which makes a few more challenges since

[2016-04-22 14:16] JEAndrew commented on #202
1. updated the name boudin.... to other 3d structure
2. Changed top level of folds for fold type

Not done yet: Updating the skip logic for the within group fields will me a while to do.

[2016-04-25 16:07] jessica-azgs commented on #202
1. I added the Label field back to the top of Fold. Thought it was there before but didn't see it when I looked just now.
2. Also for Fold Type I changed the Data Column Name (seen when you go to the settings for that field) to `feature_type` just to be consistent with the other forms.
3. Yeah, unfortunately you're right, the skip logic will take some time. Let me know when you're done and I'll pu

[2016-04-27 18:37] zmichels opened #246 "Two apps different look different"
If I download the app from the PhoneGap share/public page, I get an app that does not use the whole screen on my device and looks kinda weird. If I download the app trough the page link in the "about" part of the app (which links to StraboSpot), I get an app with a new icon and it fills the screen of my device like it did before.
![](http://i.imgur.com/aYp0l9M.jpg)![](http://i.imgur.com/7yS4aJm.jp

[2016-04-27 20:09] jessica-azgs commented on #246
@zmichels Could you try thePhoneGap app (Strabo Mobile) again? I was reverting back to old builds all morning to try to solve the iMazing issue. Also Strabo Spot has some things not working with it yet so we're not using that app. Stick to the the old PhoneGap page to download the app. I fixed the link on the About page.

[2016-04-27 20:16] zmichels commented on #246
Just tried from phone gap page.
Still has black bars above and below rather than fill full screen.

[2016-04-27 20:16] zmichels commented on #246
![](http://i.imgur.com/tS1PZOR.jpg)

[2016-04-27 20:53] jessica-azgs commented on #246
Could you test it now? I'm not getting the same thing on my iPad and I don't have an iPhone yet to test on. I think the problem happened when PhoneGap stopped supporting something with the statusbar. I changed it to the new way but there may be some other settings I have to fix with regard to that if it still doesn't look right.

[2016-04-27 20:57] zmichels commented on #246
Sure.
Just did it again now. Still weird. Hmmmm

![](http://i.imgur.com/707BSzd.jpg)

[2016-04-27 21:48] jessica-azgs commented on #246
What version of iOS are you using?

[2016-04-27 21:54] zmichels commented on #246
9.3.1

[2016-04-27 22:05] jessica-azgs commented on #246
Added <preference name="StatusBarOverlaysWebView" value="false"/>. Can you try again @zmichels? This is not a great way to test, I know, but I can't see the results of a line change on my emulator or iPad since neither has the black bars like you have.

[2016-04-27 22:21] zmichels commented on #246
Just did again. Same thing.
I don't mind keeping trying. I'll try remember to keep checking.

[2016-04-27 22:31] jessica-azgs commented on #246
Thanks. Just made another one. The documentation on this isn't great so feel like it's trial and error.

[code]

[2016-04-27 22:58] zmichels commented on #246
NP, I'll keep trying.

![](http://i.imgur.com/HHCjbpW.jpg)

[2016-04-27 22:59] zmichels commented on #246
[image1.PNG]

On Apr 27, 2016, at 6:31 PM, Jessica Good <notifications@github.com<mailto:notifications@github.com>> wrote:

Thanks. Just made another one. The documentation on this isn't great so feel like it's trial and error.

        if ($window.StatusBar) {
          // org.apache.cordova.statusbar required
          $window.StatusBar.styleDefault();
          $window.StatusBar.overlaysWebView

[2016-04-27 23:48] jessica-azgs commented on #246
Alright, going to have to look at this tomorrow and see which library, plugin, etc caused this by reverting to older versions of the app until we get to a version where this wasn't happening. Maybe I'll see if I can borrow someone's iphone here and get you the IMEI number.

I'm assuming you just noticed it today. @panamint55 is this happening on your iphone and if so when did it start?

[2016-04-28 00:28] zmichels commented on #246
I did only notice today. I will be traveling some tomorrow... But I'll update and try as I can

[2016-04-28 18:23] panamint55 commented on #246
I have the problem with black bars as well.

Doug

***********************************************
J. Douglas Walker
Isotope Geochemistry Laboratories
Nichols Hall
2335 Irving Hill Drive
Lawrence, KS  66045
785-864-7711
785-864-7789 (fax)
***********************************************

From: Zachary Michels <notifications@github.com<mailto:notifications@github.com>>
Reply-To: StraboSpot/strabo-mo

[2016-04-29 18:29] jessica-azgs commented on #246
Fixed with commit 4601ebd

[2016-04-29 18:29] #246 closed

[2016-04-29 20:05] JEAndrew commented on #202
I updated the kobo forms skip logic

[2016-04-29 20:48] jessica-azgs commented on #202
Ok, great! Updated with commit 4c3bc4c428ad158e923c8b072f60baf5e9ca8461. Can you check them out in version 0.11.6 to see if they look right and let me know if you make any more changes to the forms?

[2016-05-04 18:40] jasonash opened #248 "Add Ability to Specify Database Endpoint"
Can we add an option to the "Miscellaneous" page to specify the database endpoint?

It would default to "http://strabospot.org/db" but having the ability to specify the endpoint will allow people at field camp use an instance of the Strabo database in the field. My plan is to duplicate the Strabo database and web page on a server for Doug to take to KU field camp. In this case, the database endpoi

[2016-05-05 13:41] jessica-azgs commented on #248
Sure, I can work on this next week.
On May 4, 2016 12:41 PM, "Jason Ash" <notifications@github.com> wrote:

[2016-05-10 19:57] jessica-azgs commented on #248
Added in commit aa4b38bad78707935f1ac154560151ec8cdba4fe. @jasonash You can test it out in version 0.12.0 or above.

[2016-05-10 21:46] jessica-azgs commented on #238
Calculating the total size of the maps was crashing the app. This should be fixed now since I no longer calculate or display a total size of all offline maps to users. Worked fine for me with the Field Camp 2016 project. Deleting does take awhile with a large number of tiles though because the app needs to make sure each of the tiles it is deleting is not needed for another map.

[2016-05-10 21:46] #238 closed

[2016-05-11 15:34] jessica-azgs commented on #244
Implemented at the Spot-level only so far.

[2016-05-11 15:35] jessica-azgs commented on #205
This is fixed now. Total Size is no longer calculated since it was taking too long.

[2016-05-11 15:35] #205 closed

[2016-05-11 16:13] jasonash commented on #248
Works great! Thanks!

[2016-05-11 16:13] #248 closed

[2016-06-20 17:32] jessica-azgs commented on #198
Updated Priorities:

- Performance Issues/Slowdown
- Editing features on map

[2016-06-20 17:33] jessica-azgs opened #249 "Turn Off All Basemaps"
Add the option to turn off all basemaps completely so there is just a white background. This will make data layers easier to see.

[2016-06-20 17:36] jessica-azgs opened #250 "Copy Spot Bugs"
Copying a spot should not copy **images**, samples, nest or inferences. It should copy Tag Groups though. Make sure all copied data object have their own new ids (like copied Orientations).

[2016-06-20 17:37] jessica-azgs opened #251 "Strike / Dip Direction Priority"
If both strike and dip direction fields filled in use dip direction for label.

[2016-06-20 17:40] jessica-azgs opened #252 "Draw Nest on Map Bug"
When drawing a nest on the map where there is an overlap in the polygon and the endpoint is never clicked the app crashes.

[2016-06-20 17:43] jessica-azgs opened #253 "Spots List Icons"
In the Spots List, for each Spot, have an icon representing the geometry for the feature (point, line or polygon). Also have icons for tabs that have been filled in for that Spot (though not for the Spot tab since that always has some data in it).

[2016-06-20 17:44] jessica-azgs opened #254 "View on Map button"
When the View on Map button is pressed from within a Spot the geolocate button is hidden in the map view. Make so it's not hidden if possible.

[2016-06-20 17:45] jessica-azgs opened #255 "Edit in Map button"
Have the `Set from Map` button in a Spot say `Edit in Map` if there is already geometry for that Spot.

[2016-06-20 17:46] jessicagood opened #256 "Add Images to Rock Unit Description"

[2016-06-20 17:47] jessica-azgs opened #257 "CSV Export"
CSV export needs to be fixed to account for the new data objects format since this code originally written.

[2016-06-20 17:48] jessicagood opened #258 "Tab Order"
1. Spot
2. Orientations
3. 3D Structures
4. Images
5. Tag Groups
6. Samples
7. Other
8. Nest
9. Inferences

[2016-06-20 17:48] jessica-azgs opened #259 "Spot Tab Fields"
Move ID, Data and Time to bottom

[2016-06-20 17:50] jessica-azgs opened #260 "Line Symbology"
Set symbology for lines based on type and quality.

[2016-06-20 17:53] jessica-azgs opened #261 "Spots on Map"
Have ability to toggle off all Spots at once on the map

[2016-06-20 17:55] jessica-azgs opened #262 "Delete Spot Bug"
If you're at the Map and you go into a Spot and then delete it you are taken to the Spots List. You should be taken back to the Map.

[2016-06-20 17:55] jessica-azgs opened #263 "Spot Popup"
What is the first line which usually says `undefined` supposed to be?

[2016-06-20 17:56] jessica-azgs opened #264 "Dataset Toggle Bug"
Not given an error when try to toggle off the only active dataset.

[2016-06-20 17:58] jessica-azgs opened #265 "Offline Voice Recognition"
How to do this on iOS? Android works fine offline. Though this may not work very well anyway given all of the domain terminology.

[2016-06-20 17:58] jessicagood opened #266 "Image Cropping"
Why is iOS cropping pictures to a square?

[2016-06-20 17:59] jessica-azgs opened #267 "Color Polygons"
Add ability to give custom colors to polygons.

[2016-06-20 18:07] jessica-azgs opened #268 "Edit Spots on Map"
Make editing Spots on the Map easier with long presses, dragging features, drawing smooth lines instead of point-by-point lines

[2016-06-22 20:12] jessica-azgs opened #269 "Auto Name for Traces"
If Trace append the type of Trace to the Spot Name

[2016-06-25 19:37] arijitlaik opened #270 "Use https for geo location in the webapp/Online App"
Thanks for such a great initiative
On  newer versions of chrome the geo location does not work
"getCurrentPosition() and watchPosition() are deprecated on insecure origins. To use this feature, you should consider switching your application to a secure origin, such as HTTPS. See https://goo.gl/rStTGz for more details"

[2016-07-06 18:39] jessica-azgs commented on #198
From @panamint55

Priorities:
1. Simple line and poly symbology
2. Speed with many points
3. Map box integration of custom maps with description of how to do this
4. Tag-nest-inference functionality
5. Icon for picture or nest displayed on map
6. Get photo information from camera - orientation from device
7. Decide on minimum device size - small phone or something bigger

Wants:
1. Integrated comp

[2016-07-07 22:07] jessica-azgs commented on #263
Fixed with commit bda2cec

[2016-07-07 22:07] #263 closed

[2016-07-07 22:10] jessica-azgs commented on #262
Fixed with commit 01c451c

[2016-07-07 22:10] #262 closed

[2016-07-07 22:18] jessica-azgs commented on #259
Changed with commit cd32618

[2016-07-07 22:18] #259 closed

[2016-07-07 22:24] jessica-azgs commented on #258
Changed with commit 879abb9

[2016-07-07 22:32] jessica-azgs commented on #250
Fixed with commit 8e152f0

[2016-07-07 22:32] #250 closed

[2016-07-08 20:01] jessica-azgs commented on #253
Added the icons in the Spots list for the geometry type in commit 7923ed6.

[2016-07-08 20:12] jessica-azgs commented on #249
Added in commit d8de855.

[2016-07-08 20:12] #249 closed

[2016-07-18 23:39] jessica-azgs commented on #268
Added with commit dac2bfe90394049f3270e28b69aa21078808fcd8. (Though drawing smooth lines not added yet.)

[2016-07-18 23:39] #268 closed

[2016-07-18 23:40] jessica-azgs commented on #255
Just go to map to edit now so this no longer applicable. Removed the Edit in Map button in commit 44a54856d0ee362d89d0720f86bfecd4ca121f45.

[2016-07-18 23:40] #255 closed

[2016-07-18 23:40] jessica-azgs commented on #254
Fixed in commit 44a54856d0ee362d89d0720f86bfecd4ca121f45

[2016-07-18 23:40] #254 closed

[2016-08-04 17:58] jessica-azgs opened #271 "Upload Error With Field Camp Data"
From @egbunse:

Doug and I are working on transferring the field camp datasets into accounts on the online server for testing the plug-in (the API for the offline server wasn't compatible with my plug-in).
We ran into an issue with uploading datasets for one student and weren't sure why the app is behaving this way. The attached picture shows the dialog box messages we're getting. Its odd, because

[2016-08-04 18:01] jessica-azgs commented on #271
From @egbunse:

Doug and I got two iPad copies made with iMazing and put them into the shared 'Strabo Debugging' Dropbox folder. The one with 8 at the beginning had the server error and the one with 19 had one spot in the Temple Canyon dataset not upload to the online server. We're working on another iPad with the same server error as 8

[2016-08-04 18:21] jessica-azgs commented on #271
@egbunse I'm not too clear on the steps you took to get the errors you're talking about. I tried uploading both the Blue Ridge and Temple Canyon datasets in iMazing backup 19 and didn't get any errors. I'll look at the iMazing backup 8 next but could you elaborate a little more on the exact steps and errors you're getting?

[2016-08-04 18:40] egbunse commented on #271
Sorry, Jessica. I guess I wasn't clear on which ones had issues. #19 simply was not loading all spots to the server on the Temple Canyon dataset. There should be 130 spots, but no matter how many times I tried to re-upload it would only push up 129. It doesn't throw an error, but it might be a problem with a spot.
The server errors I talked about are occurring on #8 when trying to upload the Blue

[2016-08-04 18:51] egbunse commented on #271
I've gone through all the iPads and have one more account that is throwing the same server error as 8 on the Blue Ridge dataset. Doug can put it on iMazing a little later if you'd need it.

[2016-08-05 17:35] jessica-azgs commented on #271
I was able to fix the issue with `Server error: Type Error: undefined is not an object (evaluating 'spotNoImages.properties' ` that happened with fc8.  This will be in the next update. The app was trying to upload a spot that was deleted but still in the list of which spots were in that dataset. Not sure why the spot didn't get deleted out of the list at the same time, maybe the app crashed exactl

[2016-08-05 17:42] jessica-azgs commented on #271
Interestingly if I try to open the Excel file at strabospot.org with the 129 points for the Blue Ridge Dataset it's corrupted and won't open. The map displays fine though. Same with the Temple Canyon dataset - the Excel file says 'we found a problem with some content ...' and tries to repair it but can't. The Twin Mountain dataset opens fine though.

[2016-08-05 17:54] jasonash commented on #271
I'll take a look at the raw data and see if I can find the issue.

[2016-08-05 18:12] jessica-azgs commented on #271
It is `14660229136082` that is not uploading:

[code]

[2016-08-05 18:14] jasonash commented on #271
Ah, yes. That's the issue. Neo4j HATES null values. Is this something you can fix, or should I try and fix it on the server side?

[2016-08-05 18:22] jessica-azgs commented on #271
I can fix it for this client however, it's probably still good to have a check for it server-side, if the server isn't going to like it. Theoretically there could be another client (since the API for the server is open) that uploads a null value and at the very least an error message would be good. Though if a value exists in 'time' and not in 'date' for example the value could just be copied over

[2016-08-05 18:26] jasonash commented on #271
OK, I'll work on adding checks to the API. It shouldn't be too difficult to roll over each parameter and discard if null.

[2016-08-09 17:05] #271 closed

[2016-08-09 22:22] jessica-azgs commented on #253
Added with commit 04d74e56a53c34f98cc1965b1b5236e92b4169b9 though  I did not use icons for the display of which tabs contain data since I wasn't sure which icons to use - I just used the tab names for now.

[2016-08-09 22:32] panamint55 commented on #253
We should get the icons together soon.  I will check this out soon.

Doug

***********************************************
J. Douglas Walker
Isotope Geochemistry Laboratories
Nichols Hall
2335 Irving Hill Drive
Lawrence, KS  66045
785-864-7711
785-864-7789 (fax)
***********************************************

From: Jessica Good <notifications@github.com>
Reply-To: StraboSpot/strabo-mobile <reply@

[2016-08-10 15:48] jessica-azgs commented on #253
I remember a problem I thought about with icons, particularly for the
orientation tab. I think it may be confusing to use a particular
orientation symbol as the icon. Then at quick glance one may think that is
the orientation for that spot. Is there an icon to represent orientation
that is more universal?

On Aug 9, 2016 3:32 PM, "panamint55" <notifications@github.com> wrote:

[2016-08-10 16:20] panamint55 commented on #253
That is pretty universal, I think.  See what other folks say.

Doug

***********************************************
J. Douglas Walker
Isotope Geochemistry Laboratories
Nichols Hall
2335 Irving Hill Drive
Lawrence, KS  66045
785-864-7711
785-864-7789 (fax)
***********************************************

From: Jessica Good <notifications@github.com>
Reply-To: StraboSpot/strabo-mobile <reply@reply.

[2016-08-10 23:12] jessica-azgs commented on #253
What's the license for the icons you sent? Are they free? Do they require a link to the designer's site?

Also, one issue I have with them, besides the one mentioned previously about the orientation symbol, is that they don't all have the same look. If they're going to be in a line next to each other they need to look like they are all apart of the same icon family.

After a quick search I don't s

[2016-08-11 00:07] panamint55 commented on #253
OK, I just found them on the web as examples of what we could use.  We can design our own to keep them in concert, but wanted to at least give you an idea.

Doug

***********************************************
J. Douglas Walker
Isotope Geochemistry Laboratories
Nichols Hall
2335 Irving Hill Drive
Lawrence, KS  66045
785-864-7711
785-864-7789 (fax)
***********************************************

[2016-08-11 16:13] jessicagood opened #272 "Images Not Uploading"
From @egbunse After going through all the field camp datasets to test the plug-in I've found four accounts which still will not upload the images to the online server for use. I can access these images from connecting to the offline server and using my REST client, and can see them on the app, so they should be getting uploaded.
Both the app and iPads have been updated as much as possible (0.13.4

[2016-08-11 16:15] jessica-azgs commented on #272
@egbunse I uploaded blue ridge from fc17 and downloaded the dataset on another device and the images seemed to come in fine. Were there specific images that were a problem or maybe I should try a different project/dataset?

[2016-08-11 17:14] egbunse commented on #272
@jessica-azgs I tried getting images for fc17 on my rest client after you sent that, and it now works perfectly. So I went back and tried to upload the others again from the iPads, and so far all except fc7 have been successfully uploaded and I can see the images (no idea why they couldn't properly upload all yesterday afternoon!) If you could try uploading the fc7 on your end, I'll stop trying to

[2016-08-11 18:32] jessica-azgs commented on #272
fc7 uploaded ok for me. Though there is one spot that is not downloading. It might be related but I can't open the excel files at strabospot.org for either blue ridge or temple canyon in fc7. blue ridge uploads and downloads fine. The one spot that is not downloading is 14664357196552

[2016-08-11 18:38] jessica-azgs commented on #272
Actually maybe it is downloading but there is something wrong with it. Still looking at it.

[2016-08-11 20:32] jessica-azgs commented on #272
@egbunse Can you try the latest version 0.13.6? This was related to the problem we had earlier in the week when the images didn't upload/download correctly. You may need to switch out of the project and then back in to make sure all of the images download.

@jasonash I'm going to close this once @egbunse is able to test that it works. (Or actually you can just close it @egbunse, if it works.) The

[2016-08-11 21:18] egbunse commented on #272
@jessicagood After updating the iPad app to 0.13.6, the Temple Canyon dataset successfully uploaded to the server. Then I was able to use my rest client to see images from that dataset. I successfully downloaded that dataset onto my phone, but the images don't actually show up there- perhaps a lack of storage issue on my phone though. So I used both the online app and a spare iPad and could succes

[2016-08-11 21:19] egbunse commented on #272
Close #272

[2016-08-12 23:08] #272 closed

[2016-08-12 23:16] jessicagood opened #273 "Layer Switcher Hidden"
If there are a lot of different feature types and you're on a device with a small screen the layer switcher panel will go over the edge of the screen.

[2016-08-17 03:22] btikoff commented on #258
How about this for order?

Spot
Orientations
3D Structures
Images
Nesting
Samples
Other Features
Inferences
Tags

[2016-08-17 12:45] panamint55 commented on #258
Sure.

***********************************************
J. Douglas Walker
Isotope Geochemistry Laboratories
Nichols Hall
2335 Irving Hill Drive
Lawrence, KS  66045
785-864-7711
785-864-7789 (fax)
***********************************************

From: btikoff <notifications@github.com>
Reply-To: StraboSpot/strabo-mobile <reply@reply.github.com>
Date: Tuesday, August 16, 2016 at 10:22 PM
To: StraboSp

[2016-08-18 03:01] btikoff commented on #267
@tfship
Let's make sure this work, beause you care about nonagons

[2016-08-18 17:46] #202 closed

[2016-08-18 17:51] jessicagood opened #274 "Orientation Feature Type Field"
Notes from Idaho fieldtrip:
- Move Feature Type field to top. (In order to not mess up the auto-fields this field would still have to be after Label or Label would need to be moved to the bottom.)
- Tabular Feature Orientation Quality under Tabular Zone needs to move up after Dip
- Strike and Dip Direction need to be 3 digits. That is if someone enters 3 for the Strike change that to 003.
- Dip ne

[2016-08-18 18:00] jessicagood opened #275 "Closing Modals"
Note from Idaho fieldtrip: Don't let modals close when the user taps outside of modal. Also, it's confusing to have to tap the 'check' button to save modal data when other screens just use the back button and save automatically. Using a back button would make the 'X' button to close redundant but then there would be no way to get out of the modal without saving if it was opened by accident.

[2016-08-18 18:02] jessicagood opened #276 "Copying Orientation"
Note from Idaho fieldtrip: Don't copy the strike and dip when copying an orientation.

[2016-08-18 18:04] jessicagood opened #277 "Strike vs Dip Direction"
Note from Idaho fieldtrip: Set a toggle in preferences to use either strike or dip direction for the entire project so both fields do not show in the Orientation fields list.

[2016-08-18 18:05] jessicagood commented on #200
Note from Idaho fieldtrip: Have a field for the confidence when defining a relationship.

[2016-08-18 18:09] jessicagood opened #278 "Keyboard Blocking Field"
Note from Idaho fieldtrip: Is it possible to move the screen view when the keyboard pops up so the keyboard doesn't cover the field you're inputting?

[2016-08-18 18:13] jessicagood opened #279 "Trace Fields"
Notes from Idaho fieldtrip:
- For trace feature under contact need more info under depositional - unconformity, disconformity, buttress and angular.
- For metamorphic change to isograd.
- Under trace type add unconformity.
- Trace type add cross section

[2016-08-18 18:26] jessicagood opened #280 "Mapping Workflows (Modes)"
Note from Idaho fieldtrip: Strabo can accommodate the following workflows. May be useful for the Help docs and explaining how Strabo can be used. There is no actual switching between modes in the app. These are just different ways to use the app.
1. Recon Mode - sit on a hill and map
2. Mapping Mode - everything is a Spot, no nesting
3. Multi-Measurement Mode - fewer Spots with a lot of measuremen

[2016-08-18 18:29] jessicagood commented on #280
When we use different modes depends on:
- scale (size of area)
- time (time you have to work in an area)
- how much work has been done in the area before
- situation/what you find
- quality of the outcrop
- perspective /experience

[2016-08-18 18:32] jessicagood opened #281 "Tags: Add Image(s) to a Tag"
Note from Idaho fieldtrip: Add image(s) to a tag

[2016-08-18 18:34] jessicagood opened #282 "Sample Fields"
Notes from Idaho fieldtrip:
- Change Intactness to Inplaceness
- Add a new field after Inplaceness for degree of weathering - 5 (fresh) to 1 (highly weathered) select options

[2016-08-18 18:38] jessicagood opened #283 "Downloading Maps: Zoom"
Notes from Idaho fieldtrip:
- Allow downloading past zoom 19 for unknown maps
- Have checkboxes to check which zoom levels you want to download.Give the option of the next five zoom levels after the current one. Previous zoom levels too?

[2016-08-18 18:40] jessicagood opened #284 "Feed"
Note from Idaho fieldtrip: Add a community main menu item with a feed from the community and a place to add your own post to the feed. Also like a message board.

[2016-08-18 18:42] #192 closed

[2016-08-18 18:44] jessicagood opened #285 "Images: Annotate"
Note from Idaho fieldtrip: Have a check box in image properties to say if it's annotated (sketched on) and a link to the original

[2016-08-18 18:53] jessicagood opened #286 "Polygon Feature"
Note from Idaho fieldtrip: For polygon features instead of just having rock unit have a select field for the type of feature the polygon is representing. If someone could create me a KoBo form I could try to get them in next week. The choices may need to be refined and there may be other fields following depending on which field is selected. @JEAndrew maybe you could help?

Surface Feature Type:
-

[2016-08-18 18:54] jessicagood opened #287 "Geotiff"
Will openlayers let us import a geotiff directly? Think so.

[2016-08-18 22:20] jessicagood opened #288 "Nesting Tab"
The nesting tag handles 2 things:
1. Continous Nesting
2. Displaying parent and child spots

Continous Nesting: Turn on and Strabo keeps track of all Spots saved. When it is turned off Strabo makes a polygon using these tracked Spots. The Spots are either the vertices of the polygon or within the polygon. What if there are only 1 or 2 Spots tracked?

Display Parent and Child Spots: Calculate the p

[2016-08-24 16:54] jessicagood commented on #279
From @panamint55:
- Trace quality should show up if trace is chosen.
- Trace Character should also show up if trace feature is selected.

[2016-08-25 16:06] jessicagood commented on #288
@panamint55 @btikoff When Strabo is gathering the nest, if polygon B is completely inside polygon A I understand B to a child of A. However what if polygon B overlaps polygon A only a little? Or a lot? How do you determine the parent/child relationships for intersecting polygons? At the moment I'm ignoring intersecting polygons unless one is completely within the other but how do you want me to ha

[2016-08-25 17:34] panamint55 commented on #288
We will talk about this over the weekend.

Doug

***********************************************
J. Douglas Walker
Isotope Geochemistry Laboratories
Nichols Hall
2335 Irving Hill Drive
Lawrence, KS  66045
785-864-7711
785-864-7789 (fax)
***********************************************

From: Jessica Good <notifications@github.com>
Reply-To: StraboSpot/strabo-mobile <reply@reply.github.com>
Date: Th

[2016-08-25 21:17] jessicagood commented on #286
Added with commit ecd1c93 however what exactly these fields should stay still needs to refined.

[2016-08-25 21:27] jessicagood commented on #258
closed with commit 5d33436

[2016-08-25 21:27] #258 closed

[2016-08-28 02:19] jessicagood opened #289 "Add tag from map broken"
Nothing happens after drawing the poly around spots

[2016-08-29 18:28] #160 closed

[2016-08-29 19:25] jessicagood commented on #93
Using Skitch (on iOS) instead of adding functionality directly to strabo

[2016-08-29 19:25] #93 closed

[2016-08-29 19:26] jessicagood commented on #76
this map was removed from strabo

[2016-08-29 19:26] #76 closed

[2016-08-30 16:22] KendriSalmans commented on #265
For mobile, iOS should be able to work offline after downloading the "offline diction files".
I have an android so I haven't been able to confirm that it will work but it works on my Mac though it requires 1.2GB of space.

Mobile:
Launch the Settings app.
Tap on General.
Scroll down to the bottom and tap on Keyboard.
Toggle Dictation to On.
Tap Enable to agree to Apple's privacy notification.

Mac

[2016-08-30 16:24] panamint55 commented on #265
Can someone try this soon on an iOS device?  Thanks.

[2016-08-31 21:31] jessicagood commented on #265
@KendriSalmans Can you test with one of Doug's iPads? If it works makes sure Carson has the details to put in the help documentation. Thanks.

[2016-08-31 22:00] panamint55 commented on #265
Kendri, come and get one tomorrow afternoon.

Doug

***********************************************
J. Douglas Walker
Isotope Geochemistry Laboratories
Nichols Hall
2335 Irving Hill Drive
Lawrence, KS  66045
785-864-7711
785-864-7789 (fax)
***********************************************

From: Jessica Good <notifications@github.com>
Reply-To: StraboSpot/strabo-mobile <reply@reply.github.com>
Date:

[2016-09-01 15:55] jessicagood commented on #289
fixed with commit ce53c8309db3f42a76cb7ce0db5cd510cb976c0a

[2016-09-01 15:55] #289 closed

[2016-09-01 15:59] jessicagood commented on #214
When you take a picture with Strabo the quality of the saved image is set to 75. This value is expressed in range of 0-100, where 100 is typically full resolution with no loss from file compression.  I can change it to 100 but then file sizes will be larger (and take longer to upload, etc). @AndreasMoellerKU @panamint55 What do you want me to do?

[2016-09-01 16:00] panamint55 commented on #214
The photos have worked OK for me, but not others.  Comments?

Doug

***********************************************
J. Douglas Walker
Isotope Geochemistry Laboratories
Nichols Hall
2335 Irving Hill Drive
Lawrence, KS  66045
785-864-7711
785-864-7789 (fax)
***********************************************

From: Jessica Good <notifications@github.com>
Reply-To: StraboSpot/strabo-mobile <reply@reply.g

[2016-09-01 17:22] KendriSalmans commented on #265
Okay will do

[2016-09-01 17:29] panamint55 commented on #265
I am at Nichols.  When will you be by?

***********************************************
J. Douglas Walker
Isotope Geochemistry Laboratories
Nichols Hall
2335 Irving Hill Drive
Lawrence, KS  66045
785-864-7711
785-864-7789 (fax)
***********************************************

From: KendriSalmans <notifications@github.com>
Reply-To: StraboSpot/strabo-mobile <reply@reply.github.com>
Date: Thursday,

[2016-09-01 17:36] KendriSalmans commented on #265
I can be there by 2:30pm

[2016-09-01 17:37] panamint55 commented on #265
OK.

***********************************************
J. Douglas Walker
Isotope Geochemistry Laboratories
Nichols Hall
2335 Irving Hill Drive
Lawrence, KS  66045
785-864-7711
785-864-7789 (fax)
***********************************************

From: KendriSalmans <notifications@github.com>
Reply-To: StraboSpot/strabo-mobile <reply@reply.github.com>
Date: Thursday, September 1, 2016 at 12:36 PM
To: S

[2016-09-01 20:01] AndreasMoellerKU commented on #214
Hi,
When I tried to use photos as basemaps and sketch  layers (volcanic ash, sediment)  that I wanted to refer to in notes and to nest with sample locations etc, the resolution was not good enough to recognize the features I was basing my layers on.   That was with the version current in February 2016.  That was lost when the upload did not work so I don't have the example anymore.

Admittedly, th

[2016-09-01 23:49] jessicagood commented on #275
Fixed with commits 700f631d70e8dab352d0c0540153646a5e4072e3 and f02e25078e2e24fbae0230af81d933cf9dc4587e

[2016-09-01 23:49] #275 closed

[2016-09-02 15:11] jasonash opened #290 "Question about tags section of project json"
@jessicagood ,

I'm having trouble understanding the tags section of the project json.

See the attached image.
![tagsquestion](https://cloud.githubusercontent.com/assets/7904402/18208588/a000e1ac-70f5-11e6-8b98-b686fce9ea9e.jpg)

I understand the "spots" section, but the "features" section is a multi-dimensional array of spotids. Can you clarify what the purpose of the multi-dimensional array is?

[2016-09-02 15:51] jasonash commented on #290
OK, after looking at this a little more closely, it looks like the "features" top-level array refers to a spot, while the sub-members refer to "features" which could be orientations, samples,  or other_features. Is this correct?

[2016-09-02 16:01] jessicagood commented on #290
Yes, that's exactly correct.

The new features object in tags had to be completely separate from the
spots array since a feature may be tagged but not the spot. And using the
spot id for the key in the features object helps to quickly get to all the
tagged feature ids for a particular spot.

On Sep 2, 2016 8:51 AM, "Jason Ash" <notifications@github.com> wrote:

[2016-09-02 16:03] jasonash commented on #290
OK, this sounds good. I'm slowly iterating through the json to create unique nodes for searching. I'll make sure to break out the features so that they are searchable.

[2016-09-07 14:45] panamint55 opened #291 "Compass v. 14.4"
OK.  a few things with this morning's testing
1. my iphone should not be used for testing, so all this from the new ipad.  My iphone seems inconsistent
2. It seems good when locked in portrait in the usual/standard orientation
3. When unlocked, it seems fine whether the screen rotates or not.  This needs more testing, but that seems to work fine.
4. The compass can vary up to 20 degrees on the sam

[2016-09-07 15:38] panamint55 opened #292 "Login"
Noah McLean got his UDID in for the app store and downloaded strabo.  He has had problems with the login.
1) Creating a login at noahmc@ku.edu with a password just got a spinning circle and never gave the regular screen.
2) He can login at strabospot.org no problem.
3) When he logs in he can manage data
4) When he tries to go to the online app it throws an error (at strabospot.org)
5) I can log in

[2016-09-07 16:12] panamint55 commented on #292
OK, the problem was the login creation does not have a message that the new user has to respond to an email verification.  Also, the link does not show up in apple mail on an iphone.  Both should be easy fixes.

[2016-09-07 16:20] jasonash commented on #292
When you create an account at Strabospot, it displays the following message indicating that you need to verify your account:
![screenshot 2016-09-07 11 16 58](https://cloud.githubusercontent.com/assets/7904402/18319824/02268a30-74ed-11e6-8b43-65ba8d058637.png)

Can you elaborate how the link isn't showing up? Do you mean that the email is blank?

[2016-09-07 16:34] panamint55 commented on #292
Does this occur on the mobile app as well?

Doug

***********************************************
J. Douglas Walker
Isotope Geochemistry Laboratories
Nichols Hall
2335 Irving Hill Drive
Lawrence, KS  66045
785-864-7711
785-864-7789 (fax)
***********************************************

From: Jason Ash <notifications@github.com>
Reply-To: StraboSpot/strabo-mobile <reply@reply.github.com>
Date: Wedn

[2016-09-07 16:35] jessicagood commented on #292
The mobile app just directs you to the webpage to create an account.

[2016-09-07 16:35] jasonash commented on #292
Yes, the mobile app just opens a browser to the strabospot.org signup page.

From: panamint55 <notifications@github.com<mailto:notifications@github.com>>
Reply-To: StraboSpot/strabo-mobile <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Wednesday, September 7, 2016 at 11:34 AM
To: StraboSpot/strabo-mobile <strabo-mobile@noreply.github.com<mailto:strabo-mobile@noreply.github.com>>
Cc:

[2016-09-07 16:37] panamint55 commented on #292
OK, I will look into this again with Noah.  Sorry I cluttered this up, go ahead and take out the issues and I will see what exactly is happening.  Sorry again.

Doug

***********************************************
J. Douglas Walker
Isotope Geochemistry Laboratories
Nichols Hall
2335 Irving Hill Drive
Lawrence, KS  66045
785-864-7711
785-864-7789 (fax)
*********************************************

[2016-09-07 17:23] jessicagood commented on #265
@KendriSalmans What ever happened with this? Were you able to get it to work?

[2016-09-07 19:48] #292 closed

[2016-09-08 16:27] KendriSalmans commented on #265
I haven't been able to get it to work, and I'm not sure why its not possible. Ipad just doesn't give you the option to download dictation.

"Enhanced Dictation" which is available in OS X Mavericks v10.9 or later for Mac, allows offline voice recognition. When I did it on my computer it only required 1.2 gb of data though I can't figure where its stored/ if can be made accessible for mobile.

Howe

[2016-09-08 17:07] KendriSalmans commented on #190
I've used the app Helium (used to be Carbon) for offline syncing/backing of applications before, its non-root, really quick, functional and can also back up the whole phone. Tomorrow I have a time set aside to tinker, and will investigate pulling over Strabo data, deleting and restoring.

[2016-09-08 19:58] jasonash opened #293 "Data Model Question - nest vs nests"
@jessicagood I've been working on the backend re-write and I notice that the data model sometimes has a "nest" property and sometimes has a "nests" property.

See the following example:
https://gist.github.com/jasonash/74e59bf976b0e197a8aa0b3a9190abd6

On lines 74 and 647, the property is called "nests" and is a multi-dimensional array.
On line 524, the property is called "nest" and is a simple ar

[2016-09-08 20:22] jessicagood commented on #293
Are you getting `nest` or `nests` properties with any data from a new version of the app? In version 0.13.9 I got rid of nest/nests as a property and it is now calculated based on geometry but not stored anywhere.

[2016-09-08 20:28] jasonash commented on #293
@jessicagood These features were created with 0.14.0

I will try updating to see what happens.

[2016-09-08 20:33] jasonash commented on #293
@jessicagood I just updated to 0.14.4 and I get the same results. Maybe I need to recreate my spots?
I did an uninstall/re-install and then re-downloaded my project and the "nest"/"nests" properties are still on lines 74,524, and 647. Are you keeping all properties downloaded from the server?

[2016-09-08 20:56] jessicagood commented on #293
I'm not checking or deleting the properties downloaded from the server so they're just going to hang around and not be used if they come back from the server.

[2016-09-08 21:09] jasonash commented on #293
OK, I just wiped out all of my data on the server and re-installed version 0.14.4.

I'm still getting "nests" properties in the resulting JSON.

See here:

https://gist.github.com/jasonash/f56b8ed0b8d79ef4b41c6e7107ff1415

On lines 74 and 231 there are "nests" properties containing sub-properties {"name":"Some Spots"} and {"name":"More Spots"}. I did not enter these properties, so I'm not sure whe

[2016-09-08 21:48] jessicagood commented on #293
This is the JSON when you're uploading a new spot to the server?

[2016-09-08 21:50] jasonash commented on #293
Yes, I cleared out all of my data from the server, installed 0.14.4, and pushed up two spots.

This is the resulting JSON:
https://gist.github.com/jasonash/f56b8ed0b8d79ef4b41c6e7107ff1415

[2016-09-09 00:00] jessicagood commented on #291
Once the compass button is pressed begin to watch the compass orientation and acceleration every few seconds and display in a modal. Give the user an accept button to accept the current values and then stop watching the compass and acceleration.

@panamint55 How often did you want to grab a new orientation and acceleration? 2 seconds or .2 seconds?

[2016-09-09 00:48] jessicagood opened #294 "Get True North"
Compass is giving magnetic north.  iOS will also give true north but not Android.  Need to figure out how to get this for Android or calculate it.
https://github.com/apache/cordova-plugin-device-orientation

[2016-09-10 23:37] panamint55 opened #295 "Copy spot puts the new one exactly on top of the original"
Copy spot puts the new one exactly on top of the original.  In the past, when the new spot came up there was an option to "set on map."  Now that is gone.  The only way to select the spot is to use the edit mode to move it.  This moves both spots.

I think adding the set from map back to the copied spot is a good idea.  That way you can copy to get all the attributes and tags, but then put it in a

[2016-09-10 23:39] panamint55 opened #296 "Tagging on the map and creating a tag group with the"Add Tag(s) to Spot(s)" dropdown"
Tagging on the map and creating a tag group with the"Add Tag(s) to Spot(s)" dropdown

[2016-09-10 23:42] panamint55 commented on #296
When you circle spots to tag them, the tag list comes up.  At that point, you can add an existing tag and it goes to all Spots.  This is good.

You can also create a new tag, but then after you do this new tag is not applied to the spots you have selected.  You have to either redo the selection or add from a list.  I think they should automatically get the tag if you 1) circle them, and 2) then cr

[2016-09-10 23:45] panamint55 opened #297 "Turning tagging on and off from the tag page in the main menu"
You can turn tagging on and off for automatic tagging only in the "Tag" tab of a spot.  This option, turning automatic tagging on and off, should be on the "Tags" on the main menu too.

[2016-09-11 01:23] panamint55 opened #298 "Fold Type required"
When I put in a new spot and I select the 3D structure tab it gives 4 options.  If I hit the "fold" option and then immediately use the back arrow entering nothing it works and I can go back to the map.  If I reopen the same spot, then it starts giving a warning "fold type required!"  If I hit any of the other options (e.g., fabric) same behavior.  I can go out of the dialog but reselecting a spot

[2016-09-14 17:10] KendriSalmans commented on #190
I downloaded Strabo, made a few spots, and backed it up on Helium (aka Carbon) by connecting to my computer. I uninstalled Strabo from my phone and removed the data files, then reinstalled and restored my spots using Helium. It looks like you can also set up Automatic Back schedules to restore to Dropbox and Google Drive.

Helium can be downloaded onto anything, they recommend you use it through C

[2016-09-14 17:13] KendriSalmans commented on #190
I tried Android File Transfer, but I had trouble finding out where the file was stored. I'm tinkering around today to see if I can figure it out.

[2016-09-14 17:18] jessicagood commented on #190
Great. Can you write something up about how to use Helium/Carbon and
Android File Transfer, if you figure that out, and give to Carson to put in
the help docs? Thanks!

Jessica Good
GIS Applications Developer
Arizona Geological Survey
http://www.azgs.az.gov/
jessica.good@azgs.az.gov

On Wed, Sep 14, 2016 at 10:13 AM, KendriSalmans <notifications@github.com>
wrote:

[2016-09-14 17:22] KendriSalmans commented on #190
Okay will do!

[2016-09-14 17:29] jessicagood commented on #265
Ok, maybe we can look into this again at a later point in time . . . or maybe with the new iOS released this week there was a fix. Doubt it but can you make a cursory check?

[2016-09-14 18:57] jasonash commented on #293
Re-installed on new device and the nest/nests properties went away. There must have been some old data hanging around on my device. Will close.

[2016-09-14 18:58] #293 closed

[2016-09-15 19:33] jessicagood opened #299 "Testing the New Tags and Relationships Items"
@KendriSalmans Could you help me out by running a bunch of tests on these new features I put out with 0.14.5? Test things that the user might not typically do as well as standard operations and make a list in this issue of what works and doesn't. Thanks!

[2016-09-16 15:41] jessicagood commented on #298
Good catch. Fixed with commit 4175246.

[2016-09-16 15:41] #298 closed

[2016-09-16 16:41] KendriSalmans commented on #299
Okay!

[2016-09-16 18:19] jessicagood commented on #297
fixed with commit 109789b

[2016-09-16 18:19] #297 closed

[2016-09-16 19:41] #290 closed

[2016-09-16 23:35] jessicagood commented on #291
added with commit 5998bb6c2f790cc974cca7eb1bb40cbf8a7dbcb7

[2016-09-17 01:21] panamint55 commented on #291
This is a great improvement.  I think 1 second might be better, but 2 is fine.  Also, this seems to solve all problems with compass orientations.  It seems to keep stuff updated at you rotate the compass.
That said, the plunge direction now seems backwards of what it was.  Can you look at this?

[2016-09-19 16:51] jessicagood commented on #295
I changed it so the geometry is not copied. Then, since there is no defined geometry for the spot, you get the "Set on Map" option.

Another note about your comment: Since tags are not stored in the spot (they are stored in the project) they are not copied when a spot is copied. Do you need the tags copied as well?

[2016-09-19 17:02] jessicagood commented on #291
I didn't change the math so I'm not sure what's going on. Do you see something wrong with the math here? https://github.com/StraboSpot/strabo-mobile/blob/master/www/app/spot/orientation-data-tab.controller.js#L99

[2016-09-19 17:23] jessicagood commented on #294
There is a pull request for this in the main plugin. https://github.com/apache/cordova-plugin-device-orientation/pull/19

[2016-09-19 17:27] panamint55 commented on #295
If you copy a spot the tag should also be copied.  Maybe an option on to copy?  That seems pretty complicated.

Doug

***********************************************
J. Douglas Walker
Isotope Geochemistry Laboratories
Nichols Hall
2335 Irving Hill Drive
Lawrence, KS  66045
785-864-7711
785-864-7789 (fax)
***********************************************

From: Jessica Good <notifications@github.com>

[2016-09-19 20:08] jessicagood commented on #295
Fixed with commit 4856680a723baa4d2a65dbbe82a57ed696c377f2.
I just set it up to copy the tags by default. An option to copy tags or not copy tags is more complicated for the user.

[2016-09-19 20:08] #295 closed

[2016-09-19 20:16] jessicagood commented on #276
All the things that are copied and not copied when the user clicks "copy a spot" seems like it would be confusing to a user in my opinion.

Everything (including tags) except the geometry, name, id, date/time, images, samples and inferences are copied now. According to this issue, orientation data is to be copied as well but not strike and dip (and then I assume dip direction, trend, plunge and ra

[2016-09-19 22:36] jessicagood commented on #291
Changed watch frequency to 1 second with commit 9572f30. According to @panamint55 the plunge seems to be fine actually.

[2016-09-19 22:36] #291 closed

[2016-09-19 22:56] jessicagood commented on #276
fixed with commit 382364c

[2016-09-19 22:56] #276 closed

[2016-09-19 22:57] jessicagood commented on #282
First two bullets above fixed with commit f5ec2589a32ff6d4f4201264d7c467fbf294030c.

[2016-09-20 17:53] jessicagood commented on #296
fixed with commit 528c72f1f295ff9fbaf3d4a748bc15bbd93e3020

[2016-09-20 17:53] #296 closed

[2016-09-20 21:50] jessicagood commented on #286
@panamint55 Any ideas on this list?

[2016-09-21 16:27] KendriSalmans commented on #190
Still working on making that help doc for Carson. I'll add some images/screenshots for him and edit my wording this afternoon

https://docs.google.com/document/d/1qWHkUq2QM0uMt6SgxCViFMfNltoapolTgsVFmIy94ho/edit?usp=sharing

[2016-09-23 18:58] jessicagood commented on #273
fixed with commit 4a353ff0c7261d69706a84b65e97cfac3dc778b1

[2016-09-23 18:58] #273 closed

[2016-09-23 18:59] jessicagood commented on #256
Since rock unit descriptions are now geologic unit tags see issue https://github.com/StraboSpot/strabo-mobile/issues/281

[2016-09-23 18:59] #256 closed

[2016-09-23 19:03] jessicagood commented on #244
feature-level tags added with commit bf2c74f6c41a62c44efd7ab1503306a16d638cf0

[2016-09-23 19:03] #244 closed

[2016-09-23 19:04] jessicagood commented on #243
resources for the phonegap build apps are now in www/res but still in root level resources folder if build natively or with ionic build

[2016-09-23 19:05] jessicagood commented on #235
these are now tag types

[2016-09-23 19:05] #235 closed

[2016-09-23 19:19] jessicagood commented on #200
added confidence level with commit b7a03d6d938afeeb126d92250265ee4e06703885

[2016-09-23 19:19] #200 closed

[2016-09-23 20:12] #201 closed

[2016-09-23 20:14] jessicagood commented on #168
added back in

[2016-09-23 20:14] #168 closed

[2016-09-23 23:25] jessicagood commented on #276
forgot to do this if copying only an orientation or associated orientation from the orientation tab, not an entire spot .. fixed with commit 8fb2f484176fe3b00a26ec85219a9dd7ff896cf4

[2016-09-29 19:11] jessicagood commented on #286
There is already a KoBo for for these fields it just needs to be looked over.

[2016-09-29 19:13] jessicagood opened #300 "Fields for Tags"
What are the fields, sub-fields and skip logic we want for tags? See the KoBo form.

[2016-09-29 19:17] jessicagood opened #301 "Relationship Fields and Types"
Do we have all the relationship fields and types that we want? There is not a KoBo form for this. Answers to this question can just be added to the comments below.

[2016-09-29 19:23] jessicagood opened #302 "Fields for Images + Orientatation Math"
Lat and long have been added to individual images already but what about the rest of the image properties, specifically what do we want for the Orientation for images - including which fields and what is the math? See the KoBo form for Images Properties.

As a reference the math for strike, dip, etc is https://github.com/StraboSpot/strabo-mobile/blob/master/www/app/spot/orientation-data-tab.contro

[2016-09-29 19:25] jessicagood commented on #274
I will do the last two bullets above but if the first two are changes that everyone agrees on can someone make those changes in the KoBo forms for the different features?

[2016-09-29 19:27] jessicagood commented on #279
See the KoBo form to make these changes.

[2016-09-29 19:30] #228 closed

[2016-09-29 19:37] jessicagood opened #303 "Inference Tab & Fields"
At the meeting in Kansas, there was talk about changing the name of the Inferences tab to X-Cutting.  Is this really what you want? Do you still want Rosetta, etc on a tab called X-Cutting? Would the name X-Cutting work for other geology disciplines for defining their relationships too?

[2016-09-30 03:09] panamint55 commented on #303
I am not sure what we need here.  We really need to get Basil and Randy to comment.  X-cutting is often a relationship, so maybe that stays with that tab.  Rosetta is more of a significance, so perhaps this could go on another tab or perhaps become a TAG.

[2016-09-30 03:10] panamint55 commented on #286
Can someone doing KoBo - Joe, Zach, or Randy, look at this?

[2016-09-30 03:11] panamint55 commented on #301
We need someone to do this.  Is this basically repurposing the inferences tab?

[2016-09-30 03:11] panamint55 commented on #302
I will try to get this math done soon.  Remind me if I drop the ball on this.  It is repurposing the S&D math.

[2016-09-30 03:14] panamint55 commented on #260
We should do this soon.  I hope it is simple.  Black, red, blue, and ?????.  Use red for faults of any kind, black for depositional, blue for everything else?

How hard is this to set in preferences?  Would that take a lot of effort/programming?

[2016-09-30 03:16] panamint55 commented on #212
Let's go with this for now.  We can change later as needed, and that is not a big deal.  The important aspect is that we keep the name "Strabo."  That is set in stone.

[2016-09-30 03:43] zmichels commented on #303
I like the idea of "Rosetta" as a tag.

On Sep 29, 2016, at 10:09 PM, panamint55 <notifications@github.com<mailto:notifications@github.com>> wrote:

I am not sure what we need here. We really need to get Basil and Randy to comment. X-cutting is often a relationship, so maybe that stays with that tab. Rosetta is more of a significance, so perhaps this could go on another tab or perhaps become a TAG

[2016-09-30 14:42] JEAndrew commented on #286
This kobo looks fine. Sorry Jessica that I missed the email to create it.

[2016-09-30 14:45] JEAndrew commented on #260
Can we set line thickness and solid, dashed and dotted?

[2016-09-30 20:44] panamint55 commented on #303
We could have it as a pre-defined tag, as long as we do not have too many of these, and the user-defined tags would normally be listed first.

[2016-09-30 21:37] zmichels commented on #303
I vote for Rosetta as a tag. If I had my druthers I would scrap it altogether and let users define such a thing if it is something they want to do in their workflow... cut down the clutter.
Probably not a popular opinion:
I think most users will likely have never called a station/spot a Rosetta (or even really work in this explicit way), and I doubt many people will use it whether it is a tag or a

[2016-10-03 18:41] KendriSalmans commented on #299
Hey @jessicagood , I'm going to start compiling a Doc with notes that I have on some of the features.

Currently I am  using 0.15.1.

I'll try to keep things short, include pictures when I can, and go over everything.

https://docs.google.com/document/d/1u-1WBggQ8jkrgJbQ4xSemic-MwunReOHdnqL1hV4_Mk/edit?usp=sharing

[2016-10-07 00:22] panamint55 opened #304 "Compass, again"
One idea.  We need to force some recalibrations of the compass.  I will be interested to see what Emily, Carson, and Katie find, but I have been experimenting and observed the following, in general.

1. Start compass with no calibration, usually OK, but not always.
2. Start compass after using Geocompass - almost always fine, same for using apple compass.
3. Sometimes, start compass, it is off but

[2016-10-18 19:06] jessicagood commented on #299
@KendriSalmans While it looks like the issues you've added to the google doc are not specifically about tagging and relationships, which is what I was specifically looking to be tested with this issue, you have some good info here. Could you make sure that the issues you've written in the google doc are not already issues in GitHub (you can search by key words) and then add each issue as a separat

[2016-10-20 15:55] egbunse commented on #260
This was discussed quite a bit on the Malpais Mesa trip. We'd like to see something similar to what can be set up in ArcMap where as Joe said, we have the option of solid, dashed, and dotted, with the user choosing which color they would like each feature to be represented by on the main map. Could the different categories of line (fault, contact, etc) be special tag features?

[2016-10-24 19:53] egbunse opened #305 "Continuous Tracking"
Suggestion: add functionality which can "connect the dots" on the main map to create a line feature when user is walking a contact. The workflow would be 1.) user adds info to a new line at one georeferenced point. 2.) User enables continuous spatial tracking and begins walking the contact 3.) to create a nice contact line (or fault line, etc.) the user hits the "locate me" button at the top of th

[2016-10-24 19:55] egbunse opened #306 "Undo Line Vertex Button"
Need a button which will undo the placement of a vertex of a line or polygon instead of needing to delete and start over.

[2016-10-24 19:58] egbunse opened #307 "Previous View Button"
Button on the main map for going back to the user's last 2(?) "views." Helpful in case the user swipes too far out of offline tiles.

[2016-10-24 20:00] egbunse commented on #307
If a "previous view" button doesn't work, a "lock map" button would be nice to lock the main map display while walking around without needed to close the app.

[2016-10-24 20:03] egbunse opened #308 "Offline Map Tiles"
Outlines of areas of previously downloaded map tiles while online on the main map would streamline the process of downloading offline map tiles. When downloading map tiles, it is sometimes tough to see areas where more data needs to be downloaded and the user can lose track in a large area of how far they've gone since the zoom has to be on 14 to download inner tiles (down to 19).
If having outlin

[2016-10-24 20:05] egbunse opened #309 "Main Map Default Off"
The main map will default to Mapbox Streets causing confusion for users who likely have not downloaded offline tiles for Streets. Could we not have a default (i.e. blank screen until the user chooses which layer to display in the main map view)?

[2016-10-24 20:08] egbunse opened #310 "Filter Spot List by Date"
Add the functionality to see the spots separated out by date edited in the list of all spots.

[2016-10-24 20:10] egbunse opened #311 "Map Tiles Ready for Download"
Display an alert on the download map tiles page when the count for all map tiles to be downloaded is done (I pushed "save this map" too soon on occasion when I was on low quality wifi).

[2016-10-24 20:20] egbunse opened #312 "Point Geologic Unit Symbology"
Using the Geologic Units tag group, assign specific colors to each member the user inputs. When point spots are displayed on the main map, the font of their name is displayed in this color, so the user can get an idea of the spatial extent of rock units.

[2016-10-24 20:24] egbunse opened #313 "Bluetooth/Airdrop Strabo Data"
(From conversations we've had this is could be quite challenging but I thought I'd throw it out there in case an easier way of doing this became available)
In addition to uploading a dataset to the online database (or an offline database if they have a server like KU Field Camp), the user can utilize either Bluetooth or  Airdrop (depending on device) to send data to another device used for back-up

[2016-10-24 20:32] egbunse commented on #193
Android didn't perform well in the field at Malpais Mesa. Working with version 0.15.1 on a Samsung Galaxy S5 phone on the AT&T network with 4GLTE. Would crash after about 15-20 spots were added (most included pictures) and all data would be lost. Was able to successfully upload about 19 spots to the server when crash alerts began (if I closed out the app completely that's when everything would be

[2016-10-24 20:55] JEAndrew commented on #193
I've experienced a lot of this behavior over the different versions. The hardware return key on android seemed related to some bad behavior. Taking photos or working with photos is a another big source of crashing.

[2016-10-27 14:40] jasonash opened #314 "Expand Options for Database Endpoint"
Right now, we have the option to specify a Database Endpoint URL which defaults to http://www.strabospot.org

Could we expand this capability to specify a complete path to the API, including port?

For example, I would like to be able to specify:

http://www.strabospot.org/devdb:8081

This would greatly increase our ability to debug.

Also, there should probably be a button on this page that a use

[2016-10-27 15:36] panamint55 commented on #314
Sounds good.  Or keep a record of URLs that have been used and have those as options.

Doug

***********************************************
J. Douglas Walker
Isotope Geochemistry Laboratories
Nichols Hall
2335 Irving Hill Drive
Lawrence, KS  66045
785-864-7711
785-864-7789 (fax)
***********************************************

From: Jason Ash <notifications@github.com>
Reply-To: StraboSpot/strabo

[2016-10-27 16:52] jessicagood commented on #314
@jasonash I changed the default db endpoint url from `http://www.strabospot.org` to `http://www.strabospot.org/db`. This is effective in the latest version on PhoneGap Build though I didn't update the version number yet. This gives you more flexibility when you change it on the Miscellaneous page. You can include a port too if you wish.

Since the authenticate user API call doesn't follow the same

[2016-10-27 18:07] jasonash commented on #314
@jessicagood I'm wondering if it might make sense to move the authenticate controller into the db/ folder. This would slightly change the behavior of the API. On success, it would still return:

`{
  "valid": "true",
  "profileimage": "http://strabospot.org/db/profileimage"
}`

but on failure it would return a 401 (unauthorized) header and no content. Would this be feasible? Can your code look for

[2016-10-27 18:19] jessicagood commented on #314
Yeah, sure, it's easy to change the code for the app if you want to do that.

[2016-10-27 18:26] jasonash commented on #314
OK, I've moved the authentication controller into db/.

The endopoint is now:

http://strabospot.org/db/userAuthenticate

Basically, you do a POST with an empty body and basic authentication (like the rest of the API functions) and it returns a standard success message if valid:

`{
  "valid": "true",
  "profileimage": "http://strabospot.org/db/profileimage"
}`

and gives a 401 (unauthorized) if t

[2016-10-27 20:28] jessicagood commented on #314
Ok. I implement that. It'll be in the next version. That cleans up the authentication a bit.

[2016-10-27 20:28] #314 closed

[2016-11-01 16:05] jasonash opened #315 "Malpais Mesa Dataset Missing Geometry"
@jessicagood  I was just looking over the issues with Emily's Malpais dataset and I noticed that one of the spots is missing a geometry. This same spot has an image that is serving as a basemap, so all spots on that basemap are unable to inherit valid real-world coordinates.

Here is the raw JSON coming in from the (iOS) app:

https://gist.github.com/jasonash/66e10fb01da509354878840e8caeca79

The

[2016-11-02 13:58] egbunse commented on #315
@jasonash From looking at that, the spot you're referring to should be a point. I wouldn't know the pixel coordinates, but can check to see if it might be on one of the iPads later on today.

[2016-11-02 14:00] jasonash commented on #315
The spot in question has no geometry at all, but I'm assuming it should have real-world coordinates, not pixel coordinates.

[2016-11-02 14:05] egbunse commented on #315
Yeah, I see what you're saying now. It is the "real world" spot which has the image basemap for the next few spots.

[2016-11-02 14:12] egbunse commented on #315
@jasonash I'm not sure how I would go about adding in this spot's geometry?

[2016-11-02 14:41] jasonash commented on #315
@egbunse I'm assuming you could download the project into the app and add the geometry on the spot page?

[2016-11-02 15:02] jasonash opened #316 "Android App Crashing"
Using Strabo Mobile version 0.15.4 (downloaded 11-02-2016)

After installing Strabo Mobile on my Android device, I logged into the test account at strabospot.org and downloaded the Malpais dataset. This worked without error, and all spots and pictures were downloaded fine. After quitting the application though, and then re-opening, the app immediately reports "Unfortunately Strabo Mobile has stopp

[2016-11-02 15:34] egbunse commented on #316
This is almost exactly what happened to me at Malpais Mesa when I tried using the app on my Galaxy S5 (and is why I used iPads the rest of the time there). I put my observations in Issue #193

[2016-11-02 15:39] jasonash commented on #316
I tried the exact same routine above on an iPad this morning and the application is working fine. No crashes, and able to reboot without problem. This particular issue seems confined to Android devices.

[2016-11-02 16:11] jessicagood commented on #316
Yeah, we were having this issue last week too, I just haven't been able to
fix it yet since we've been having so many other problems recently too. It
seems like it's only happening with this project. I can read in thousands
of Spots from one of Joe's projects in Android, close the app and it opens
again fine.

I think it's crashing as it is reading in the spots from the local
database. Since the i

[2016-11-03 14:24] egbunse commented on #315
Looking at the dataset on the iPad, the spot in question no longer has any information associated with it except date and time (it looks like from the earlier JSON read-out that it should have an image called "Facing SE." There also isn't an option for assigning it a geometry on the app and I think this might be because it doesn't have coordinates associated with it. Not sure if this is worth keep

[2016-11-03 14:42] jasonash commented on #315
@egbunse If you decide to delete spot 14759496807822, you'll also have to remove these spots:

14759497494344
14759502586611
14759504103125

These three reside on the  (now missing) image basemap associated with spot 14759496807822. The app should probably do this automatically in the future, or at least check to make sure that basemaps still exist before uploading.

[2016-11-03 15:03] egbunse commented on #315
@jasonash If I were to re-add the missing image used as a basemap and then assign that spot an approximate lat/long and geometry do you think that would work, or would the connection to those other three spots not be retained?

[2016-11-03 15:07] jasonash commented on #315
@egbunse You could try that... though I'm guessing the id assigned to that new image would be different. I would have to go in and manually change it.

[2016-11-03 15:11] jasonash commented on #315
@egbunse I would suggest making a good known-working copy of the project in iMazing before attempting any changes.

[2016-11-04 13:31] egbunse commented on #315
@jasonash I found the spot with the image on the iPad I was originally working on that day. I assigned it a geometry through assigning lat/long and have been trying to upload it to the strabospot.org/db server, but every time I get a failure to load one image. Should I attempt the test account or the newer server?

[2016-11-04 13:35] jasonash commented on #315
@egbunse The new backend is down for the moment. Have you tried deleting the project from your account first before uploading?

[2016-11-04 13:46] egbunse commented on #315
@jasonash I had not tried that yet and just did several times. The result was that it will say it is only uploading 3 images (one or two of which usually fail) out of the possibly 195 that I know should be on there (which should be missing if the whole project is deleted off my account). I've also got anywhere from 32-179 features (there are 171 spots).

[2016-11-04 13:56] jasonash commented on #315
@egbunse OK, I put the new backend back up. Why don't you upload your project there (under your account) and I'll transfer it to Android and push it back up to strabospot.org.

[2016-11-04 14:28] egbunse commented on #315
@jasonash still have 2 images failing on this iPad.

[2016-11-04 14:32] jasonash commented on #315
@egbunse Did you try multiple uploads to the new backend? It sounds like the iPad is timing out on the images, which is expected. You should try uploading multiple times to catch the few that are missing. Short of that, I'm not sure what you could do.

[2016-11-04 14:55] jasonash commented on #315
You could also make an iMazing backup of the good project and put it up on Dropbox. I can restore from that here and place the good project back on strabospot.org

[2016-11-04 15:49] egbunse commented on #315
@jasonash I did try multiple uploads (I usually just keep hitting upload until it is successful), but those 2 images are stubborn. I have class with Doug here in a bit so we'll try and get an iMazing back up made and available to you sometime in the early afternoon!

[2016-11-04 16:03] egbunse commented on #315
@jasonash Doug just got the copy put on Dropbox. He says it is in the "Emily" folder and is the 15.4 version. Let me know if there's anything else I can do.

[2016-11-04 16:05] jasonash commented on #315
OK, I'll see if I can get it up to strabospot.org

[2016-11-04 20:25] jasonash commented on #315
@egbunse OK, I was able to upload the project to your account at strabospot.org.

Your project was still missing an image file for spot 14757900898868. To remedy this, I just deleted the image from the spot.

I hope this helps. Please let me know if you need anything else.

[2016-11-14 19:36] jessicagood commented on #316
@egbunse and @jasonash Can you confirm this is working OK now on your devices? Thanks!

[2016-11-15 00:40] jessicagood opened #317 "Images - Copy images to device"
Give the user the option to copy downloaded images to the device. Do this for each image, not in bulk. Right now only photos taken within Strabo are copied to the device.

[2016-11-16 15:05] jasonash opened #318 "Need Database Endopoint Changed"
@jessicagood I have enabled TLS encryption on the server for HTTPS traffic. At first, I forced all traffic to HTTPS, but the app doesn't seem to handle 301 redirects correctly. If I manually change the endpoint to https, everything works fine. Can you change the default app Database Endpoint to https://strabospot.org/db ? We'll have to remind people to upgrade as soon as possible. Right now, I've

[2016-11-16 17:04] jessicagood commented on #318
Done in version 0.17.3

[2016-11-16 17:04] #318 closed

[2016-11-16 18:52] jessicagood commented on #317
Images copied to device with commit d4b569e63f29c18ace9643631aefb06167a91ebb. On iOS images are only accessible through iTunes when the device is plugged into a computer. Need to update from ngCordova to [ionic-native](http://ionicframework.com/docs/v2/native/) to use [cordova-base64-to-gallery plugin](http://ionicframework.com/docs/v2/native/base64-to%20gallery/) which saves an image file to the

[2016-11-16 18:54] jessicagood commented on #245
updated in commit 06b0052d5c7bccba94367a48f208c24efa920194

[2016-11-16 18:54] #245 closed

[2016-11-16 18:56] jessicagood commented on #156
Uploading is fast enough now with the new server that I don't think this is a problem and the user can wait.

[2016-11-16 18:56] #156 closed

[2016-11-16 18:59] jessicagood commented on #72
Good indicators now abffa474839ccec9d2fc794d7b710b048d940c15

[2016-11-16 18:59] #72 closed

[2016-11-16 19:02] #70 closed

[2016-11-16 19:03] jessicagood commented on #53
Ok with separate upload and download buttons for now. Syncing adds a much higher level of complexity that we will hold off on for now.

[2016-11-16 19:03] #53 closed

[2016-11-16 19:08] jessicagood commented on #197
Added infinite scroll with commit b99ae646938737b8e070282e90f69c9e86ac7e93

[2016-11-16 19:08] #197 closed

[2016-11-16 19:24] jessicagood opened #319 "Handle Upload/Download dataset with 0 spots"
See https://github.com/StraboSpot/strabo-server/issues/42

[2016-11-18 17:04] jessicagood commented on #302
From @panamint55 Here is the math.

1) g = sqrt (x^2 + y^2 +z^2)

2) Direction of y = diry = magnetic heading

3) Look direction = ldir

4) Look angle=alpha. Looking up, alpha +, looking down, alpha –

alpha = -(z/abs(z)) * inverse-sin(abs(z)/g)

For look direction, we take the direction the camera is facing assuming it is not a selfie.

4 cases for look direction:

1) Abs(y/x)&lt;0.5 and x&gt;0,

[2016-11-18 17:09] jessicagood commented on #302
The major problem with implementing this is that functionality is handed over to the device camera and when it gets back to app (at which point the device motion and acceleration can be recorded) the user isn't necessarily holding the device at the same orientation as when the picture was taken.

Looked into switching to the camera plugin https://github.com/remoorejr/cordova-plugin-camera-with-exi

[2016-11-18 17:26] #315 closed

[2016-11-18 17:26] #316 closed

[2016-11-18 17:26] #288 closed

[2016-11-18 17:36] jasonash commented on #302
For future reference, here is the EXIF data recorded by iOS (iPad Mini 4):

Exif Image Size	3,264 × 2,448
Make	Apple
Camera Model Name	iPad mini 4
Orientation	Rotate 90 CW
Software	10.1.1
Modify Date	2016:11:17 12:51:03
20 hours, 41 minutes, 42 seconds ago
Y Cb Cr Positioning	Centered
Exposure Time	1/15
F Number	2.40
Exposure Program	Program AE
ISO	640
Exif Version	0221
Date/Time Original	2016:11:

[2016-11-18 18:11] zmichels commented on #302
Right. So the Exif doesn't include the accelerometer (direction of phone) data... just the GPS.

On Nov 18, 2016, at 11:38 AM, Jason Ash <notifications@github.com<mailto:notifications@github.com>> wrote:

For future reference, here is the EXIF data recorded by iOS (iPad Mini 4):

Exif Image Size 3,264 ? 2,448
Make Apple
Camera Model Name iPad mini 4
Orientation Rotate 90 CW
Software 10.1.1
Modify

[2016-11-21 16:45] panamint55 commented on #260
Lets start with something simple.  Medium weight, red for faults, light weight black for other types of contacts.  quality know - solid line, quality - approximate of any sort, dashed, quality - inferred or concealed, dotted.  Otherwise I guess we can let users define.

[2016-11-21 19:21] jessicagood commented on #260
With commit 4324b610a28803d21934025649e4dd1a500a2a28 I added to v0.17.5 basic styling as you described @panamint55 for Spots with line geometry which have a fault planar orientation. Color, line thickness, dash patterns are simple to change. It is also much easier to define styling as you have done with faults than to deal with custom styling. I'm still deciding on the best way to implement that b

[2016-11-22 00:05] panamint55 commented on #260
OK, here is what we need to do with lines.  Lines on maps or images are traces, so we are working with lines and, we hope, classified traces.  Lines that are just a line, with no trace attributes, can appear as a medium weight line, say a color like green.  They may have a lot of other attributes, but no specific trace attributes.  Lines that are traces have the "Trace Feature" selected and will h

[2016-11-22 00:08] jessicagood commented on #260
With commit da49385cb6469300c74431262a93396a52526c75 and version 0.17.6 lines are symbolized based on the trace fields and anything in the Orientation tab for Spots with line geometry is ignored. (This is also true for polygons too now and you can see the difference in the layer switcher on the map. Symbolization for polygons has not been changed yet though.)

If a trace is a fault (a sub-type of

[2016-11-22 00:25] jessicagood commented on #260
Version 0.17.7 with commit 699926dedcc2c505747c3887730263c3cbd0b902 has the updates from your last comment, @panamint55, which I didn't see before I pushed 0.17.6

[2016-11-22 00:33] panamint55 commented on #267
We will color polygons based on the "Surface Feature Type" that is given.  For now, just uses some random but not too saturated or opaque color.  The only exception will be rock unit, which will get a little more complex down the line and in this list.
1) Rock unit - light blue to start
2) Contiguous Outcrop - pink for now
3) Geomorphic feature - green
4) Anthropogenic - light purple/lavender
5) E

[2016-11-22 00:42] jessicagood commented on #260
@panamint55 Forgot the long and short dashes for quality of other. In updated version to download.

[2016-11-22 17:32] jessicagood commented on #267
Added with commit bb2cd96b529924317c858153caec76994ad9c553 to version 0.17.8.

geologic structure wasn't indicated in your list, @panamint55, but it's in the list in the app and the KoBo form. I left it light blue for now.

All of these colors are easy to change.

They all have a think black border now but I can easily change this as well.

[2016-11-22 18:55] jessicagood commented on #306
If you are in editing mode you can long press on a vertex and it will delete only that vertex. If you are in drawing mode you need to either complete the drawing and then edit it or start the drawing over.

I don't think an undo button is necessary given that you can edit shapes. It would blur the line between drawing mode and editing mode and adds another level of complexity for something that we

[2016-11-25 16:31] #286 closed

[2016-11-25 16:33] #270 closed

[2016-12-20 17:37] jasonash opened #320 "Edited geometries not being saved from map edits"
While working on the live database connection, I realized that geometry edits made in the map interface aren't getting saved to the LocalStorage factory when clicking the "Save Edits" button. Basically, if you edit a geometry in the map, click "Save Edits", and then close the app and reopen it, the changes won't be saved.

I tracked the problem down to line 104 of map-draw.factory.js. The original

[2016-12-27 17:39] jessicagood commented on #320
Good find! I'm surprised no one, including me, didn't notice that the edits weren't actually being saved.

I pushed this change into the master and incremented the version. Thanks!

[2016-12-27 17:39] #320 closed

[2017-01-03 18:04] panamint55 opened #321 "Editing a sample"
The "+" to add a sample works and the full dialog appears.  Once the sample is entered, reselecting it just gives a new dialog box that says "Edit Sample", but no items to edit appear.  The dialog is blank.

[2017-01-04 00:42] panamint55 opened #322 "Trace Character"
We need to add the Trace Character to the trace feature dialog.  This should be in the Kobo Forms.  This needs to be added.

[2017-01-04 17:43] jessicagood commented on #322
I don't see any updates to the KoBo Forms for Trace Character. This part of Trace is the same as what's in the app already. Trace Character only shows up with the skip logic below.

![image](https://cloud.githubusercontent.com/assets/1493985/21652567/62e2f8ce-d26a-11e6-9bf3-9344c4138f09.png)

Should the skip logic be different?

I do see the other update to Trace where you changed 'Shear Sense' to

[2017-01-04 17:52] jessicagood commented on #321
fixed with commit f12146c

[2017-01-04 17:52] #321 closed

[2017-01-04 17:57] panamint55 commented on #322
OK, got it.  I made a mistake, and it is working correctly.  Sorry about that.

Doug

***********************************************
J. Douglas Walker
Isotope Geochemistry Laboratories
Nichols Hall
2335 Irving Hill Drive
Lawrence, KS  66045
785-864-7711
785-864-7789 (fax)
***********************************************

From: Jessica Good <notifications@github.com>
Reply-To: StraboSpot/strabo-mob

[2017-01-04 18:03] jessicagood commented on #322
Ok. Do you still want the wording of 'Shear Sense' changed to 'Fault Type or Shear Sense'? If so I should probably change the next field from 'Other Shear Sense' to 'Other Fault Type or Shear Sense' so it matches.

[2017-01-04 18:05] panamint55 commented on #322
Lets talk about this tomorrow.  Can you bring it up at the start of the call?  This is the first thing I have found that seems odd.

Doug

***********************************************
J. Douglas Walker
Isotope Geochemistry Laboratories
Nichols Hall
2335 Irving Hill Drive
Lawrence, KS  66045
785-864-7711
785-864-7789 (fax)
***********************************************

From: Jessica Good <noti

[2017-01-05 20:51] jessicagood opened #323 "Geologic Unit Tag: Absolute Age of Geologic Unit"
From Greg Walsh (U.S. Geological Survey):  I could not enter an age range, only a single age. This is problematic for some map units such as a Formation, named pluton, igneous suite, etc. with a range of ages.

![image](https://cloud.githubusercontent.com/assets/1493985/21697089/009cd3e4-d34e-11e6-94e3-7a1dc48d03d7.png)

[2017-01-05 20:53] jessicagood commented on #323
Do we want to change this to a text field? Or it could be split into 2 numerical field that together would represent a range? Downside to a text field would be that searching on the field for a date would be harder.

[2017-01-05 20:57] jessicagood opened #324 "Draw Freehand Polygons"
From Greg Walsh (U.S. Geological Survey): It does not appear to be possible to draw lines or polygons as freehand smooth lines (aka “stream digitizing”) only as point-to-point lines. A polygon draw tool, like the Strabo tool to tag multiple spots (see next comment), is the type of tool that should be available for drawing lines and polygons. Drawing point-to-point polygons is slow and inaccurate i

[2017-01-13 16:54] panamint55 opened #325 "map warper zoom levels"
It would be good to be able to save images from map warper at zooms more than 19, say up to 21 or 22 depending on the map.  Right now zoomed in beyond 19 causes an error.

[2017-01-13 22:12] panamint55 opened #326 "dialing phone number and crashing on image import"
Using an ipad with ios10.2 a spot with a strabo identifier tries to diel the identifier as a phone number.  Also, the program crashes when trying to import images or take pictures.  See 0.11.17 file in debugging strabo folder.

[2017-01-13 23:20] jessicagood opened #327 "Unhide Set to My Location Button"
Always be able to quickly set a spot to 'my location' even when spot already has a location set.

[2017-01-14 15:40] panamint55 opened #328 "remove the x, y, z and heading from compass page"
The compass is sufficiently mature that we can get rid of x, y, z, and heading in the display.  Those lines can be commented out at this point and no longer displayed.  We may want to look at the page for the compass and see if we want to modify that.

[2017-01-14 21:41] jessicagood commented on #327
Fixed in commit 62da335

[2017-01-14 21:41] #327 closed

[2017-01-15 18:52] panamint55 opened #329 "Github link"
Should we have a link in the "About" page on strabospot to link to the github issue reporting?

[2017-01-15 18:53] sarahpd opened #330 "Exit tags"
Once you enter the "Tag" menu, the program requires you to enter a tag name. It would be helpful if you could exit without saving a tag if you decide you do not want to create a tag after all.

[2017-01-17 12:46] zmichels opened #331 "Crashes every time adding photo"
User reports crash every time try to add a photo either from camera or photo library on iOS on ipad2 Air. I tried now on my iPhone 6, and also crashes. Crash happens the instant I click "go" after selecting from where to add a photo.

[2017-01-17 17:28] jessicagood commented on #331
Happens on my iPad even though not updated to iOS 10.2. Happens with old Strabo version 0.17.7 and latest 0.17.11.  Doesn't happen on Android. Looking into it more ...

[2017-01-17 19:14] jessicagood commented on #331
iOS started requiring new permission for use of the camera/photo library. Fixed with commit f642e268390af87077cd9a0b9e43dac7f52582eb and 8a9acf28194cf3d8432094d252c884c1cfa269ea.

[2017-01-17 19:14] #331 closed

[2017-01-17 19:22] jessicagood commented on #326
See https://github.com/StraboSpot/strabo-mobile/issues/331 for the closed issue with photos.

[2017-01-17 19:24] jessicagood commented on #329
It is on the bottom of the About page, under **Bugs, Feature Requests and Other Issues**. Do you want it moved?

If we move it up that would mean moving down the directions on how to install the app.

[2017-01-17 19:29] jessicagood commented on #326
Looks like commit 47c02665aa798eef1bbabae884f302b8bc76c893 fixed the phone number issue. Please let me know if you still have this problem.

[2017-01-17 19:29] #326 closed

[2017-01-17 19:45] panamint55 commented on #329
Not sure, I will look.  Several people asked about this.

Doug

***********************************************
J. Douglas Walker
Isotope Geochemistry Laboratories
Nichols Hall
2335 Irving Hill Drive
Lawrence, KS  66045
785-864-7711
785-864-7789 (fax)
***********************************************

From: Jessica Good <notifications@github.com>
Reply-To: StraboSpot/strabo-mobile <reply@reply.githu

[2017-01-17 20:36] jessicagood commented on #328
Done with commit ddbd623

[2017-01-17 20:36] #328 closed

[2017-01-17 21:19] #329 closed

[2017-01-21 15:48] zmichels opened #332 "What's the best way to add an image/map that isn't georeferenced?"
A Beta user asked about this, and I am currently having a similar need...

Example Scenario:
I have an existing map image or schematic figure, and I have no intention on digitizing its components or georeferencing it; however I want it to be associated with multiple spots/stations/observations that I will import to Strabo sing the Shapefile conversion tool. In my actual use case this is a schemati

[2017-01-21 18:13] zmichels commented on #332
One idea: Maybe we could expand the project descriptions to include images?

[2017-01-21 20:46] jessicagood commented on #332
You could make a Spot that is not georeferenced (from the Spots page, not
the map) and add the image(s) to that Spot. You'd want to give that Spot a
good label and then you can use tagging or relationships to link it to
whatever other Spots or sub-Spot features you want.

On Jan 21, 2017 11:13 AM, "Zachary Michels" <notifications@github.com>
wrote:

One idea: Maybe we could expand the project desc

[2017-01-21 22:52] zmichels commented on #332
Good plan!

And, just checking here, but… currently any images need to be uploaded through a mobile device, correct (i.e., fails on browser “desktop” version)? Jason said he can try to upload images for me, but this plan isn’t sustainable because ultimately I am going to have a lot of them (a couple hundred maybe) for Basil’s WISZ project/talks… and they will come in waves as I complete the imagin

[2017-01-23 16:40] jessicagood commented on #332
Image uploading will work on the web version. That should be out soon. You can add to the discussion of the image resolution here: https://github.com/StraboSpot/strabo-mobile/issues/214

[2017-01-23 18:11] jessicagood commented on #189
Image for the daily log

[2017-01-23 18:12] jessicagood opened #333 "scale bar on image basemaps"

[2017-01-23 18:18] jessicagood commented on #190
What about if you're in the field and don't have a computer?

[2017-01-23 18:21] jasonash opened #334 "Add option to make projects public/private"

[2017-01-23 18:22] jasonash opened #335 "Add "groups" functionality to allow users to invite peers to view/edit data"

[2017-01-23 18:29] jessicagood opened #336 "Incorporate Stereonet"
Export csv to import into iOS stereonet app or borrow logic to create our own stereonet.

[2017-01-23 18:45] jessicagood opened #337 "Improve consistency with back arrows vs OK/Save buttons"

[2017-01-24 21:25] jessicagood opened #338 "Sort field choices"
From @panamint55 Look into being able to sort field choices by answers that are used more frequently in just user's own project or in the remote db as a whole. Would reduce having to scroll in lists which is cumbersome when there are a lot of choices.

[2017-01-25 18:25] jessicagood opened #339 "Add altitude to Spot"
From @panamint55

[2017-01-25 18:28] panamint55 commented on #189
This does not need to be anything involved.  If they have a lot to put in they will have to add a spot and go that route.

[2017-01-25 18:34] jessicagood opened #340 "Hide Tools page for now"
From @panamint55

[2017-01-26 19:14] jessicagood commented on #340
done with commit 99d76da

[2017-01-26 19:14] #340 closed

[2017-01-26 23:20] jessicagood commented on #339
This doesn't seem to be working with Android.

Added with commit 993115c and even updated the [geolocation plugin](https://github.com/apache/cordova-plugin-geolocation) to 2.4.1 but Android is return `null` for the altitude.  Tested outdoors for perhaps a better GPS signal and tested with `enableHighAccuracy: true` but no success. Others seem to be having this problem but no working solutions. See

[2017-01-27 00:14] jessicagood commented on #330
@sarahpd You may press the back button to exit the screen if you decide you do not want to create a tag. The app will only require a name if you have filled out other fields on the page. Otherwise it will exit without creating a tag.

[2017-02-01 16:10] jasonash opened #341 "Web version spot list limited to 25 spots"

[2017-02-01 16:11] jasonash commented on #341
fixed with commit fc83fc3

[2017-02-01 16:11] #341 closed

[2017-02-07 15:24] JEAndrew opened #342 "orientation symbology"
the number from the dip field is shown but is rotated and often upside down. this number appears to be roataed about the spot location based on the strike value. We want the placement rotated around the spot but the number kept in the readable page orientation.

[2017-02-07 15:25] JEAndrew opened #343 "extra desktop upload fields not included"
the extra, newly defined fields created during upload of shapefiles doesn't appear in the app. Could we add some fields somehow on one of the tags? or have a weblink at least to the extra data?

[2017-02-09 12:44] jessicagood commented on #342
fixed with commit a67f855

[2017-02-09 12:44] #342 closed

[2017-02-09 12:46] #209 closed

[2017-02-10 00:28] jessicagood commented on #260
Per @panamint55 yellow was too hard to see so I changed the default color for lines (lines that are not faults or contacts) to dark brown. See how this looks.

Changed with commit 3236e61

[2017-02-10 00:38] jessicagood opened #344 "Live DB save not called"
@jasonash It looks like the Live DB calls are not being made when an individual relationship is saved nor when a tag is saved. Though it looks the Live DB call is being made when you enter the relationships page and the tags page but I'm not sure we need it there.

[2017-02-10 00:39] jessicagood opened #345 "Map Side Panel Map Symbology Updates for WEB"
Need to update the map symbology (redraw the map) when the type of point, line or polygon feature being represented is changed from the map side panel.

[2017-02-10 00:41] jessicagood opened #346 "User Profile Image for WEB"
@jasonash Looks like the user profile image isn't coming in again. At least for me. But you had fixed this before so I'm not sure what's wrong now and I haven't looked at it yet.

[2017-02-10 00:42] jessicagood opened #347 "Save layer switcher state"
Save layer switcher state when page is changed or when map is redrawn (like when the Nesting tab is opened in the map side panel) so it doesn't go back to the default with all layers shown.

[2017-02-10 00:44] jessicagood opened #348 "Give modals max width for WEB"
so they don't stretch so far across a large screen

[2017-02-10 14:25] jasonash commented on #346
@jessicagood I did a fresh pull this morning and it looks like profile images are working correctly:

![screenshot 2017-02-10 08 23 00](https://cloud.githubusercontent.com/assets/7904402/22829944/689d1322-ef6a-11e6-85bf-5a7c038d0aa1.png)

I tried several user accounts and profile images worked for all of them.

[2017-02-10 15:34] jasonash commented on #344
@jessicagood I've moved the liveDB calls to the correct locations for tags and relationships. I also fixed the missing calls when tags and relationships were deleted. These changes are in commit  c7196c8

[2017-02-10 16:46] jessicagood commented on #345
fixed with commit 107c77a

[2017-02-10 16:46] #345 closed

[2017-02-10 20:53] jessicagood commented on #347
fixed with commit fbcc70a

[2017-02-10 20:53] #347 closed

[2017-02-10 21:39] #344 closed

[2017-02-13 19:38] panamint55 opened #349 "compass"
Compass is not showing up in 18.0 from the add a plane page.  iOS

[2017-02-13 19:46] jessicagood commented on #349
fixed with commit bb74e5a in version 0.18.1

[2017-02-13 19:46] #349 closed

[2017-02-13 19:51] jessicagood commented on #346
yeah, looks like it is working now. I don't know what was happening before.

[2017-02-13 19:51] #346 closed

[2017-02-13 20:09] jessicagood commented on #343
What are the newly defined fields? What additional info do you want for tags? You can add them in the Tag KoBo form and let me know when you've made changed  you want me to incorporated into the app. I added a notes field (commit 615ef8f) for now that will be available in the next release.

[2017-02-13 20:11] jessicagood commented on #339
iOS is returning a number for altitude. Do we need to do any calculations to this number so it is more useful?

[2017-02-13 21:00] panamint55 commented on #339
No, that is all we need.

Doug

***********************************************
J. Douglas Walker
Isotope Geochemistry Laboratories
Nichols Hall
2335 Irving Hill Drive
Lawrence, KS  66045
785-864-7711
785-864-7789 (fax)
***********************************************

From: Jessica Good <notifications@github.com>
Reply-To: StraboSpot/strabo-mobile <reply@reply.github.com>
Date: Monday, February 13

[2017-02-13 21:22] #339 closed

[2017-02-13 21:25] JEAndrew opened #350 "kobo form correction"
other_metamorphic_contact erroneously was a number field answer.

I corrected the kobo form to a text input field

[2017-02-13 21:26] #332 closed

[2017-02-13 21:55] jessicagood commented on #350
fixed with commit 2a3f0ca. Will be in next release.

[2017-02-13 21:55] #350 closed

[2017-02-13 22:06] #299 closed

[2017-02-14 02:14] panamint55 opened #351 "Compass"
Version 18.1 does not recognize the magnetometer or accelerometer.  The native apple app does.  iOS.

Also, the strabo menus at the top now seem to overlap with the system ones.

[2017-02-14 18:14] jessicagood commented on #351
fixed with commit 8883fe8

[2017-02-14 18:14] #351 closed

[2017-02-20 18:10] panamint55 opened #352 "map link not working"
iOS, iphone, 18.1.  When I have a spot selected and hit the "map" icon on the upper right - next to the delete - it throws me back to the spot menu.

[2017-02-20 18:12] panamint55 commented on #352
I will put a video up on the dropbox debugging folder.

[2017-02-20 18:20] jessicagood commented on #352
Fixed with commit b3f4f89. This fix will be in the next release.

[2017-02-20 18:20] #352 closed

[2017-02-21 13:37] JEAndrew commented on #343
these are various fields from arcgis files that didn't fit our spot database.

[2017-02-21 13:57] JEAndrew opened #353 "Looking at or editiing data is unclear"
If you fill in orientation of a plane for a spot (as an example) there is no clear way to see or edit that data. If I click around eventually I fund that by clicking around on the plane type shown, there is a vague area that brings up the full orientation data comes up on the screen. We should make this much clearer to users, maybe a button that is easily found and easy to figure out to users

[2017-02-21 20:57] panamint55 opened #354 "Remove decimal points from dip and strike in orientations"
Right now all orientation data are reported to two decimals.  These need to be rounded to single degrees for display, and to one decimal point for the database.  Display means in the orientation tab and its result.

[2017-02-21 21:26] jessicagood commented on #354
I remembered this [issue 274](https://github.com/StraboSpot/strabo-mobile/issues/274) which hasn't been addressed yet. Someone else (I think @btikoff) said strikes should be three digits (eg. 003) and dips 2 digits. No decimals.

I can do either style (though your style is easier @panamint55) but it would be more difficult to display one number (no decimals) and store another (one decimal place) a

[2017-02-21 21:40] jessicagood commented on #354
For either solution I have to allow the user to enter in whatever they want as long as it's a valid number which follows the validation criteria set in KoBo forms (eg. strike must be 0-360). And then after they save the orientation data for the plane or whatever they're entering I can strip down the number to the format you want. This may not go over so well if someone does actually want to save d

[2017-02-22 22:54] jessicagood commented on #333
I have a scale bar almost working but could someone add the fields for the user to enter this data to the Image Properties KoBo form and let me know when it's ready? @JEAndrew @panamint55 @zmichels

I see a field for Scale of Overall Image and a field for Scale and type of object in image (m) right now. I'm not sure if you want to use those but if you do they'll have to be slightly modified anyway

[2017-02-22 23:51] panamint55 commented on #333
I will do this a little later tonight.

Doug

***********************************************
J. Douglas Walker
Isotope Geochemistry Laboratories
Nichols Hall
2335 Irving Hill Drive
Lawrence, KS  66045
785-864-7711
785-864-7789 (fax)
***********************************************

From: Jessica Good <notifications@github.com>
Reply-To: StraboSpot/strabo-mobile <reply@reply.github.com>
Date: Wedne

[2017-02-23 13:15] JEAndrew commented on #333
I added an image width and units to Kobo forms. I made changes in answers (fixing errors) to other kobos also.

________________________________
From: panamint55 <notifications@github.com>
Sent: Wednesday, February 22, 2017 5:51 PM
To: StraboSpot/strabo-mobile
Cc: Andrew, Joseph E; Mention
Subject: Re: [StraboSpot/strabo-mobile] scale bar on image basemaps (#333)

I will do this a little later ton

[2017-02-23 17:58] jessicagood commented on #115
Above fix is no longer working for `fold-choices.csv`. Watch for µ in `image_properties-choices.csv` too.

[2017-02-23 18:09] JEAndrew commented on #115
µ is the SI unit for micro. We could replace with letter u, I suppose

Sent from my Verizon 4G LTE smartphone

-------- Original message --------
From: Jessica Good <notifications@github.com>
Date: 2/23/17 11:58 AM (GMT-06:00)
To: StraboSpot/strabo-mobile <strabo-mobile@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [StraboSpot/strabo-mobile] degree symbol not disp

[2017-02-24 05:46] jessicagood commented on #333
Thanks @JEAndrew. Only change I made to what you did in KoBo forms was to add validation so the width has to be greater than 0.

This has been added with commit 739bb3af531fc651512b8fbc2a10b292c7433c1b

[2017-02-24 05:54] jessicagood commented on #115
I can't get the µ to display properly. Using your suggestion of 'u' instead for now.

[2017-02-24 16:17] zmichels commented on #115
Lineations are not plotting as arrows. Showing up as dots. We will want these to plot as arrows that point in the direction of the trend/azimuth. In the attached images, I am showing a single spot with a foliation and a lineation. I tried entering them two different ways... as separate features/orientations, and as associated features ( with the Lineation added to the foliation). The foliation sym

[2017-02-24 21:36] jessicagood opened #355 "Symbology Missing"
From @zmichels: Lineations are not plotting as arrows. Showing up as dots. We will want these to plot as arrows that point in the direction of the trend/azimuth. In the attached images, I am showing a single spot with a foliation and a lineation. I tried entering them two different ways... as separate features/orientations, and as associated features ( with the Lineation added to the foliation). T

[2017-02-24 21:40] jessicagood commented on #355
@zmichels I moved this to its own issue since it's different from the symbol (special characters) problems.

I added code to plot associated orientations. Added with commit d08fbd6b13084c59ad44ffc82899598ab5551f5c. And I fixed the problems with lineations using the default point symbol (a dot) instead of a line with an arrow. That was fixed with commit 651b6d53cfa9249a45e60bb6824d8ab21ff2975b.

I

[2017-02-24 21:48] zmichels commented on #355
Great, thank you!
I just checked now and it looks good!

On Feb 24, 2017, at 3:41 PM, Jessica Good <notifications@github.com<mailto:notifications@github.com>> wrote:

@zmichels<https://github.com/zmichels> I moved this to its own issue since it's different from the symbol (special characters) problems.

I added code to plot associated orientations. Added with commit d08fbd6<https://github.com/Stra

[2017-02-24 21:49] #355 closed

[2017-03-01 16:51] jessicagood commented on #325
Fixed with commit 69d2431.

[2017-03-01 16:51] #325 closed

[2017-03-01 16:52] jessicagood commented on #311
Fixed with commit 69d2431

[2017-03-01 16:52] #311 closed

[2017-03-01 16:52] jessicagood commented on #283
Fixed with commit 69d2431

[2017-03-01 16:52] #283 closed

[2017-03-03 04:44] jessicagood commented on #317
Images copied in bulk (for an entire project) with commit 67e682b839566798a062f0daedb8cd89c0329524.

[2017-03-03 04:47] jessicagood commented on #313
Data (project text data and images) can now be exported to the device with version 0.18.4. On Android it'd be easy to then bluetooth, wifi direct, email, whatever the files. Need to experiment with iOS.

[2017-03-03 04:49] jessicagood commented on #190
Version 0.18.4 allows for exporting/importing to/from your device. Project text data is exported as json and images are written as individual jpgs. It would be up to the user then as to where they would like to copy the data for safe keeping.

[2017-03-04 16:26] panamint55 opened #356 "Spot does not stay selected on map"
When you display a spot on the web version by selecting it from the spot list and then select the map icon, the spot does not stay selected on the map.

[2017-03-04 20:11] jasonash opened #357 "Image Basemap Selection Hangs on OSX Firefox"
When selecting an image basemap in Firefox on OSX, the loading graphic is displayed and the app hangs.

Here is the error from the console:

`TypeError: imageBasemapScaleLine is null[Learn More]  image-basemap.controller.js:288:9`

Here is a screenshot:
https://www.dropbox.com/s/2d1uyp1wytlgxy7/Screenshot%202017-03-04%2013.11.17.png?dl=0

[2017-03-04 20:21] jasonash commented on #357
Nevermind, this is definitely just an issue with my computer.

[2017-03-04 20:21] #357 closed

[2017-03-08 21:34] zmichels commented on #333
Just checking on this. I added an image along with the width of image view, and I set the image as a base map. I do not see a scale bar. Is this still in development? Just curious.

[2017-03-08 21:37] zmichels commented on #333
Hmmm. Update. When I save and back out of the image details (where I add the scale)... I don't see any scale bar when I click the image. If I then open the details again, the units selection has unfilled itself... I set it again to "mm". Repeat... same thing. Any reason why it doesn't save that? Everything else is being saved.

[2017-03-08 21:40] zmichels commented on #333
Just downloaded app again in case version wasn't latest. Now the units seem to stay filled in... still no scale bar. No biggie, but just was checking on this.

[2017-03-08 21:40] jessicagood commented on #333
@zmichels I can't recreate your problem. It looks to be working fine for me - both saving the units and the scale bar showing up on the image basemap.

[2017-03-08 21:42] jessicagood commented on #333
@zmichels Are you looking at the image as a basemap or just the slideshow of images on the Images tab?

[2017-03-08 21:43] zmichels commented on #333
Ahhh. Yep. Sorry. Now with update I do see the scale bar when open the "map" (didn't before but musta been an older version I had). Is there a way to get it to show when just view the image, too? Maybe that's not something others want I guess... but I think I'd like to see the scale of someone specifies it even if not set to be a basemap.

[2017-03-08 21:48] jessicagood commented on #333
@zmichels Glad you got it working. Not easy to put the scale bar as it is now in the image slideshow since it is tightly integrated with the map and map library. But if this is a significant issue you can make a new issue for it and we can address the priority of that feature.

[2017-03-08 21:49] zmichels commented on #333
Ok. Thanks for clarification.

[2017-03-12 16:57] JEAndrew commented on #343
I can't open the planar feature imported from shapefile in the editing mode on the orientations tab. it just says planar feature with the dip. I can open the associated linear feature to edit

[2017-03-12 17:08] jasonash commented on #343
@JEAndrew Can you attach the shapefile you are having trouble with? I'll see if I can duplicate the problem to see what's going on.

[2017-03-12 17:45] panamint55 commented on #343
Are you around for a phone call?

***********************************************
J. Douglas Walker
Isotope Geochemistry Laboratories
Nichols Hall
2335 Irving Hill Drive
Lawrence, KS  66045
785-864-7711
785-864-7789 (fax)
***********************************************

From: JEAndrew <notifications@github.com>
Reply-To: StraboSpot/strabo-mobile <reply@reply.github.com>
Date: Sunday, March 12, 201

[2017-03-13 15:22] rtwilliamsgeo opened #358 "MOBILE PRIORITY: Significant Digits"
Many places in the app (in this case strike and dip / trend and plunge measurements) we are showing too many significant digits. For the previous mentioned measurements, these should be rounded to the nearest whole number when displayed.

[2017-03-13 15:23] rtwilliamsgeo opened #359 "Appearance of drop down menus"
Basil requests that we change the appearance of drop down menus if possible. Currently, the down arrow is small and on the right-hand side. Ideally, it would be larger and on the left hand side.

[2017-03-13 15:27] rtwilliamsgeo opened #360 "MOBILE PRIORITY: Spot type changing"
When adding a line or a polygon spot to the map, hitting go on the iOS keyboard changes the spot type back to a point. This error is reproducible, so give me a call if you want to see it in action.

[2017-03-13 15:28] rtwilliamsgeo opened #361 "MOBILE PRIORITY: Dip Direction"
When measuring a plane, we need to change the label of "Dip Direction" to "Azimuth Dip Direction".

[2017-03-13 15:30] rtwilliamsgeo opened #362 "MOBILE PRIORITY: Relationship Display"
The way saved relationships are displayed is somewhat clunky. Specifically, any one relationship takes up a lot of screen space due to being displayed on multiple lines. This could be troublesome for spots containing many relationships. Can we change it to be on one line? Something akin to:

measurement A _**Cross Cuts**_ measurement B

[2017-03-13 15:32] rtwilliamsgeo opened #363 "MOBILE PRIORITY: Add Rock Unit to Spot"
On the main spot page, adding a rock unit takes you to the a screen for "add tag". We understand why this is currently the case, but feel it will be confusing to new users. Can we make a custom page for "Add Rock Unit" where the user can only do Rock Unit tags?

[2017-03-15 14:46] jasonash commented on #343
@JEAndrew I loaded the shapefile you provided and I am unable to produce the problem mentioned above. When I click on the Planar Feature Label (in this case "no label"), it opens the editing page:

https://www.dropbox.com/s/50jy2tj6uripmgy/Screenshot%202017-03-15%2009.42.26.png?dl=0

What behavior are you experiencing?

[2017-03-15 15:39] JEAndrew commented on #343
try matching column striketype to planar feature type. I think it is picking up a vocabulary that is not in the controlled vocabulary and then stopping. We need a way to dump any vocab not in the controlled vocab into the 'other' open field.

________________________________
From: Jason Ash <notifications@github.com>
Sent: Wednesday, March 15, 2017 9:46 AM
To: StraboSpot/strabo-mobile
Cc: Andrew,

[2017-03-15 16:18] jasonash commented on #343
@JEAndrew Just to clarify: If a planar feature type is provided that doesn't fit the controlled vocabulary (such as "dike"), you want the planar feature type set to "other" and other planar feature set to "dike". Is this correct? If so, I can make this change pretty easily.

[2017-03-15 16:28] JEAndrew commented on #343
yes!  There are other columns that need a similar action.

________________________________
From: Jason Ash <notifications@github.com>
Sent: Wednesday, March 15, 2017 11:18 AM
To: StraboSpot/strabo-mobile
Cc: Andrew, Joseph E; Mention
Subject: Re: [StraboSpot/strabo-mobile] extra desktop upload fields not included (#343)

@JEAndrew<https://github.com/JEAndrew> Just to clarify: If a planar feature

[2017-03-15 16:31] jasonash commented on #343
@JEAndrew Great. I'll start with planar feature type and then I'll have you try it. If it works as you expect, I'll change the rest of the columns.

[2017-03-15 16:47] JEAndrew commented on #343
Good. Another idea would be to have user try to fit things into the controlled vocabulary. This would really complicate things. Let's try the easy way first

Sent from my Verizon 4G LTE smartphone

-------- Original message --------
From: Jason Ash <notifications@github.com>
Date: 3/15/17 11:31 AM (GMT-06:00)
To: StraboSpot/strabo-mobile <strabo-mobile@noreply.github.com>
Cc: "Andrew, Joseph E" <j

[2017-03-15 18:40] jessicagood commented on #358
This is a duplicate of issue https://github.com/StraboSpot/strabo-mobile/issues/354. See comments there.

[2017-03-15 18:40] #358 closed

[2017-03-15 19:02] jessicagood commented on #354
*This is also a comment for duplicate issue https://github.com/StraboSpot/strabo-mobile/issues/358.  Fixed with commit 23e0d6d. (But not released yet.)*

@panamint55 @rtwilliamsgeo The user will be told that an entry is invalid for an integer field if an integer hasn't been entered. If you want to restrict the input to whole numbers you will need to set that up within the validation criteria for e

[2017-03-15 19:03] jessicagood commented on #354
Integer fields:

![image](https://cloud.githubusercontent.com/assets/1493985/23966062/438744f0-0977-11e7-9026-322c195416ce.png)
![image](https://cloud.githubusercontent.com/assets/1493985/23966110/6c8bf80a-0977-11e7-9ac6-913bdb41fae2.png)

[2017-03-15 21:49] JEAndrew commented on #343
That works great now for planar feature type. I think this problem will occur with every instance of controlled vocabulary.

Is there a way when the uploader encounters a problem for it to go back instead of having it just quit and have the user start over with their column settings? That way a user could make small changes in a large complicated file to upload and not have to recreate each settin

[2017-03-15 21:58] jasonash commented on #343
Sure, I can make the parser go back to column settings. I'll also see if I can refine the columnar auto-select a little. It has some room for improvement.

[2017-03-15 22:08] jessicagood commented on #361
Changed with commit  3b893b6. @rtwilliamsgeo It seemed like this was just a simple KoBo forms change that I then pulled into the code. If it was supposed to be more than that let me know and reopen this issue. @jasonash Don't know if you need to know about this field change but just the label changed not the name of field.

[2017-03-15 22:08] #361 closed

[2017-03-16 20:23] jessicagood opened #364 "Add validation criteria in KoBo forms"
@panamint55 Add validation criteria in KoBo forms and error messages for the following fields. This stems from the fix for issue https://github.com/StraboSpot/strabo-mobile/issues/354.

Integer Fields:
![image](https://cloud.githubusercontent.com/assets/1493985/24016998/87401b8e-0a4b-11e7-9168-4f6c006447e1.png)

[2017-03-16 21:18] jessicagood commented on #360
Fixed with commit c585141.

The click action for the 'Set To My Location' button was being called when Go or Enter on the keyboard (iOS/Android/web) was pressed because the default action for buttons inside a form is `type="submit"`. Submit actions are run on keyboard Go/Enter presses.

I moved the tags for the form so none of the buttons were inside the form and this fixed the problem.

[2017-03-16 21:18] #360 closed

[2017-03-17 12:26] jessicagood commented on #363
Fixed with commit 250af1e.

[2017-03-17 12:26] #363 closed

[2017-03-17 13:01] jessicagood commented on #362
@rtwilliamsgeo I agree it does take up a lot of space but I don't think it can be as simplified as you're suggesting given the complexity of relationships. The way it is displayed now it is clearly indicated what is being included in which side of the relationship (Spots, Features and/or Tags). The user also can click on each Spot, Feature or Tag to get to more information about that item.

I did

[2017-03-17 13:01] #362 closed

[2017-03-17 18:16] jessicagood commented on #364
The following are all of the decimal fields. We need to make sure none of these should be integers instead and if they need validation criteria that needs to be added to the KoBo forms as well.

An example of the validation criteria would be to specify that the value of the field must be between 0-360. Along with the criteria we need an error message to display to the user if the number is not val

[2017-03-17 21:43] jessicagood commented on #359
The convention for drop-down menus is that the arrow is on the right. The text fills in on the left side once it's been selected. One doesn't need to even click on the arrow anyway, they only need to click in the blank space and the drop-down will open.

I recommend against this change. Anyone else have comments on this?

[2017-03-17 21:54] rtwilliamsgeo commented on #359
This was really Basil's baby (he was weirdly adamant about it). I actually
agree with you. I'll try to talk to him about it Monday.

R

On Fri, Mar 17, 2017 at 4:43 PM Jessica Good <notifications@github.com>
wrote:

[2017-03-21 19:28] jessicagood commented on #323
@panamint55 What do you think?

[2017-03-21 19:42] panamint55 commented on #323
Here is tensor

***********************************************
J. Douglas Walker
Isotope Geochemistry Laboratories
Nichols Hall
2335 Irving Hill Drive
Lawrence, KS  66045
785-864-7711
785-864-7789 (fax)
***********************************************

From: Jessica Good <notifications@github.com>
Reply-To: StraboSpot/strabo-mobile <reply@reply.github.com>
Date: Tuesday, March 21, 2017 at 2:28 PM

[2017-03-23 16:15] jessicagood commented on #364
Updated in commit 05116a6 from @panamint55 edits

[2017-03-23 16:15] #364 closed

[2017-03-23 16:15] #354 closed

[2017-03-23 16:16] #333 closed

[2017-03-23 16:16] jessicagood commented on #323
Fixed in commit 05116a6 with edits from @panamint55

[2017-03-23 16:16] #323 closed

[2017-03-23 16:18] #322 closed

[2017-03-23 16:18] #317 closed

[2017-03-23 16:20] jessicagood commented on #303
Inferences tab was removed and replaced with a tab just for relationships. See commit 24f080bc401d14194fc3a34bb4d5b07c366889eb

[2017-03-23 16:20] #303 closed

[2017-03-23 16:23] #300 closed

[2017-03-23 16:23] #301 closed

[2017-03-23 16:26] jessicagood commented on #279
@panamint55 I know you just edited the Trace form so can we close this issue?

[2017-03-23 16:28] panamint55 commented on #279
Yes.

***********************************************
J. Douglas Walker
Isotope Geochemistry Laboratories
Nichols Hall
2335 Irving Hill Drive
Lawrence, KS  66045
785-864-7711
785-864-7789 (fax)
***********************************************

From: Jessica Good <notifications@github.com>
Reply-To: StraboSpot/strabo-mobile <reply@reply.github.com>
Date: Thursday, March 23, 2017 at 11:26 AM
To: Stra

[2017-03-23 16:28] #189 closed

[2017-03-23 16:32] #279 closed

[2017-03-23 17:51] jessicagood commented on #356
Fixed with commit 0c0adde.

A Spot will only be highlighted on the map as a selected Spot if you get to the map from the map icon within that Spot. If you click on the map in the dropdown menu no Spots will be highlighted on the map.

[2017-03-23 21:00] #330 closed

[2017-03-25 20:41] panamint55 commented on #359
We made a change with a light gray background.  This may make it clearer that the user can hit anywhere under the text or triangle and get the drop down.  We will see how this works.

[2017-03-25 20:49] panamint55 opened #365 "on spot list make the "set list detail" automatically on"
On the spot list in the mobile app, and certainly the desktop, the "set detail list" should be automatically on.  I am not sure this even needs to be an option, and the spot list is not very useful without this.

My suggestion is to always show the detail with things like images, orientations.  Also, the only option should be tags on or off, with option automatically selected to "on"

[2017-03-25 21:04] panamint55 commented on #359
I think this changes should solve the issue.  Allen Glazner had the same comment.  We will need to make sure this is in FAQ and in the help.  We need to tell Carson about this.  Randy should talk with Basil and update him on this.  I will check with Allen.

[2017-03-27 16:19] jessicagood commented on #359
This is available in release 0.18.8

[2017-03-27 16:37] jessicagood commented on #365
Fixed with commit 3b35d51. I didn't change the styling of the details but there might be a way to make it look a little better. You can re-download the latest version (0.18.8) to see the update.

[2017-03-29 18:37] JEAndrew opened #366 "Spot data label in orientations tab"
Could we (you) make the label field to show the type (planar or linear feature type) in stead of the label. The value 'Label' could be in also shown, but the planar or linear feature type is more important.

[2017-03-29 18:41] JEAndrew opened #367 "Unclear slection are on orientations tab"
Unclear where to click to see/update data for each feature listed on the orientations tab. I just end up clicking a bunch in the area on and near the label and eventually I hit the right spot which appears to have no correspondence to anything shown on screen

[2017-03-29 18:47] jessicagood commented on #366
@JEAndrew The label for an orientation is taken from the feature type if no other label is entered by the user. So I think we have that already covered and with maximum flexibility for the user if someone does want to change the label to not use the feature type.

[2017-03-29 18:55] jessicagood commented on #367
Yea, you just click on the label and it opens the edit screen. Does anyone else have trouble with this?

I could condense the buttons on the right to a 3-dot menu for each orientation and add an Edit option in there for someone who is having trouble clicking on the label. Add an Associated Orientation Feature could also go in the 3-dot menu. That would clean up the screen a bit too.

[2017-03-29 19:13] JEAndrew commented on #367
maybe it is just slow to respond making me think I clicked in the wrong place. Is it possible to make the label seem like a nice clickable target. It took me a while to find this. I'll try on different devices to check response times. thanks

________________________________
From: Jessica Good <notifications@github.com>
Sent: Wednesday, March 29, 2017 1:55:03 PM
To: StraboSpot/strabo-mobile
Cc: An

[2017-03-29 19:13] JEAndrew commented on #367
________________________________
From: Jessica Good <notifications@github.com>
Sent: Wednesday, March 29, 2017 1:55 PM
To: StraboSpot/strabo-mobile
Cc: Andrew, Joseph E; Author
Subject: Re: [StraboSpot/strabo-mobile] Unclear slection are on orientations tab (#367)

Yea, you just click on the label and it opens the edit screen. Does anyone else have trouble with this?

I could condense the buttons

[2017-03-29 19:17] JEAndrew commented on #366
For my data imported from shapefiles, everything says no label in orientations tab

________________________________
From: Jessica Good <notifications@github.com>
Sent: Wednesday, March 29, 2017 1:47 PM
To: StraboSpot/strabo-mobile
Cc: Andrew, Joseph E; Mention
Subject: Re: [StraboSpot/strabo-mobile] Spot data label in orientations tab (#366)

@JEAndrew<https://github.com/JEAndrew> The label for a

[2017-03-29 19:21] jasonash commented on #366
Joe, this is the default behavior for the shapefile parser. I will change it to null for you to test.

[2017-03-29 19:22] jasonash commented on #366
Joe, please try a shapefile upload again. I have removed the default "no label" value from the orientations.

[2017-03-29 19:46] JEAndrew commented on #366
I'm on a roll today.  That didn't change anything with the label

The correct label from the feature type came up if I added a new spot to my uploaded data.

________________________________
From: Jason Ash <notifications@github.com>
Sent: Wednesday, March 29, 2017 2:22 PM
To: StraboSpot/strabo-mobile
Cc: Andrew, Joseph E; Mention
Subject: Re: [StraboSpot/strabo-mobile] Spot data label in orientat

[2017-03-29 19:57] jasonash commented on #366
OK, Joe try your upload again. I think it's sorted out now.

[2017-03-29 20:27] JEAndrew commented on #366
That appears to have worked.

________________________________
From: Jason Ash <notifications@github.com>
Sent: Wednesday, March 29, 2017 2:57 PM
To: StraboSpot/strabo-mobile
Cc: Andrew, Joseph E; Mention
Subject: Re: [StraboSpot/strabo-mobile] Spot data label in orientations tab (#366)

OK, Joe try your upload again. I think it's sorted out now.

-
You are receiving this because you were mentione

[2017-04-11 22:19] jessicagood commented on #334
See commit b65097015e9ce03f7a949c2f945d494be3eefa1d. More discussion here: https://github.com/StraboSpot/strabo-server/issues/54

[2017-04-11 22:19] #334 closed

[2017-04-21 16:03] JEAndrew opened #368 "Camera function not working Android"
I can add images from gallery but not via the camera function. I can take the photo and see it and accept it, but it does not get added to the spot

[2017-04-23 06:01] jessicagood commented on #368
@JEAndrew I might need a little more information as I can't duplicate the issue. What version are you using, how did you install it, exact steps, etc? Can anyone else duplicate it? It seems to be working fine on my Android with the latest version from the Google Play store.

[2017-04-23 13:01] JEAndrew commented on #368
VerSion 0.18.9, my galaxy 5s is up to date

I installed it through Google play

I can add an image from my phone photo gallery but not by using the strabo app camera. In the app image tab, It will take the photo, ehich I can see in my phone photo gallery. Strabo doesnt add it to the image tab.

Sent from my Verizon 4G LTE smartphone

-------- Original message --------
From: Jessica Good <notificat

[2017-04-24 14:20] jasonash commented on #368
@JEAndrew I just re-installed Strabo from the Google play store, and I can't seem to duplicate the problem. I tried installing on Lollipop, Nougat, and Marshmallow and all worked fine.

Can you tell us what version of Android you are running?

One thing to verify is that the Strabo app has the correct permissions to access images on your device. The easiest way to do this would be to uninstall and

[2017-04-24 15:45] JEAndrew commented on #368
OK, I'll reinstall it

________________________________
From: Jason Ash <notifications@github.com>
Sent: Monday, April 24, 2017 9:20 AM
To: StraboSpot/strabo-mobile
Cc: Andrew, Joseph E; Mention
Subject: Re: [StraboSpot/strabo-mobile] Camera function not working Android (#368)

@JEAndrew<https://github.com/JEAndrew> I just re-installed Strabo from the Google play store, and I can't seem to duplica

[2017-04-24 16:36] JEAndrew commented on #368
Uninstalled and then Reinstalled, but same result with camera and image tab. The app has permission to access and modify my storage.

I updated my galaxy 5s on April 14, I'm running android version 6.0.1

Sent from my Verizon 4G LTE smartphone

-------- Original message --------
From: Jason Ash <notifications@github.com>
Date: 4/24/17 9:20 AM (GMT-06:00)
To: StraboSpot/strabo-mobile <strabo-mobile

[2017-04-24 16:47] jasonash commented on #368
@JEAndrew I just re-installed StraboSpot from the play store to my Marshmallow (6.0.1) device and I'm able to take pictures and see them in the images tab.

When you try to add a picture, does the app allow you to take a picture and then crop it? What appears on the images tab once you add an image? Is there a "missing image" placeholder graphic or is the tab empty? After you try adding an image v

[2017-04-24 16:57] JEAndrew commented on #368
The app allows the photo to get taken, then cropped and then select type, then Return to image tab, but no image added

Sent from my Verizon 4G LTE smartphone

-------- Original message --------
From: Jason Ash <notifications@github.com>
Date: 4/24/17 11:47 AM (GMT-06:00)
To: StraboSpot/strabo-mobile <strabo-mobile@noreply.github.com>
Cc: "Andrew, Joseph E" <jeandrew@ku.edu>, Mention <mention@nore

[2017-04-24 16:58] JEAndrew commented on #368
Yes, I can add from gallery

Sent from my Verizon 4G LTE smartphone

-------- Original message --------
From: Jason Ash <notifications@github.com>
Date: 4/24/17 11:47 AM (GMT-06:00)
To: StraboSpot/strabo-mobile <strabo-mobile@noreply.github.com>
Cc: "Andrew, Joseph E" <jeandrew@ku.edu>, Mention <mention@noreply.github.com>
Subject: Re: [StraboSpot/strabo-mobile] Camera function not working Android

[2017-04-25 05:21] cashaw-mt opened #369 "iOS 10.1 install fails"
Installation of Strabo-mobile 0.18.9 from https://build.phonegap.com/apps/1289076/share fails. Attempts on iPhone and iPad mini running iOS 10.1

Returns dialog: Unable to Download App "Strabo-mobile" could not be installed at this time.

[2017-04-25 13:19] zmichels commented on #369
Have you registered your device with the development team? At this stage we still need to register devices with our provisional development license with Apple. In the near future (a few days or a week), the App should be available on the App Store. In the meantime, if you want to install Strabo ASAP, please send to me the UDID of the device you wish to add. Here are instructions for retrieving the

[2017-04-25 14:44] panamint55 commented on #369
We can send out a test flight invitation.

***********************************************
J. Douglas Walker
Isotope Geochemistry Laboratories
Nichols Hall
2335 Irving Hill Drive
Lawrence, KS  66045
785-864-7711
785-864-7789 (fax)
***********************************************

From: Zachary Michels <notifications@github.com>
Reply-To: StraboSpot/strabo-mobile <reply@reply.github.com>
Date: Tuesd

[2017-04-25 19:51] JEAndrew commented on #368
I'm wondering if it's due to the ku server specified security device administrator I have active on my galaxy 5s?

Sent from my Verizon 4G LTE smartphone

-------- Original message --------
From: Jason Ash <notifications@github.com>
Date: 4/24/17 11:47 AM (GMT-06:00)
To: StraboSpot/strabo-mobile <strabo-mobile@noreply.github.com>
Cc: "Andrew, Joseph E" <jeandrew@ku.edu>, Mention <mention@noreply.g

[2017-04-25 20:26] JEAndrew commented on #368
Tested with phone airy Ammonadministration off and the camera still did not add an image to the tab

Sent from my Verizon 4G LTE smartphone

-------- Original message --------
From: Jason Ash <notifications@github.com>
Date: 4/24/17 9:20 AM (GMT-06:00)
To: StraboSpot/strabo-mobile <strabo-mobile@noreply.github.com>
Cc: "Andrew, Joseph E" <jeandrew@ku.edu>, Mention <mention@noreply.github.com>
Subj

[2017-04-25 20:34] jasonash commented on #368
@JEAndrew I tried installing again on two devices today. I'm still unable to reproduce this problem. It must be something specific to your device. Are you running any other sort of malware/virus detection software by chance?

[2017-04-25 20:35] JEAndrew commented on #368
I solved it.  No image will be added using the camera if the GPS is off. No image will be added from gallery if GPS is off and the user chooses the current GPS location option.

Since these images are within a located spot, why do we have this extra location option? I would say we get rid of this extra location business.

Sent from my Verizon 4G LTE smartphone

-------- Original message --------
F

[2017-04-25 20:37] jasonash commented on #368
@JEAndrew That's really interesting. I'm not privy to the reason behind the extra location options, but maybe Jessica can remember why we have it. Whatever the case, we can get rid of it if everyone agrees we don't need it.

Thanks for your help with this.

[2017-04-25 22:01] jessicagood commented on #368
@JEAndrew @jasonash I haven't found the documentaction on who requested this feature or the reasoning yet. I'll keep looking.
 I think part of the thinking was that since a Spot can have varying sizes a user may want to know exactly where a photo was taken within a Spot. This is incomplete though since the same logic could be applied to other features within a Spot and we don't have a way to geota

[2017-04-27 04:26] cashaw-mt commented on #369
Thanks Zach & Doug. I can wait a week. If the App Store release is delayed I may proceed with the registration.  I would like a chance to test before field camp begins (15 May)!

[2017-05-11 19:01] jasonash opened #370 ""Other Maps" not saved in online version of app"
When creating an "Other Map" via the online version of the app, the map is not saved for the next session. I think this is due to the map information not being saved in the data model. Will investigate further when time allows.

[2017-05-25 18:32] jasonash commented on #370
Fixed with commit  74d1c6d

[2017-05-25 18:32] #370 closed

[2017-06-06 17:43] jessicagood opened #371 "Hide 'Set to My Location' for lines and polys"
If you hit the 'Set to My Location' button it changes lines and polys to a points.

[2017-06-06 17:44] jessicagood commented on #371
Hide set to my location for lines and polys

[2017-06-09 04:41] jessicagood commented on #359
Since this light gray background was not working for @btikoff the suggestion was made to change the background to yellow. How about the following instead? Adding the word '-----Select-----' and moving the drop-down arrow so it's not so far to the right?

In the screenshot below I was also experimenting with putting any informational text about a field in a pop-up you get to by hitting the blue 'i'

[2017-06-09 05:34] btikoff commented on #359
Ok, this is getting somewhere.  I like it - a lot.  It would be even better if it said Select (like it does now) AND also has color (as per Jason's suggestion).  The grey was an improvement but, it would be even better if there was a bright color.  I am 100% into Chartreuse for this field, partly because I think it would be effective, Doug might hate it, and we'd get to say chartreuse all the time

[2017-06-09 12:36] JEAndrew commented on #359
I like the blue (i) for the detail info. I don't really like the color chartreuse, it's way too 1960s. We could have a data input field look more like the current label and strike field where gray text tells the user about and where to input

[2017-06-09 14:28] btikoff commented on #359
I like the blue info as well - that is a great addition.
As far as chartreuse, I don't really care except for one thing:  **What is visible in the field in full sunlight.**  The grey does not work even in drizzly Ireland.  I can't do this today because I'm in Seattle (no sun in sight), but just go out with an iPad in the sun and look at a color wheel and see what works.  Actually, I get to Boise t

[2017-06-09 14:40] egbunse commented on #359
I really like the "Select" addition with the arrows moved up and think that solves the problem. I'm concerned that if we also make it a color people will think they are required to fill out that information and it will distract from the other fields. "Select" is attention-grabbing, but does not overpower the rest of the input choices.

[2017-06-09 22:00] jessicagood commented on #359
I was trying to get away from having to use a color (chartreuse or any other color) because it won't look good and like @egbunse says will make users think they have to enter data there. (The green or red line under a field is supposed to indicate that now.) The other problem with coloring the field input line is then what about the label or any other text in the app? If it has to be chartreuse in

[2017-06-10 02:58] panamint55 commented on #359
I agree with Jessica.  The 20 or so students had no issues with this over the last week.

Doug

***********************************************
J. Douglas Walker
Isotope Geochemistry Laboratories
Nichols Hall
2335 Irving Hill Drive
Lawrence, KS  66045
785-864-7711
785-864-7789 (fax)
***********************************************

From: Jessica Good <notifications@github.com>
Reply-To: StraboSpot/

[2017-06-10 03:18] zmichels commented on #359
I agree with Jessica and Doug.

On Jun 9, 2017, at 9:58 PM, panamint55 <notifications@github.com<mailto:notifications@github.com>> wrote:

I agree with Jessica. The 20 or so students had no issues with this over the last week.

Doug

***********************************************
J. Douglas Walker
Isotope Geochemistry Laboratories
Nichols Hall
2335 Irving Hill Drive
Lawrence, KS 66045
785-864-771

[2017-06-13 21:26] jessicagood opened #372 "Fix plotting orientation symbols if only dip direction entered"
From @panamint55:
"Orientation symbols do not plot right if you only enter dip direction.  It looks like it only uses strike and if nothing is entered it assume strike is 0"

[2017-06-13 21:27] jessicagood opened #373 "Fix Spot copy on image basemap"
From @panamint55:
"If you are on an image base map and try to copy a point it freezes and makes a corrupt spot(no geometry). It just spins and says loading image.  If you delete the spot (by restarting and going to the spot list) things are fine."

[2017-06-28 21:59] jessicagood commented on #372
fixed with commit 8175b1a

[2017-06-28 22:57] jessicagood commented on #371
Fixed with commit 54fa593

[2017-06-29 00:26] jessicagood commented on #373
Fixed with commit e4027a2

Not copy the geometry (see issue https://github.com/StraboSpot/strabo-mobile/issues/295) was correct but I found the errors that led to when the Spot was on an image basemap. Good catch!

[2017-06-30 23:58] jessicagood opened #374 "Symbology - overturned bedding"
From @btikoff: "Map symbology – there is no overturned bedding symbol.  It plots a “typical” strike and dip mark."

@JEAndrew Do you have the png for this that you could send me?

[2017-07-03 16:36] JEAndrew commented on #374
![overturned](https://user-images.githubusercontent.com/11632667/27801479-df68ff90-5fe3-11e7-9712-139ea0eb86bd.png)

[2017-07-03 16:37] JEAndrew commented on #374
Will this work? Let me know I can easily change the size and format. Sorry it took so long

[2017-07-04 03:21] jessicagood opened #375 "Plotting rake"
From @btikoff: "Big deal.  The rake is always plotted as a N trending line, regardless of what orientation it is.  I highly recommend that we do the math to calculate a trend and plunge from a strike,dip, and rake, and then use the existing program to just plot a trend and plunge."

I need more explanation here.

[2017-07-04 03:27] jessicagood commented on #374
@JEAndrew Do you want this vertical in it's default position (before rotation), like the others you sent me? Those were 167x667 and didn't have a white background.

[2017-07-04 03:42] jessicagood commented on #260
From @btikoff: "Add dikes as thick lines (similar to existing faults)"

[2017-07-04 04:08] jessicagood commented on #260
Fixed with commit ad6f518. Dikes are now medium lines (same as faults).

I also just noticed that faults and shear zones were thin red lines instead of medium red lines as specified in the Nov 21, 2015 comment form @panamint55. I fixed this as well.

[2017-07-06 05:00] jessicagood commented on #267
With commit 6a07aa1 I added the ability to define a custom color for a Tag. It's the color box (or crossed out box if not defined) to the right of the name in a Tag's properties.

When the map is drawn the program checks to see if a polygon feature has a geologic unit tag with a custom color defined. If so the polygon is filled with the custom color (plus an opacity factor of .4 so the map is stil

[2017-07-06 05:11] jessicagood commented on #359
With commit 27b275201fcd4ece8aaf7c67895af01b7aa8f546. I added text to the default view of a drop-down menu which says what you are selecting. See below. I think this should make it more obvious that you don't only have to click on the tiny arrow.

![image](https://user-images.githubusercontent.com/1493985/27896415-c334ef4a-61ce-11e7-89bc-bac260f674ea.png)

[2017-07-10 20:27] JEAndrew opened #376 "difficult spot selection Android"
very difficult to select spots on map view using Android Samsung galaxy 7S

[2017-07-12 20:45] jessicagood commented on #376
@JEAndrew Are you getting any of the popups on the map to show when tapping on a Spot? I can't get any of the touch events for popups on the map to register any more on my Galaxy S6 but the same events work fine on an emulator on the computer. Still looking into it.

[2017-07-12 21:37] jessicagood commented on #376
Looks like it broke because of an Android update. Updating OpenLayers from 3 to 4 fixes the problem so I'm working on making this update and fixing the other things that break because of the update.

[2017-07-12 21:40] JEAndrew commented on #376
Great!

Sent from my Verizon, Samsung Galaxy smartphone

-------- Original message --------
From: Jessica Good <notifications@github.com>
Date: 7/12/17 3:37 PM (GMT-07:00)
To: StraboSpot/strabo-mobile <strabo-mobile@noreply.github.com>
Cc: "Andrew, Joseph E" <jeandrew@ku.edu>, Mention <mention@noreply.github.com>
Subject: Re: [StraboSpot/strabo-mobile] difficult spot selection Android (#376)

Look

[2017-07-12 23:10] JEAndrew commented on #376
Nothing happens when taking to click on a spot, but in edit mode I can easily move a spot or vertex on a line

Sent from my Verizon, Samsung Galaxy smartphone

-------- Original message --------
From: Jessica Good <notifications@github.com>
Date: 7/12/17 2:45 PM (GMT-07:00)
To: StraboSpot/strabo-mobile <strabo-mobile@noreply.github.com>
Cc: "Andrew, Joseph E" <jeandrew@ku.edu>, Mention <mention@no

[2017-07-12 23:10] JEAndrew commented on #376
One out of maybe 80 touches actually worked to select a spot

Sent from my Verizon, Samsung Galaxy smartphone

-------- Original message --------
From: Jessica Good <notifications@github.com>
Date: 7/12/17 2:45 PM (GMT-07:00)
To: StraboSpot/strabo-mobile <strabo-mobile@noreply.github.com>
Cc: "Andrew, Joseph E" <jeandrew@ku.edu>, Mention <mention@noreply.github.com>
Subject: Re: [StraboSpot/strabo

[2017-07-12 23:11] jessicagood commented on #376
Fixed with commit b443632 (update to OpenLayers v4.2.0). Will be in next release.

Thanks for letting me know about this problem @JEAndrew!

[2017-07-12 23:11] #376 closed

[2017-07-12 23:14] jessicagood commented on #374
@JEAndrew Still waiting on this when you get a chance.

[2017-07-13 13:34] JEAndrew commented on #374
I am too remember putting a symbol into github a few weeks ago

Sent from my Verizon, Samsung Galaxy smartphone

-------- Original message --------
From: Jessica Good <notifications@github.com>
Date: 7/12/17 5:14 PM (GMT-07:00)
To: StraboSpot/strabo-mobile <strabo-mobile@noreply.github.com>
Cc: "Andrew, Joseph E" <jeandrew@ku.edu>, Mention <mention@noreply.github.com>
Subject: Re: [StraboSpot/stra

[2017-07-13 14:30] zmichels commented on #374
yeah, that happened a while ago. this was it.

[cid:C2739CFC-8C5A-4B09-ADEF-9DBB66A413C1@umn.edu]

On Jul 13, 2017, at 8:34 AM, JEAndrew <notifications@github.com<mailto:notifications@github.com>> wrote:

I am too remember putting a symbol into github a few weeks ago

Sent from my Verizon, Samsung Galaxy smartphone

-------- Original message --------
From: Jessica Good <notifications@github.com<ma

[2017-07-13 14:34] jessicagood commented on #374
Did you see my question after your comment about the initial orientation of
the symbol so when I apply the rotation in the same way as all the other
symbols we rotate it correctly? All the other symbols you sent me were
vertical and this one is horizontal. I'm assuming we should have this
symbol vertical as well but wanted to double check. And if you have a
larger copy, without a white background,

[2017-07-13 14:49] zmichels commented on #374
You are absolutely right, Jessica. The image should be rotated to match the others, so that when it is rotted as a symbol it communicates the proper information. I forget exactly how the unrotated other ones look, but the key attributes are the long line should match with other strike-dip symbols, and the “tail” stick off the long line should also match.

On Jul 13, 2017, at 9:34 AM, Jessica Good

[2017-07-13 14:49] zmichels commented on #374
You are absolutely right, Jessica. The image should be rotated to match the others, so that when it is rotted as a symbol it communicates the proper information. I forget exactly how the unrotated other ones look, but the key attributes are the long line should match with other strike-dip symbols, and the “tail” stick off the long line should also match.

[2017-07-13 19:24] jessicagood commented on #374
So like this before rotation?

![bedding_overturned](https://user-images.githubusercontent.com/1493985/28183448-5782175e-67c4-11e7-9c6f-2cc394969f37.png)

As we have it now for bedding:
dip = 0 we use the horizontal symbol
0 < dip < 90 inclined symbol
dip = 90 vertical symbol

How does overturned fit it in? Is the dip not relevant then and we need to look at the facing field instead?

[2017-07-13 19:26] zmichels commented on #374
looks right.  And yes, the key is that the geologist thinks (or has evidence) that the (current) upward facing direction in the layering that defines the plane is not the original upward facing direction.

On Jul 13, 2017, at 2:24 PM, Jessica Good <notifications@github.com<mailto:notifications@github.com>> wrote:

So like this before rotation?

[bedding_overturned]<https://user-images.githubuserco

[2017-07-13 20:20] jessicagood commented on #374
Added with commit c06bf51.

I pulled the change into the PhoneGap Build test app. No new version number. Could you check it out and report back here if it's right? Thanks

[2017-07-14 20:55] #366 closed

[2017-07-14 21:17] jessicagood commented on #312
Now that we can assign colors to tags this becomes possible however I think it would be hard to read if we change the colors of label text on the map. I could change the color of the label text in the popups though. It won't make it as easy to see the see the spatial extent of rocks right away but if the map gets too cluttered and has too many colors it will be hard to see too. Any other thoughts

[2017-07-20 19:08] jasonash opened #377 "Error on Offline Basemaps Screen"
The current phoneGap build (0.22.0) has a problem on the offline basemaps screen. It looks like the .js template isn't being parsed correctly. See attached image.
![offline_maps_error](https://user-images.githubusercontent.com/7904402/28434427-d880bd0c-6d54-11e7-8ba2-788e8d61960e.png)

[2017-07-20 19:08] jasonash commented on #377
The same error occurs on iPad and Android.

[2017-07-20 19:35] jessicagood commented on #377
@jasonash Hmm, I can't recreate on Android or in my dev environment. Was going to try iOS but I accidentally hit the button to upgrade the OS when I meant to cancel.

Anything else you can think of that can help me recreate. Maybe it's specific to a project? Or does it happen all the time?

[2017-07-20 19:55] jasonash commented on #377
@jessicagood  I did a fresh install from the phonegap link (https://build.phonegap.com/apps/1289076/share) and logged in and created a new project. I clicked on the map menu and then clicked on the mapbox satellite layer. Then I clicked on save map for offline use. This is what generated the image above.

Strangely, I just tried the above and it is working fine now.

The reason I opened this ticke

[2017-07-20 20:02] jessicagood commented on #377
Weird. I haven't updated the build in a few days so it's odd to get a different result. I'm not sure how to fix it if we can't recreate the problem. And the code for that page hasn't significantly changed since March so there must be something unique going on.

[2017-07-20 20:15] jasonash commented on #377
Yeah, I don't think we should spend much time on it. Let's just keep this ticket so we have a record of it happening in case others report it.

[2017-07-20 23:28] jessicagood commented on #310
Added with commit c38acea. @egbunse Does this give you the functionality you want? It will be in the next release to test, v0.23.0. Feel free to reopen this issue if it's not working right.

There are two date filters. One for the date of the Spot, which initially defaults to the date the Spot is created but the user may edit this field (the field is on the main Spot tab).  The other date field is

[2017-07-20 23:28] #310 closed

[2017-07-20 23:41] jessicagood commented on #196
What other filters do we want for the Spots list? We need to be careful to add what's important and not let this get too long. Right now we have the following:

- Name
- Date
- Date Modified (see https://github.com/StraboSpot/strabo-mobile/issues/310)
- Dataset

[2017-07-21 03:57] btikoff commented on #196
Hi-
  This is going to take a bit of thought.  I think:

1.       Is it linked to a peer reviewed publication – we don’t have that right now, but it is going to be critical.

2.       The level of the person taking the measurement, not just the name, when the measurement was taking.  I think we need this in the datasystem.

3.       I assume lat and long are a given.
Basil

From: Jessica Good <not

[2017-07-21 15:48] egbunse commented on #310
@jessicagood I have to admit, this wasn't the original way of implementing this we had in mind, but I like this a lot better! We sort of envisioned this becoming date then spots fitting that criteria then the next date in a list if that makes sense which now that I think about it seems clunky compared to filtering by a date interval. So yes, this does accomplish what we wanted!
However, I am getti

[2017-07-21 16:03] egbunse commented on #312
Is there a way of overwriting the pre-determined colors for points, lines, and polygons in map view? That might work, but I could see confusion when a feature has multiple tags... which color takes precedent?  I agree from looking at datasets again that if we changed label colors it would look very confusing. If you change the label text in the popups is there an easy way of enabling the selection

[2017-07-21 17:34] jessicagood commented on #196
Keep in mind this filter is for individual Spots, not datasets or projects.

For point 2 above, we can already record the name and date for a Spot and filter on both of these. I'm not sure what you mean by "the level of the person taking the measurement" though. We don't have a field for that in the Spot tabs. Spots/Datasets/Projects currently go under a single User since we don't have the ability

[2017-07-21 17:40] jessicagood opened #378 "Error Loading List of Projects From Server"
From @egbunse: "However, I am getting an error after updating to 0.23. I already had a dataset pulled up on my Strabo Mobile app so I tested the date filtering with it. But then I logged out to see mess with filtering in another dataset and can log in to another account(s) but can't get the "select an existing project" part to work. I've tried it for two separate accounts with the same results: Wh

[2017-07-21 17:59] jessicagood commented on #378
I'm trying to recreate this but I haven't been able to yet. I've tried on my Samsung S6 and in my dev environment. Is it still doing this for you? Anything else you can think of that may help me recreate? @jasonash Could the logon request have been successful on your end but not the request for the list of projects? It all seems fine to me now.

[2017-07-21 18:02] jasonash commented on #378
I just checked the server. Everything looks fine on that end.

[2017-07-21 18:19] egbunse commented on #378
@jessicagood @jasonash I uninstalled and reinstalled it on my phone and everything seems to be working great now. Should have thought to do that sooner- sorry about that!  You can close this.

[2017-07-21 18:52] btikoff commented on #312
HI-
  From my work with students, the rock type tab should take precedence on the field app.  On the desktop, it is more of an open question.
  Basil

From: Emily Bunse <notifications@github.com>
Reply-To: StraboSpot/strabo-mobile <reply@reply.github.com>
Date: Friday, July 21, 2017 at 6:03 AM
To: StraboSpot/strabo-mobile <strabo-mobile@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github

[2017-07-21 19:04] #378 closed

[2017-07-21 19:07] jessicagood commented on #312
Right now the only time colors in map view that are overwritten are if there is a geologic unit tag and a color assigned to that geologic unit tag. None of the other colors are overwritten.  Overwriting other colors may be a bigger issue to discuss.

I'll look into multiple popups or another way to more easily see the geologic unit extent.

[2017-07-25 17:31] egbunse opened #379 "Add English units for Trace Values"
I'm not sure if there was a discussion where we opposed the use of the English/Imperial system, but I think having the option to pick inches, feet, yards, or miles as measurement units might be helpful- it was needed in a little project for construction of a rock garden on campus. The place I encountered needing those units was under Trace Feature-->Unit of Scale Bar but it might be helpful for an

[2017-07-28 02:37] jessicagood commented on #377
@jasonash I figured out what this problem was. Fixed with commit a6762a8 and will be on v 0.24.0. On mobile the zoom levels aren't integer values necessarily so this was screwing up the calculation of the possible zoom levels to download when saving a map.

[2017-07-28 02:37] #377 closed

[2017-07-31 13:17] jasonash opened #380 "Plus Sign on Spots Page Doesn't Work"
When on the spots page and you click the plus sign, nothing happens. No modal is shown. The spot is actually added in the background but doesn't appear in the spots list. When you navigate away from the spots page to images and come back, the spots appear in the list. This was tested on iOS and reported by Virginia Toy.

[2017-07-31 19:57] jasonash commented on #380
Fixed with  2d31953

[2017-07-31 19:57] #380 closed

[2017-08-08 21:10] jessicagood commented on #380
Made the fix work with WEB with commit a595bab

[2017-08-09 00:16] jessicagood opened #381 "Spot Name Overwritten"
From Virginia Toy: "Annoying that if you type in spot name then go to ‘set from map’ it overwrites the name."

[2017-08-09 00:16] jessicagood commented on #381
Fixed with commit 2e815f6

[2017-08-09 00:16] #381 closed

[2017-08-24 04:33] jessicagood commented on #49
Added with commit 65f749a827c687bc456f7f494f47c604b472b909

[2017-08-24 04:33] #49 closed

[2017-08-24 20:02] jessicagood commented on #266
Fixed with commit 2e6f3fffa531c1d4c78d01242e11c5cfa11bdd96

[2017-08-25 02:24] jasonash commented on #336
This functionality now exists at strabospot.org.

[2017-08-25 02:24] #336 closed

[2017-08-26 15:34] #365 closed

[2017-08-26 15:34] jasonash opened #382 "Investigate switching offline tile downloads to use cordova file plugin."

[2017-08-26 15:35] jasonash opened #383 "When downloading offline tiles, automatically download lower zoom levels"

[2017-08-26 15:36] jasonash opened #384 "Don't display unavailable tilesets while offline."

[2017-08-26 15:36] jessicagood commented on #214
Switched to 100 with commit 39c6fe4

[2017-08-26 15:36] jasonash opened #385 "Back button to image basemap goes to main map"
While on the main map, click on a spot that has an image basemap. If you click on a spot on the image basemap to see its details and then click the back arrow, you are taken to the main map. You should be taken back to the image basemap.

[2017-08-26 15:38] jasonash opened #386 "Re-instate Manual Save Button"
When collecting data (an orientation for example) users often placed their devices down to more-closely examine things. If the device (iPad) went to sleep, any data saved on the current (orientation) page would be cleared and they would lose their progress. Maybe we should investigate adding a manual 'save' button or even add event handlers to each input to prevent this?

[2017-08-26 15:47] jasonash opened #387 "Add save label to top bar next to back button"
When collecting data (an orientation for example) users often placed their devices down to more-closely examine things. If the device (iPad) went to sleep, any data saved on the current (orientation) page would be cleared and they would lose their progress. Maybe we should investigate adding a manual 'save' button or even add event handlers to each input to prevent this?

[2017-08-26 15:47] jasonash opened #388 "Investigate addition of escape button to modals"

[2017-08-26 15:48] jasonash opened #389 "Add new tag "Rosetta""

[2017-08-26 15:49] jasonash opened #390 "Add choice of "not geologic unit" to tags filter. Put tag in parentheses on main spot page."

[2017-08-26 16:11] jasonash opened #391 "Add ability to zoom into static image when viewing via the app."

[2017-08-26 16:11] jasonash opened #392 "Add colored bars to top of the spot page (just like in spots list) that shows what data has been entered."

[2017-08-26 16:11] jasonash opened #393 "Set spot radius to meters and remove option of supplying unit."

[2017-08-26 16:16] jasonash opened #394 "Add "Mutually Crosscuts" and "Merges With" relationship types."

[2017-08-26 16:16] jasonash opened #395 "Add CSV loader with same functionality as Shapefile loader but for tabular CSV files."

[2017-08-26 16:17] jasonash opened #396 "While in a spot, add ability to see all "child" data (nested spots' data)."
Tree view of spots

[2017-08-26 16:19] jasonash opened #397 "Incorporate declination data for use with Strabo Compass"

[2017-08-26 16:19] jasonash opened #398 "Add KMZ import functionality to desktop"

[2017-08-26 16:21] jasonash opened #399 "Add "flyover" tag type."

[2017-08-26 16:32] jasonash opened #400 "Complete Desktop Workflow"
Enable a complete desktop workflow that allows users to create new projects and spots as well as offline basemaps and then allows them to somehow upload the entirety to device.

[2017-08-26 16:37] jasonash opened #401 "Redo Folds (per Basil)"

[2017-08-26 17:02] jessicagood commented on #390
Parentheses added with commit d68e6a5

[2017-08-26 18:50] jasonash opened #402 "Copy stereonet data to clipboard to paste into Allmendinger's Stereonet program."

[2017-08-26 18:51] jasonash opened #403 "Lasso spots and copy to clipboard for stereonet."

[2017-08-26 19:15] jessicagood opened #404 "Nesting Tab Bug"
Turf.js upgrade broke this

[2017-08-26 20:14] jasonash opened #405 "Add overview map to field notebook output"

[2017-08-26 20:14] jasonash opened #406 "Nest data in field notebook output."

[2017-08-26 20:15] jasonash opened #407 "Add DOI as option for Project (published)"

[2017-08-26 20:15] jasonash opened #408 "Add geology basemap to map options (from onegeology)"

[2017-08-26 22:19] jessicagood commented on #404
Fixed with commit ce94503.

Since this had worked before latest update to turf.js may have included a change so the second argument of `inside` must be a poly.

[2017-08-26 22:19] #404 closed

[2017-08-27 13:59] jessicagood commented on #389
@btikoff All the other tags have a subtype under the main type. For example, under the Concept tag we have Geological Structure, Marker Layer, Deformation Event etc. Are there any subtypes you want under Rosetta?

[2017-08-27 14:05] jessicagood commented on #399
@btikoff Should this be a main tag type or a subtype of Concept, Documentation, etc?

[2017-08-27 14:29] jessicagood commented on #394
Fixed with commit 88feb4d

[2017-08-27 14:29] #394 closed

[2017-08-27 14:38] jessicagood commented on #393
Fixed with commit 7e64715

[2017-08-27 14:38] #393 closed

[2017-08-27 15:17] jasonash opened #409 "Make desktop search live"

[2017-08-27 15:18] jasonash opened #410 "Add picture rotator to strabospot.org"

[2017-08-27 15:19] jasonash opened #411 "Add Demos of classic geology from spectacular places"
Add Demos of classic geology from spectacular places – Yellowstone, Grand Canyon,  Yosemite, etc. Make a demo account that is readonly

[2017-08-27 15:40] jasonash opened #412 "Develop disaster recovery option for strabospot.org (off-site)"

[2017-08-27 16:10] jessicagood commented on #389
Or should Rosetta be a subtype of Concept, Documentation, etc?

[2017-08-27 16:27] jasonash opened #413 "Add ability to upload georeferenced image to strabospot.org for serving our own tiles."
This would allow us to tie georeferenced image data to projects and preserve data.

[2017-08-27 18:37] JEAndrew opened #414 "Fold interlibrary angle symbol"
The kobo form uses the degree symbol but it shows up as a diamond symbol with a question mark in the app

[2017-08-28 17:35] panamint55 opened #415 "Migmatites added to possible relationships"
At this point "Relationships" only includes features or spots.  We need to make sure that migmatite constituents and migmatite class are features that can participate in relationships.

[2017-08-28 17:37] panamint55 opened #416 "Compass"
Compass capability needs to be added to several items:

All measurements in 3-D structures
Migmatite planar and linear fabrics

[2017-09-06 15:35] jessicagood commented on #383
Fixed with commit d9e0415.
When a user selects to save a map for offline use the app downloads all lower zoom levels (outer zooms) from the current zoom level of the map minus 1 to 0 which are need to make the current map view.

[2017-09-06 15:35] #383 closed

[2017-09-06 15:41] jessicagood commented on #187
Fixed with commit 934731e04ecee530c42721202da83d527657e4e5.
App checks up to five levels of outer zooms to see if there are any tiles that can be stretched to make the map at the requested zoom level. The stretched map tile is drawn on the fly - it's too many tiles to save the images for the stretched tiles. If a tile can't be displayed, just display a white screen instead of showing tile unavaila

[2017-09-06 15:41] #187 closed

[2017-09-07 15:44] jasonash commented on #403
Added with commit 95e58b50b5fac401427e5caaba3e4dc638260cee

[2017-09-07 15:44] #403 closed

[2017-09-07 15:45] jasonash commented on #402
Added with commit dded with commit 95e58b50b5fac401427e5caaba3e4dc638260cee

[2017-09-07 15:45] #402 closed

[2017-09-07 16:34] jasonash commented on #409
Done.

[2017-09-07 16:34] #409 closed

[2017-09-07 16:44] jasonash opened #417 "Add "Nested spots to Stereonet" option"
For a given spot, if spot is polygon and has nested spots, add option in three dot menu to copy data to clipboard for stereonet.

[2017-09-07 18:14] panamint55 commented on #417
Also, you can turn layers off in the legend.  The spot or download or lasso should only take data in active layers.  For example, if I have an area with foliation and fault attitudes/orientation, I would like to turn off faults and only get the foliations into stereonet.

[2017-09-07 18:14] panamint55 commented on #417
I am not sure we have to do this before app release, but it would be nice.  Otherwise, what is working now is fantastic.

[2017-09-07 18:43] jasonash commented on #389
Per Doug, Rosetta is its own supertype with no subtypes.

[2017-09-07 18:49] jasonash commented on #401
Per Doug, Kobo form is done and can be imported into app at any time.

[2017-09-07 18:53] jasonash opened #418 "Lasso routine - Only select spots displayed on map"
When lassoing spots for tags or stereonet, all spots are selected whether they appear on the map or not. This behaviour should be changed to only include those spots that currently appear on map.

[2017-09-07 19:15] jasonash commented on #410
Done.

[2017-09-07 19:15] #410 closed

[2017-09-07 20:37] jessicagood commented on #389
Thanks @jasonash. Added with commit 3fa0671

[2017-09-07 20:37] #389 closed

[2017-09-07 22:49] jessicagood commented on #401
We now have a field named `s_fold`, `z_fold` and `m_fold` in the Fold, Linear Orientation and Trace forms. Before the latest updates to Kobo Forms `s_fold`, etc was only in Trace. @JEAndrew Were you working on this? Can we give the `s_fold`, etc in the Fold and Linear Orientation forms a new name? The label can stay whatever you want.

[2017-09-07 22:59] jessicagood commented on #274
@JEAndrew The latest updates to Linear Orientation and Planar Orientation have the Feature Type fields back to where they used to be last year (after the strike, dip, trend plunge, etc fields). Last summer someone @btikoff? @panamint55? had wanted the type field before the measurement fields. If we want to go back to the measurement fields being first you probably want to do the same to Tabular Or

[2017-09-07 23:05] jessicagood commented on #401
Actually never mind the last comment, the problem was that the field names were the same but the field labels were different. Two of the forms had used a label s-fold and the other form was s fold. I made all three s-fold. so we're fine now. No more changes need to be made for this issue.

[2017-09-07 23:20] jessicagood commented on #401
Updated with commit 39d6250

[2017-09-07 23:20] #401 closed

[2017-09-08 18:39] jasonash commented on #418
Fixed with 25269a6843c4253ee41c09bee660078828931fc0

[2017-09-08 18:39] #418 closed

[2017-09-08 21:01] jessicagood commented on #274
I didn't have the recent forms off of Kobo so they are actually consistent. I updated the forms with commit ca5c24a.

[2017-09-08 21:01] #274 closed

[2017-09-12 04:34] jessicagood commented on #375
Added button to calculate trend and plunge with commit 669f773.

[2017-09-12 15:52] jasonash commented on #417
Completed with commit 5947a5f03518a949dbb5e27459aae7d960e99f13

[2017-09-12 15:52] #417 closed

[2017-09-12 20:22] jessicagood commented on #375
Updated with commit 1a2bccbdff0df7cf54aa2a9fc5852924537ccd93

[2017-09-13 19:07] jasonash opened #419 "Main Map Begin Nesting Locks up App"
When on the main map and you click the three dot menu then Begin Continuous Nesting and close the nesting modal, the entire app locks up and is no longer responsive.

I did some testing, and this issue was introduced with commit ed4410f3afe5e9b7193206e9bcb0d46519f9c4d3 (Updated Ionic to 1.3.3).

I looked through the modal code and I can't see where it is failing. There are no errors thrown.

Maybe

[2017-09-13 19:57] jessicagood commented on #419
I had to upgrade to 1.3.3 to get the ionic history stack working to fix the back button issues. I'll take a look at it too and see if there's anything I can see about fixing the issue.

[2017-09-14 04:18] jessicagood commented on #385
Fixed with commit be6fbd6

[2017-09-14 04:18] #385 closed

[2017-09-14 05:04] #107 closed

[2017-09-14 05:05] jessicagood commented on #257
Hid this until working properly. Commit e68f757

[2017-09-14 14:10] jasonash commented on #419
Fixed with commit f28daf5294a886b1ce1505d7dc0d24f05f3da04b

See https://gist.github.com/jasonash/59257fe09e716c15b67408193d99e5d9

[2017-09-14 14:10] #419 closed

[2017-09-14 14:30] jasonash opened #420 "Deleting Spot from Spot Page Locks up app"
When on a spot and you click the trashcan icon to delete the spot, the app locks up.

I tested, and this bug was introduced with commit be6fbd60b72f52f21bf8d7bf41ad9c3b72e326c5 (fixed view history stack)

[2017-09-14 15:10] jessicagood commented on #420
Fixed with commit 1045c208b20702273b1fae63975dc3523621a74b

[2017-09-14 18:46] jasonash opened #421 "Images appear rotated"
When taking a photo for a spot and assigning it as an image basemap, the resulting image basemap is rotated counter-clockwise 90 degrees. Under iOS, the thumbnail in the images tab is oriented correctly, but in Android, the thumbnail is also rotated 90 degrees counter-clockwise.

[2017-09-14 21:04] jasonash commented on #266
Turning off 'allowEdit' resulted in images being rotated incorrectly. Will investigate other options for fix.

[2017-09-15 04:58] #375 closed

[2017-09-15 05:00] jessicagood commented on #387
Added Save button (and Cancel button) to Orientations, 3D-Structures and Samples modals with commit 9802be2.

[2017-09-15 05:00] #387 closed

[2017-09-15 05:02] jessicagood commented on #388
Added to Orientations, 3D-Structures and Samples modals with commit 9802be2.

[2017-09-15 05:31] jessicagood commented on #388
Any other specific modals where this is a problem?

[2017-09-15 19:40] jasonash opened #422 "Desktop Version Broken"
Desktop version no longer loads specified project. Seems to default to last viewed project instead.

[2017-09-15 20:06] jasonash commented on #422
Fixed with commit 85881319507e538218468b61dae5d9bda7f762bd

There was a section of app.web.config.js commented out that was preventing desktop version from starting correctly

[2017-09-15 20:06] #422 closed

[2017-09-15 20:20] panamint55 opened #423 "Nesting and continuous nesting"
Nesting is still very buggy.  When I put on continuous nesting from the 3-dot menu I can start a nest.  But it intermittenly locks up.  Also, I cannot delete the nest.  Sometimes it deletes and the name/label stays on the map.  Other times it just locks up.

[2017-09-15 20:21] jasonash opened #424 "Dekstop Version Tabs not working."
The desktop version's tabs no longer work with spots that are fully populated. The tabs' functionality is very sporadic and doesn't work as expected. Various errors are thrown:

"Error: [ng:areq] Argument 'FormController' is not a function

Error: Argument 1 of Window.getComputedStyle is not an object.

[2017-09-15 20:41] jasonash commented on #424
Nevermind. This was due to cached .js files being loaded.

[2017-09-15 20:41] #424 closed

[2017-09-15 20:46] jasonash commented on #421
Fixed with 869917e6dfe68d6cf014c0df19b09eb008b361e1 by re-enabling editing on app. Unfortunately, this results in iOS cropping images square.

There is a better crop option available from Cordova which is supposed to fix this:

https://github.com/jeduan/cordova-plugin-crop/

Will investigate as time permits.

[2017-09-15 20:52] jasonash commented on #423
Doug made a good video demonstrating these issues:

https://www.dropbox.com/s/zhl1dzo4gicm80b/Nesting.mov?dl=0

[2017-09-16 18:21] JEAndrew opened #425 "Stereonet lasso for android"
I can't find this option. Doug told me it was under the 3dot dropdown on the map. It's not. I reinstalled strabospot from Google play this morning (v0.24.5)

[2017-09-16 18:40] JEAndrew opened #426 "Stereonet lasso for android"
I can't find this option. Doug told me it was under the 3dot dropdown on the map. It's not. I reinstalled strabospot from Google play this morning (v0.24.5)

[2017-09-16 18:41] JEAndrew commented on #426
Is it because there is no stereonet program for android?

[2017-09-16 19:04] jasonash commented on #426
This option is only available on iOS, since Rick Allmendinger's mobile stereonet is only available on iOS.

[2017-09-19 06:04] jessicagood commented on #423
I'm not sure about the intermittent lock ups but the deleting you demonstrated in the video was working correctly. When you start continuous nesting the app will draw a Spot polygon around whatever Spot (point, line or polygon) that you draw while continuous nesting is turned on. You were deleting a Spot polygon that you created while nesting was turned on and that did delete correctly. You were n

[2017-09-19 21:21] #356 closed

[2017-09-19 21:44] jessicagood opened #427 "Orientations: Rake"
From Vasilis Chatzaras & Nick Roberts: When adding a linear feature not associated with a plane, rake should not appear as an option

[2017-09-19 21:46] jessicagood opened #428 "Orientations: Update Trend/Plunge"
From Vasilis Chatzaras & Nick Roberts: When you have a planar feature with an associated linear feature defined by rake, the trend and plunge of the linear feature should change when you change the strike/dip of the associated plane. Right now, if you change the strike/dip of the plane, the associated line with rake does not change.

[2017-09-19 21:47] jessicagood opened #429 "Orientations: Trace"
From Vasilis Chatzaras & Nick Roberts: Trace feature option—should it include bedding?

[2017-09-19 22:00] jessicagood commented on #414
Yeah there were some symbols that I couldn't get to display properly. I'm not sure exactly which field you're referring to here. I can't find the symbols displayed as diamonds that I had see before. If you are able to change the KoBo form so it doesn't use special symbols let me know so I can update the app.

This is related to https://github.com/StraboSpot/strabo-mobile/issues/115

[2017-09-19 22:05] jessicagood opened #430 "Folds KoBo Form Updates"
From Vasilis Chatzaras & Nick Roberts:
- Foliation associated with folds should be after competent/incompetent material, right before field notes.
- No amplitude option currently.
- Kobo forms need to hide irrelevant stuff.
-  “Folded layer thickness” should be “Folded competent layer thickness”, or have a dialogue box.

[2017-09-19 22:05] jessicagood opened #431 "Symbology: Folds"
From Vasilis Chatzaras & Nick Roberts: No fold symbol shows up on the map.

[2017-09-19 22:07] jessicagood opened #432 "3D Structures KoBo Form Fields Updates"
From Vasilis Chatzaras & Nick Roberts:
- If selected symmetrical, it still asks for movement directionit should not do this.
- How is “wavelength” different from “scale”? Right now it has both.

[2017-09-19 22:07] jessicagood opened #433 "Fabric KoBo Form Updates"
From Vasilis Chatzaras & Nick Roberts:
- Right now, there is only kobo form info for toctonites—all the other categories are blank.

[2017-09-19 22:08] jessicagood opened #434 "Tensor KoBo Form Updates"
From Vasilis Chatzaras & Nick Roberts:
- elliptical data  “preferred shape orientation” should be called “shape preferred orientation”

[2017-09-20 00:44] jessicagood commented on #391
Fixed with commit 691fb5a

[2017-09-20 00:44] #391 closed

[2017-09-20 16:12] egbunse opened #435 "Other Basemaps Disappearing"
@jessicagood @jasonash
When I loaded 4 separate Mapbox Styles as 4 "Other basemaps" last on the desktop app they worked perfectly, but when I logged back in (this is on the strabo test account) all but 1 were gone. I loaded them again this morning and this keeps happening. Each layer shows up fine on the main map (I can see my data over them and zoom in and out) but when I time out of the site or

[2017-09-21 12:57] jasonash commented on #435
I suspect this is due to the project not being saved to liveDB when an other basemap is added.

[2017-09-21 15:48] egbunse commented on #435
@jasonash it seems projects aren't live saving because a project that I helped someone at the KGS start yesterday is gone today. I was under the impression that projects started on the online app were automatically saved.

[2017-09-21 15:52] jasonash commented on #435
@egbunse This is a separate issue. I will open another ticket.

[2017-09-21 15:52] jasonash opened #436 "Project not saving"
Per @egbunse:

Projects aren't live saving because a project that I helped someone at the KGS start yesterday is gone today. I was under the impression that projects started on the online app were automatically saved.

[2017-09-21 15:53] jasonash commented on #436
@egbunse Can you elaborate on how you are creating this project? Desktop projects are created on the "my data" page, which has nothing to do with live save. Are you trying to create a project in another way?

[2017-09-21 16:18] jessicagood commented on #435
@jasonash Aren't other maps supposed to be saved to the LiveDB with the project here?https://github.com/StraboSpot/strabo-mobile/blob/master/www/app/maps/other-maps/other-maps.factory.js#L64

[2017-09-21 16:20] jasonash commented on #435
@jessicagood Yes, that looks correct to me. I haven't actually duplicated this problem yet, so I'm not sure what is happening. I was just noting what I suspected.

[2017-09-21 17:21] egbunse commented on #435
@jasonash with regard to the other basemaps problem, here is the procedure I've been going through:
I create a Mapbox Style with GeoTiffs; then go to the online Strabo app and go to other basemaps; then I add a few basemaps, verify they're rendering correctly on the main map and then close the browser tab (Chrome). Then when I go back into the project I added them to and only one of the basemaps s

[2017-09-21 17:22] egbunse commented on #436
@jasonash Yes, the account was new with no data added yet. So I had Jon click the red + on the "My Data" page. Then we opened the online app and created a few spots within the default dataset.

[2017-09-21 17:48] jasonash commented on #436
@egbunse I am unable to duplicate this error. I create a new project, add spots via the desktop version of the app, and then close the browser. The spots are still there when I log back in. I'll leave this issue open and do more testing later.

[2017-09-21 18:05] jasonash commented on #435
@jessicagood I found the problem. The modified_timestamp on the project isn't being changed when the call to the liveDB is made.
Here are two calls made after adding other basemaps:
https://gist.github.com/jasonash/b0f20dd5fe326f4c75e72173b8f625db

[2017-09-21 18:21] jessicagood commented on #368
Removed lat and lng from images with commit 256c2fc.

[2017-09-21 18:21] #368 closed

[2017-09-21 19:01] egbunse commented on #436
@jasonash I'm sorry! This ended up being a miscommunication. He had deleted it. You can close this.

[2017-09-21 19:03] #436 closed

[2017-09-21 19:08] jessicagood commented on #435
@jasonash That looks like the problem. For other LiveDB project saves `saveProjectItem` is called first which sets the `modified_timestamp` but we don't have access to the `ProjectFactory` in the `OtherMapsFactory` so we'll either have to save the `modified_timestamp` directly or get teh`OtherMapsFactory` working such that it can call the `ProjectFactory`. This would mean storing the data a little

[2017-09-21 19:25] jasonash commented on #435
Yeah, I think this issue might be an outlier. Maybe we should hold off on trying to get it fixed until we've had time to think about it.

[2017-09-22 15:27] egbunse opened #437 "Other Basemaps Connection Error in iOS 11"
@jessicagood @jasonash When trying to add an "other basemap" using Mapbox, I've run into a problem that @panamint55 thinks is iOS 11 related. I'm on "Add a Map" and choose "Mapbox Styles," enter a title, copy the style URL from Mapbox, and confirm the access token is there from the user info then hit the checkmark. A message box pops up that says "Connection Error! Not able to connect to this map.

[2017-09-23 00:07] jessicagood commented on #437
@egbunse I upgraded my iPad to iOS 11 and followed your same steps using Mapbox Styles and it connects fine for me and the map displays as it should.

You're right that the style URL is shortened but the app also does this on Android and web. The app only really needs the end part of the URL but it's easier for the user to just copy the whole URL and for the app to grab (and only save) the part it

[2017-09-23 00:11] jasonash commented on #437
@jessicagood I tried with my iOS device (10.3.3) and it also worked fine. I did however have quite a bit of difficulty copying the url from mapbox. The copy button on their website doesn't seem to work with mobile safari, so I had to repeatedly try and select and copy. The first couple of times, I actually ended up with an incorrectly copied url, and had to try repeatedly to get it right. This of

[2017-09-25 16:07] egbunse commented on #437
@jessicagood I'll keep thinking of more info for you. I've tried to copy/paste the values into the Add a Map window from the Chrome and Safari apps with the same results. To get around the weird copying I emailed the info from both accounts (the copy/paste in Mapbox works fine on desktop) and copied into the app that way. This allowed me to see the full access token when I copied. This morning I e

[2017-09-26 18:34] jessicagood commented on #437
What about other iPads? And/or if you log out and log back in on the troublesome iPad? Or reinstall the app? One way I wasn't expecting that caused me to get the connection error that you described was if the letter case in the style URL was wrong. Mapbox will refuse the connection if the case is wrong. This shouldn't be an issue if you are copying though.

[2017-09-27 01:20] egbunse commented on #437
@jessicagood Using one of the field camp iPads on Friday I was able to successfully connect to basemaps on both my account and the KGS Mapbox account (but I think we were on a different Strabo account, Doug gave me the iPad to try). This is why we suspected it was an OS update issue. I can try logging out and/or reinstalling the app. We just downloaded it last week on TestFlight.

[2017-09-27 03:21] jessicagood commented on #419
There was still a problem with this if there is an alert inside the popover.hide() promise. Added promise to the alerts to fix this issue. See commit 77d5136d4c86018a00612b0eab3496957d1d18a1

[2017-09-27 03:29] jessicagood commented on #437
@egbunse Sorry I haven't been able to fix this. I even removed my development version and installed the TestFlight version you're using on my iPad with **iOS 11** and it works fine for me to connect to a Mapbox Style. @jasonash you tried on iOS 10.3.3 but what about 11? Or @panamint55 can you duplicate on your device?

[2017-09-27 16:59] egbunse commented on #437
@jessicagood I'm closing this because I finally got it to work on the online app and the iPad in question. What I did was copy the user access token from Mapbox to the User's profile on the online app and save (which I thought I had done, but I guess something got lost when I emailed the code). Then I logged into the account on the iPad and added the basemap successfully. Guess this is a case for

[2017-09-27 16:59] #437 closed

[2017-09-27 17:01] jessicagood commented on #437
@egbunse Oh great! Just happy it's actually working! Thanks for closing.

[2017-09-27 17:24] jessicagood commented on #391
There was a bug in this that the app was trying to calculate the clip of the image needed for the overzoom before the image was fully loaded. Fixed with commit 739ac58

[2017-10-19 19:20] panamint55 opened #438 "other base maps"
we need to have the same functionality to zoom to other basemaps that we have for the zoom to offline maps.  In other words, when you get the "other basemap" menu it should have the "map" zoom icon as well as the delete icon.

[2017-10-21 20:01] jessicagood commented on #420
Still a problem. From map make a new Spot. In Spot switch tabs then click delete Spot. App locks.

[2017-10-21 20:09] jessicagood opened #439 "Add Magnetic Declination"

[2017-10-22 00:54] panamint55 commented on #439
We just need a short explanation in the preferences on how to set the sign of the declination, and then it is a variable applied at the time a compass measurement is taken in strabo.  Do not apply if the person is using some other compass (somehow) or entering manually.  We then just add or subtract the declination from the strike and dip azimuth.  It has to be applied at time of measurement.  At

[2017-10-22 02:45] egbunse opened #440 "Cannot "Set From Map" on a Copied Spot in Online App"
@panamint55 discovered this today: If you're on the online app and copy a spot then click "Set From Map," click the point, line, or polygon tool in the main map view and draw the feature it creates a new Spot instead of setting the coordinates of the copied Spot. @jessicagood I can demo this behavior if you need it!

[2017-10-23 21:00] panamint55 opened #441 "Lasso routine not transferring associated orientations"
When you lasso for stereonet any measurements associated with the saved measurements are not transferred.  For example, if you have a foliation with an associated lineation, the lineation is not transferred as well.

[2017-10-27 15:48] jasonash commented on #441
Fixed with commit 6a23bf30f654803e87bd05eb1ac91372f8208069

[2017-10-27 15:48] #441 closed

[2017-10-31 17:08] jessicagood commented on #439
There is a magnetic declination field in the project description. When we add a magnetic declination (decimal) field to project preferences do you want to leave this field in project description or remove it? It is text so I can't use this field unless we change it to a decimal.

[2017-10-31 17:11] panamint55 commented on #439
It needs to be decimal, so I guess it goes in preferences.  It would probably be better to have it in the dataset too, but let me think about it.  We can probably talk about this on Thursday during our call.

Can you talk later today?

Doug

***********************************************
J. Douglas Walker
Isotope Geochemistry Laboratories
Nichols Hall
2335 Irving Hill Drive
Lawrence, KS  66045
78

[2017-10-31 22:49] jessicagood commented on #440
Fixed with commit 63f7b01

[2017-10-31 22:49] #440 closed

[2017-11-01 15:50] #425 closed

[2017-11-01 20:07] jessicagood commented on #439
If we move magnetic declination to project preferences and change the field input to an integer where do we want it in project preferences and under what group heading (since all the other fields have a group heading?

Currently magnetic declination is in project description as a text field. We can remove this field.

These change have to be made in KoBo forms. Also researching getting true headin

[2017-11-01 21:55] jessicagood commented on #420
Fixed with commit c9d9682

[2017-11-01 21:55] #420 closed

[2017-11-06 17:53] jessicagood commented on #294
Confirmed from plugin developers that there was not a solution for the true heading, they closed the issue because of lack of activity and because the plugin has been deprecated.

[2017-12-04 14:25] jasonash opened #442 "Other Feature -> Geomorphic Misspelled"
Geomorphic is misspelled under Other Feature
<img width="763" alt="screen shot 2017-12-03 at 8 35 07 pm" src="https://user-images.githubusercontent.com/7904402/33557351-9de1da3a-d8cc-11e7-8d45-a1cea827f085.png">

[2017-12-05 17:09] jessicagood commented on #442
Can you tell if anyone has used this field in the database? I'm thinking it's probably not used very much yet so I can just change it.

[2017-12-05 17:15] jasonash commented on #442
It looks like there are four spots with "geomorhic" as other_feature->type, but three of those are in your and my test datasets... so really there is only one spot affected. I would go ahead and change it. I'll update the one spot manually.

[2017-12-05 17:29] jessicagood commented on #442
Ok, thanks for looking. Fixed with commit b8e2f66

[2017-12-05 17:29] #442 closed

[2018-01-08 21:15] jessicagood opened #443 "Sed: Edit interval thickness"
From @UASTeam: Need means to edit interval thicknesses. Thicknesses can be changed in the sed lithologies- basics tab, but it doesn’t change in the graphic column.

[2018-01-08 21:16] jessicagood opened #444 "Sed: Preferences back button"
From @UASTeam: There’s a bug where I can’t back out of the Preferences menu; restart of app required to get out

[2018-01-08 21:17] jessicagood opened #445 "Sed: Carbonate colors disappear"
From @UASTeam: Carbonate colors disappear in the column after exiting/restarting the program (they’re there initially after adding the interval).

[2018-01-08 21:18] jessicagood opened #446 "Sed: X-axis labels need to be visible when zooming"
From @UASTeam:  It would be helpful to add the grainscale labels (x-axis) to the top of the column, since we can zoom and pan through the column. If there’s a way to fix the x-axis to the bottom of the page when zooming that would solve this issue. We just need some way to directly/clearly display grain size.

[2018-01-08 21:19] jessicagood opened #447 "Sed: Add interval modal buggy"
From @UASTeam:  Add interval dialogue seems a bit buggy (menus reappear after making selections, blank menus appear, menus appear in the corner).

[2018-01-08 21:22] jessicagood opened #448 "Sed: Weathering profile"
From @UASTeam:  We need a way to separate weathering profile from grain size. Perhaps by plotting on the left of the column for weathering and grain size on the right? If this is the case, we need to give the user the option to display column based on weathering profile only, grain size only, or a combination. Attached is a graphic to show the options.
![image](https://user-images.githubuserconten

[2018-01-08 21:23] jessicagood opened #449 "Sed: Data consistency"
From @UASTeam:  It would be very helpful for selections in the add interval dialogue to auto-populate/transfer over to the sed lithologies tab to cut down redundancy.

[2018-01-08 21:24] jessicagood opened #450 "Sed: Distinguishing Spots on strat section"
From @UASTeam: From the spot list, it's unclear which are the interval spots and which is the strat section spot. Either some kind of tag or sequential numbering system that reflects the strat section organization.

[2018-01-08 21:25] jessicagood opened #451 "Sed: Y-Axis label"
From @UASTeam: When zoomed out to see the whole column (for thick sections), it would be desirable for the y-axis label increment to change so the numbers aren't squished. For example, when zoomed in a 1 m increment is great, but when zoomed out it would be great to only show a 5 or 10 m increment. That would clean up the presentation of the column quite a bit.

[2018-01-08 21:26] jessicagood opened #452 "Sed: Font size"
From @UASTeam: Make font sizes larger to make them easier to read and to cut out unused space. The small text is needed when using the app on a small screen (phone), but for iPads it would be helpful to give the user an option to increase font size.

[2018-01-08 21:27] jessicagood opened #453 "Sed: Interval fill patterns"
From @UASTeam: Patterns are found in the section 37 of this publication: https://pubs.usgs.gov/tm/2006/11A02/

[2018-01-08 21:37] jessicagood commented on #450
@UASTeam The latest testing version has new icons for Spots mapped on a Strat Section (as opposed to Spots mapped on real geographic space or on an image basemap). See the image below. Will that work? Tags and/or sequential numbering for Spot labels can be added by the user already.
![image](https://user-images.githubusercontent.com/1493985/34693556-60da9390-f481-11e7-99f5-081d9ec69a91.png)

[2018-01-08 21:40] jessicagood commented on #452
@UASTeam: Do you mean the font for the labels on the x and y axes?

[2018-01-08 21:57] jessicagood commented on #445
@UASTeam this is because of the skip logic you have for the Principal Dunham Classification in Sed Composition. You have this field only showing up if Lithologies = limestone or dolomite. Principal Dunham Classification should be a top level field in the Lithologies Composition tab (ie. not contingent on any other fields being answered, unless you want to also include those field in the Add Interv

[2018-01-08 22:04] jessicagood commented on #449
@UASTeam: It looks to me like all of the data added in the Add Interval dialogue transfers over to the Lithologies tabs except the 3 fields below. Do you see any others?
- **Interval Type** and **Miscellaneous lithologies** aren't included in any of the Lithologies tabs. There needs to be fields for this data if you want them to carry over from the Add Interval dialogue.
- **Principal Dunham Class

[2018-01-08 22:08] jessicagood commented on #439
From @panamint55 1/3/2018: Here are my thoughts on getting the magnetic declination set with the Strabo compass.

1. Declination is in the project description under the “more” part.  Move it up so it is always showing.  I am not sure whether it should be in “manage” or “description” or “preferences.”  Or perhaps it should be under orientation.
1. Where ever it is, has a simple description of how i

[2018-01-08 22:18] UASTeam commented on #445
I'm not sure I understand. The skip logic for the Principal Dunham Classification is equivalent for the Principal Grain Size, so I'm not sure what needs to be changed.

[2018-01-08 22:35] jessicagood commented on #445
In Texture you have the Principal Grain Size field showing all the time (there is no skip logic for it). In Composition you have the Principal Dunham Classification field only show if the user selects limestone or dolomite in a field called Lithologies (the skip logic) but there is no way for the user to select this in the Add Interval dialogue.

So in Compositon we can't have the secondary field

[2018-01-09 17:18] UASTeam commented on #452
Just all-around. Visibility in the field will lend greatly to ease of use.

[2018-01-09 17:36] UASTeam commented on #445
In terms of workflow, the dunham classification should only show up if the limestone or dolomite lithologies are selected, so having the skip logic of the Composition tab as it is now is correct and necessary. I suppose one way to solve this might be to set up composition tabs for each lithology making the composition selection a top level field. However, this might be a bit clunky unless the user

[2018-01-17 00:31] jessicagood commented on #443
Fixed with commit 69f727d8a8699650d50c02d0f851b544f95197d2

[2018-01-17 00:31] #443 closed

[2018-01-17 15:32] #369 closed

[2018-01-17 15:36] jessicagood commented on #214
From Alan Glazner: Imported photos, panoramas, etc. are badly downsampled and pixelated.

[2018-01-17 15:56] jessicagood commented on #446
Grain size is now displayed in a pop-up for each interval. Having the x-axis labels at the top of the column could mean that in a very tall column one may not be able to see the bottom or top x-axis and this way would look more cluttered. And we cannot fix the x-axis to the bottom of page as solution. @UASTeam are we good with the needed data being in the popups?

[2018-01-17 16:00] jessicagood commented on #445
Fixed with commit 1d64819ce9758e39d86d7ce886fb3545bf88424c by adding Lithologies to the Add Interval modal.

[2018-01-17 16:00] #445 closed

[2018-01-17 16:45] jessicagood opened #454 "Sed: Update Map Popup After Edit"
Show new interval thickness in map popup after editing the interval thickness without having to leave the page and come back.

[2018-01-17 19:19] UASTeam commented on #446
Yes, the popup solution is great.

[2018-01-18 15:56] jessicagood commented on #454
Fixed with dcb2dcfc9eac42e1976e48fb19b43e7154227646

[2018-01-18 15:56] #454 closed

[2018-01-18 15:57] #446 closed

[2018-01-18 16:00] jessicagood opened #455 "Sed: Update Spot List Tabs with Data Indicators"
On the Spots List we show which tabs contain data. Update this for Sed tabs.

[2018-01-18 16:42] jessicagood commented on #449
@UASTeam **Interval Type** is still not anywhere in the 4 forms for the Lithologies tab. I'm guessing this should be in the Basics tab? The interval type is entered in the Add Interval dialogue but then there is no where for the field value to go or to view the field value again since the field is not in the Lithologies tab.

For example, if unexposed/covered is entered in the Add Interval dialogu

[2018-01-18 17:04] jessicagood commented on #449
@UASTeam Also the lithologies field is a select one in the Add Interval dialogue but a select multiple on the Composition part of the Lithologies tab. This fields must be a select one in the Lithologies tab. But if you need to have the user be able to choose other lithologies that will have to be another field. Maybe this needs a primary lithology field and then a other lithology field?

[2018-01-19 04:09] UASTeam commented on #449
I added the 'Interval Type' option to the Basics tab. And I changed the field in the add interval dialogue to 'Primary Lithology' and add it to the composition tab.

[2018-01-19 04:17] UASTeam opened #456 "Sed: Composition tab"
The composition tab within strat mode doesn't display all of the inputs listed in the kobo form.

[2018-01-19 04:23] UASTeam opened #457 "Sed: Carbonate Colors"
The coloration of the carbonate (limestone and dolomite) disappears after adding additional composition information in the composition tab. I suspect this relates to the select one lithology of the add interval dialogue vs the select many lithology in the composition tab.

[2018-01-19 04:30] UASTeam opened #458 "Sed: Info not saving for misc. rocks"
After a misc. rock interval has been added, any information added in the composition tab doesn't save.

[2018-01-23 22:22] jessicagood commented on #458
@UASTeam Which are the misc rocks? Is this still after the update today?

[2018-01-23 22:23] jessicagood commented on #457
@UASTeam Yes, this is was due to the select one vs. select many issues. It should be resolved with commit 06074f5b780513f2da64b54140ba5fccd3a0c2a8.

[2018-01-23 22:23] jessicagood commented on #456
@UASTeam Which are the fields that aren't showing up? Could this be due to the skip logic?

[2018-01-23 22:24] jessicagood commented on #449
@UASTeam This should be fixed with commit 06074f5b780513f2da64b54140ba5fccd3a0c2a8

[2018-01-23 22:25] jessicagood commented on #447
@UASTeam Is this issue still happening? I can't recreate any of the weird actions you describe.

[2018-01-23 22:26] jessicagood commented on #444
Fixed with commit b7b17a3c8836f5c47c295cca037833dbaf66fa4d

[2018-01-23 22:26] #444 closed

[2018-01-23 22:28] jessicagood opened #459 "Sed: New X-Axis Organization"
From @UASTeam: Have multiple x-axes like in the following image
![image](https://user-images.githubusercontent.com/1493985/35304238-0dbac130-0052-11e8-97cd-46e4115bf7bc.png)

[2018-01-23 22:30] jessicagood opened #460 "Sed: Change Units"
From @UASTeam: When the units for a strat section are changed in the strat section tab then convert thicknesses in all intervals in this section to changed units.

[2018-01-23 22:37] jessicagood commented on #459
@UASTeam Do you still want the multiple axes or is having them all on one axis working for you better now?

[2018-01-23 23:18] jessicagood commented on #455
fixed with f0b2525b60af1929667d1ccf13a08ab6314b3d5e

[2018-01-23 23:18] #455 closed

[2018-01-24 03:57] jessicagood opened #461 "Sed: Structures Tab"
@UASTeam: In the latest version I added the Sed Structures tab. It only shows up if the Spot is a Strat Interval. If this is wrong and you want it to appear all the time or on a different condition let me know and I I can easily change it.

This is a really long form so see how it loads and if you're not happy with it it may need to be broken into sections.

Also, the following changes need to be

[2018-01-24 15:57] jessicagood opened #462 "Sed: Interpretations Tab"
@UASTeam: In the latest version I added the Sed Interpretations tab. Most of the comments I put in the [issue for the new Sed Structures tab](https://github.com/StraboSpot/strabo-mobile/issues/461) are applicable here too.

This tab only shows up if the Spot is a Strat Interval. If this is wrong and you want it to appear all the time or on a different condition let me know and I I can easily chang

[2018-01-24 17:30] jessicagood commented on #460
Fixed with commit 70dabadacf263035970363de8f4cd02d17531385

[2018-01-24 17:31] #450 closed

[2018-01-25 22:18] jessicagood commented on #453
@UASTeam For the patterns I'll need each pattern you want to use as a separate .png and then to know which pattern to use based on which field and value.

[2018-01-30 17:12] jessicagood commented on #439
Added to the Master branch with commit b1caee3.

I did not add an image in the field info for Magnetic Declination yet. The field info is auto-generated based on what is in the KoBo form Hint field so adding an image means a special-case scenario for this field. It's doable though if you really think the image adds a lot of value. @panamint55 Let me know if
I should add the image and if the one on

[2018-02-04 20:32] UASTeam commented on #461
I've split the form into 4 separate forms, so it will be like the sed lithologies form. Depending on the direction that we go with the "Strat Smart" will decide if I go through the forms to make the changes that you list.

[2018-02-04 20:35] UASTeam commented on #459
Lets do the multiple axes and try it out. I think it will be a cleaner presentation.

[2018-02-04 20:35] UASTeam commented on #447
No, the issue seems fixed since the latest update.

[2018-02-04 20:38] UASTeam commented on #456
The issue seems resolved.

[2018-02-04 20:40] UASTeam commented on #458
Issue seems resolved.

[2018-02-05 15:32] #458 closed

[2018-02-05 15:32] #456 closed

[2018-02-05 15:32] #447 closed

[2018-02-05 15:49] jessicagood commented on #459
@UASTeam I'll start working on this but I am worried how this will look at on a small device, like a phone, with the X-axis being so big (tall). If you're trying to look at the lowest x-axis you won't be able to see many intervals unless you're really zoomed out, and then the text may be too small to read. @btikoff or @panamint55 Having used the app on a phone a lot do you have any thoughts on thi

[2018-02-05 18:13] jessicagood commented on #451
Fixed with commit eb35baa.

`zoom level >= 5` - show tick marks & labels at intervals of 1
`2 < zoom level < 5` - show tick marks & labels at intervals of 5
`zoom level <= 2` - show tick marks & labels at intervals of 10

`zoom level >= 6` - show interval tick marks & labels

[2018-02-05 18:13] #451 closed

[2018-02-05 18:14] #457 closed